.banner {
  display: none;
  background: #F7F9FC;
  text-align: center;
  line-height: 3.5;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif
}

.close {
  position: absolute;
  right: 10px;
  top: 20px;
  text-indent: -9999px;
  background: url(close.png);
  height: 16px;
  width: 16px;
  cursor: pointer;
}

#banner-title {
  color: #9B9B9B;
}
