.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.faint {
  opacity: 0.7;
}
.very-faint {
  color: #0071aa;
}
.underline-on-hover,
footer nav a {
  text-decoration: none;
}
.underline-on-hover:hover,
footer nav a:hover {
  text-decoration: none;
}
.margin-vertical {
  margin-top: 20px;
  margin-bottom: 20px;
}
.margin-vertical-double {
  margin-top: 40px;
  margin-bottom: 40px;
}
.no-float,
.centered-container,
.wide-centered-container,
.extra-wide-centered-container,
#content,
.nav-pills,
#navbar {
  float: none;
  clear: both;
  overflow: hidden;
}
.centered-x-and-y,
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}
.text-little {
  font-size: 0.8rem;
}
.special-color {
  color: #0071aa;
}
.dark-color,
p a,
p a:visited {
  color: #4a4a4a;
}
.float-left,
.nav-pills > li,
#nav-logo,
nav.sidebar {
  display: block;
  float: left;
}
.float-right,
header nav,
.sidebarred-content {
  display: block;
  float: right;
}
.side-padding {
  padding-left: 20px;
  padding-right: 20px;
}
.centered-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 640px;
  padding-left: 10px;
  padding-right: 10px;
}
.wide-centered-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 960px;
}
.extra-wide-centered-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1260px;
}
.float-container {
  float: none;
  clear: both;
  overflow: hidden;
}
.float-container > * {
  display: block;
  float: left;
}
.full-width {
  width: 100%;
}
.flex-container {
  display: flex;
}
.input-container {
  display: flex;
  font-size: 14px;
}
.input-container input::placeholder {
  color: #9b9b9b;
}
@media screen and (max-width: 640px) {
  .input-container {
    flex-direction: column;
  }
}
.input-left {
  display: flex;
  flex-grow: 1;
  margin-right: 10px;
  padding: 12px;
}
@media screen and (max-width: 640px) {
  .input-left {
    margin: 0px;
  }
}
.input-right {
  display: flex;
  flex-grow: 1;
  margin-left: 10px;
  padding: 12px;
}
@media screen and (max-width: 640px) {
  .input-right {
    margin-left: 0px;
    margin-top: 15px;
  }
}
.input-message {
  padding: 12px;
  font-size: 14px;
}
.input-message::placeholder {
  color: #9b9b9b;
}
.input-button {
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  width: 150px;
}
.input-button:hover {
  background: #0083cc;
}
@media screen and (max-width: 640px) {
  .input-button {
    float: none;
  }
}
.button,
button,
.card-button,
.stripe-button-el {
  border-radius: 20px;
  border: none;
  color: #fff !important;
  text-decoration: none;
  display: inline-block;
  background: #0071aa;
  padding: 12px 20px;
  line-height: 1;
  transition: all 0.2s;
}
.button:hover,
button:hover,
.card-button:hover,
.stripe-button-el:hover {
  background: #002d44;
}
.clearfix:before,
#content:before,
.clearfix:after,
#content:after,
.clearfix display table,
#content display table,
.clearfix content "",
#content content "" {
  clear: both;
}
.list-normal {
  text-align: left;
  padding-left: 20px;
}
.list-normal > li {
  margin: 10px 0;
}
.hidden {
  display: none;
}
@media screen and (max-width: 640px) {
  .hide-on-mobile {
    display: none !important;
  }
}
* {
  box-sizing: border-box;
}
body {
  text-rendering: optimizeLegibility;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  color: #000;
  font-family: 'Open Sans', serif;
}
h1 {
  color: #fff;
  z-index: 3;
  font-size: 4rem;
  line-height: 1.4;
  width: 100%;
  text-align: center;
  margin: 0;
  font-weight: 400;
}
h1.long-string {
  font-size: 3rem;
}
@media screen and (max-width: 640px) {
  h1 {
    font-size: 2.3rem;
  }
  h1.long-string {
    font-size: 2rem;
    padding-top: 60px;
  }
}
h2 {
  margin: 0;
  padding: 50px 20px 30px 20px;
}
h2.no-top-padding {
  padding-top: 0;
}
@media screen and (max-width: 640px) {
  h2 {
    padding-top: 30px;
  }
}
h3 {
  text-align: left;
  margin-top: 40px;
  margin-bottom: 15px;
  padding-bottom: 0;
}
p {
  margin: 25px 0 10px 0;
  padding: 0;
  color: #4a4a4a;
  text-align: left;
  line-height: 1.5;
}
p a,
p a:visited {
  text-decoration: underline;
}
abbr {
  cursor: help;
}
.pre {
  overflow-x: auto;
  font-size: 0.9rem;
  color: #4a4a4a;
  padding: 20px;
  background: #f7f9fc;
  border: 1px solid #e5e5e5;
  text-align: left;
  border-radius: 5px;
  max-height: 600px;
}
code {
  font-size: 0.9rem;
  font-family: 'Droid Sans Mono', monospace;
  margin: 0 0 15px 0;
  padding: 4px;
  background: #e5eff5;
}
code.shell:before {
  content: "$ ";
  opacity: 0.4;
}
pre > code {
  line-height: 1.7;
}
a,
a:visited {
  color: #0071aa;
}
a[data-reactid],
a[data-reactid]:visited {
  text-decoration: none;
  color: inherit;
}
.link,
.link:visited,
.link[data-reactid],
.link[data-reactid]:visited {
  color: #0071aa;
}
.link[data-reactid]:hover {
  text-decoration: underline;
}
.link.white,
.link.white:visited,
.link.white[data-reactid],
.link.white[data-reactid]:visited {
  color: #fff;
}
textarea {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
input,
textarea {
  padding: 5px;
  font-size: $regular-font-size;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
ol,
ul {
  color: #4a4a4a;
  text-align: left;
  line-height: 1.5;
}
.avatar {
  text-align: left;
  margin-top: 0px;
  margin-left: 15px;
  display: block;
  height: 32px;
  text-decoration: none;
  font-size: 0.9rem;
}
.avatar img {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 4px;
}
.avatar span {
  line-height: 32px;
  vertical-align: top;
}
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable,
.alert-dismissible {
  padding-right: 35px;
}
.alert-dismissable .close,
.alert-dismissible .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
}
.alert-success hr {
  border-top-color: #c9e2b4;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #31708f;
}
.alert-info hr {
  border-top-color: #a7e1ed;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #faebcc;
  color: #8a6d3b;
}
.alert-warning hr {
  border-top-color: #f8e2b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #ebccd0;
  color: #a94442;
}
.alert-danger hr {
  border-top-color: #e4babf;
}
.alert-danger .alert-link {
  color: #843534;
}
.list-ruled {
  text-align: left;
  list-style-position: inside;
}
.list-ruled li {
  padding-top: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #dfdfdf;
}
.list-ruled li:last-child {
  border-bottom-color: transparent;
}
.list-unstyled,
.list-horizontal,
.list-pills,
.nav-pills,
nav.sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 1.8;
}
.list-horizontal {
  text-align: center;
  padding: 25px 0px;
  font-size: 1rem;
}
.list-horizontal > li {
  display: inline-block;
}
.list-horizontal > li:last-child:after {
  content: '';
  padding: 0;
}
.list-horizontal > li:after {
  content: '•';
  padding: 7px;
  color: #4a4a4a;
}
.list-horizontal > li a {
  text-decoration: none;
  color: #4a4a4a;
}
.list-pills {
  text-align: center;
}
.list-pills > li {
  display: inline-block;
  margin: 0 10px;
  font-size: 0.8rem;
}
.list-pills a {
  text-decoration: none;
  padding: 4px 14px 6px 14px;
  border-radius: 20px;
  line-height: 1;
  color: #4a4a4a;
  background: #f0f0f0;
  transition: all 0.1s;
}
.list-pills a:hover,
.list-pills a.active {
  color: #fff;
  background: #0071aa;
}
.card {
  min-width: 300px;
  background: #f7f9fc;
  color: #4a4a4a;
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  padding: 40px 10px 40px 10px;
  position: relative;
}
.card ul li {
  color: #4a4a4a;
  text-align: center;
}
.card-flex-container {
  justify-content: center;
  display: flex;
}
@media screen and (max-width: 640px) {
  .card-flex-container {
    flex-direction: column;
    padding: 0 20px;
  }
}
@media screen and (min-width: 640px) {
  .card-flex-container {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.card-flex-container > * {
  margin: 10px;
}
@media screen and (max-width: 640px) {
  .card-flex-container > * {
    width: 100%;
    margin: 10px 0;
  }
}
.price-description {
  margin-top: 10px;
}
.card-free {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.8;
  color: #0071aa;
}
#free-align {
  width: 100%;
  height: 37px;
}
.pricing-message {
  color: #4a4a4a;
  text-align: center;
  font-size: 14px;
}
.card-price {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.4;
  margin-left: -10px;
  color: #0071aa;
}
.card-price:before {
  content: "$";
  font-size: 1.2rem;
  opacity: 0.4;
  padding-right: 3px;
  line-height: 2;
  vertical-align: text-top;
  font-weight: 400;
}
.card-button,
.stripe-button-el {
  background: #0071aa;
  border-radius: 18px;
  height: 35px;
  border: none;
  color: #fff;
  padding: 12px 20px;
  line-height: 1;
  width: 80%;
  margin-top: 20px;
  transition: all 0.2s;
  font-size: 0.8rem;
}
.card-button:hover,
.stripe-button-el:hover {
  background: #0083cc;
}
.card-button-inactive {
  background: none;
  cursor: default;
}
.card-button-inactive:hover {
  background: none;
}
.upd_subscr {
  background-color: #f89406;
}
.upd_subscr:hover {
  cursor: auto;
  background-color: #f89406;
}
.company-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 640px) {
  .company-row {
    flex-direction: column;
  }
}
.company-row:nth-child(odd) {
  margin-bottom: 20px;
}
@media screen and (max-width: 860px) {
  .company-row:nth-child(odd) {
    margin-bottom: 5px;
  }
}
.company-col {
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 860px) {
  .company-col {
    flex-direction: column;
  }
}
@media screen and (max-width: 640px) {
  .company-col {
    width: 100%;
  }
}
.company-logo-holder {
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 860px) {
  .company-logo-holder {
    margin-bottom: 20px;
  }
}
.customer-stories {
  padding-top: 50px;
}
.company-statement-holder {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  padding-bottom: 25px;
}
@media screen and (max-width: 640px) {
  .company-statement-holder {
    width: 100%;
  }
}
.company-statement-holder h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}
.statement-right {
  padding-left: 50px;
}
@media screen and (max-width: 640px) {
  .statement-right {
    padding-left: 0px;
  }
}
.statement-left {
  padding-right: 50px;
}
@media screen and (max-width: 640px) {
  .statement-left {
    padding-right: 0px;
  }
}
.company-quote {
  font-style: italic;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #4a4a4a;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .company-quote {
    text-align: center;
  }
}
.company-containers {
  display: flex;
  flex-direction: column;
}
.company-author {
  color: #4a4a4a;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}
@media screen and (max-width: 640px) {
  .company-author {
    text-align: center;
  }
}
.company-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (max-width: 640px) {
  .company-container {
    flex-direction: column;
  }
}
.company-divider {
  background-color: #c2c2c2;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
}
@media screen and (max-width: 640px) {
  .company-divider {
    margin-top: 25px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 640px) {
  .company-opposite {
    flex-direction: column-reverse;
  }
}
.customer-padding {
  padding-left: 50px;
  padding-right: 50px;
}
.company-statement {
  display: flex;
}
.company-logo-holder {
  background-color: #f7f9fc;
  height: 200px;
  width: 200px;
  display: flex;
}
@media screen and (max-width: 640px) {
  .company-logo-holder {
    width: 100%;
  }
}
.company-logo {
  display: flex;
  width: 153.33333333333334px;
  height: 153.33333333333334px;
  margin: 30px;
  transition: all 0.3s;
  opacity: 0.5;
  filter: #808080;
  filter: grayscale(1);
  -webkit-filter: grayscale(1);
  align-items: center;
  justify-content: center;
}
.company-logo img {
  width: 55%;
}
@media screen and (max-width: 640px) {
  .company-logo {
    width: 50%;
    height: auto;
    margin: 40px auto;
    float: none;
    clear: both;
  }
}
.company-logo:hover {
  opacity: 1;
  filter: none;
  -webkit-filter: grayscale(0);
}
.logo-large img {
  width: 70%;
}
.logo-largest img {
  width: 80%;
}
.language-logo {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  opacity: 0.3;
  transition: all 0.3s;
}
.language-logo:hover {
  opacity: 0.6;
}
.language-logo img {
  width: 100%;
}
#map-wrapper {
  background-color: #0071aa;
  height: 230px;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  z-index: 1;
}
@media screen and (max-width: 640px) {
  #map-wrapper {
    height: 240px;
  }
}
#map {
  background: #0071aa no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 230px;
}
#map.amsterdam {
  background-image: url("/static/dist/images/maps/amsterdam.png");
}
#map.boston {
  background-image: url("/static/dist/images/maps/boston.png");
}
#map.delhi {
  background-image: url("/static/dist/images/maps/delhi.png");
}
#map.new-orleans {
  background-image: url("/static/dist/images/maps/new-orleans.png");
}
#map.new-york {
  background-image: url("/static/dist/images/maps/new-york.png");
}
#map.paris {
  background-image: url("/static/dist/images/maps/paris.png");
}
#map.san-francisco {
  background-image: url("/static/dist/images/maps/san-francisco.png");
}
#map.vancouver {
  background-image: url("/static/dist/images/maps/vancouver.png");
}
@media screen and (max-width: 640px) {
  #map {
    height: 240px;
    background-attachment: scroll;
  }
}
#content {
  padding: 0px;
  position: relative;
}
#google-map-holder {
  overflow: hidden;
}
.testimonial {
  text-align: left;
  line-height: 1.2;
}
.testimonial:before,
.testimonial:after {
  opacity: 0.3;
  font-size: 1.4rem;
  font-family: Georgia;
  content: "\201c";
}
.testimonial:after {
  content: "\201d";
}
.banner-background {
  background: #f7f9fc;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 75px 25px 75px 25px;
}
footer {
  padding-top: 100px;
}
footer nav {
  text-align: center;
  margin: 10px 0 50px;
}
footer nav a {
  color: #4a4a4a;
  line-height: 3;
  padding-left: 10px;
  padding-right: 10px;
}
#logo-black {
  color: #000;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
}
#logo-black img {
  width: 100px;
  opacity: 0.2;
}
#logo-black .logotype {
  display: block;
  line-height: 2;
}
#logo-black .logotype span {
  opacity: 0.5;
}
header {
  height: 290px;
  background-color: #0071aa;
  position: relative;
}
@media screen and (max-width: 640px) {
  header {
    height: 300px;
  }
}
header nav {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 0.8rem;
  line-height: 4.8;
}
header nav a,
header nav a:visited,
header nav a:active {
  text-decoration: none;
  display: inline-block;
  color: #9b9b9b;
  padding: 0 15px;
}
header nav a:hover,
header nav a:visited:hover,
header nav a:active:hover,
header nav a.active,
header nav a:visited.active,
header nav a:active.active {
  text-decoration: underline;
}
@media screen and (max-width: 760px) {
  header nav a,
  header nav a:visited,
  header nav a:active {
    padding: 0 6px;
  }
}
@media screen and (max-width: 640px) {
  header nav {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 590px) {
  header nav {
    line-height: 3.3;
  }
}
#navbar {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f00;
  font-size: 0.8rem;
  top: 0;
  left: 0;
}
@media screen and (max-width: 590px) {
  #navbar {
    flex-direction: column;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}
#nav-logo-holder {
  width: 200px;
}
@media screen and (max-width: 760px) {
  #nav-logo-holder {
    display: none;
  }
}
#menu-options {
  display: flex;
  justify-content: center;
  flex-grow: 2;
  margin-left: 70px;
}
#menu-options a,
#menu-options a:visited {
  margin-left: 10px;
  margin-right: 10px;
  color: #9b9b9b;
  text-decoration: none;
}
#menu-options a.active {
  text-decoration: underline;
}
@media screen and (max-width: 760px) and (min-width: 590px) {
  #menu-options {
    justify-content: flex-start;
    margin-left: 30px;
  }
}
@media screen and (max-width: 590px) {
  #menu-options {
    justify-content: center;
  }
}
#nav-logo {
  position: relative;
  padding: 15px 10px;
  color: #fff;
  line-height: 1;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
}
#nav-logo img {
  width: 100px;
}
#nav-logo img span {
  opacity: 0.5;
}
@media screen and (max-width: 640px) {
  #nav-logo {
    display: none;
  }
}
#search-holder {
  z-index: 5;
  border: 1px solid #bababa;
  display: inline-block;
  border-radius: 30px;
  margin-right: 10px;
  line-height: normal;
  margin-left: 10px;
  width: 200px;
  height: 35px;
  margin-top: 1px;
}
#search-holder input[type="submit"] {
  outline: none;
  border-radius: 15px;
  background: #0071aa;
  width: 45px;
  height: 30px;
  padding: 0px;
  border: none;
  color: #fff;
}
#search-holder input[type="submit"]:hover {
  background: #0083cc;
}
.accout-sign-out-divider {
  padding: 0 5px;
}
.nav-signup-search-container {
  display: flex;
}
.signup-container {
  display: flex;
  align-items: center;
}
.signup-container .sign-in-icon {
  height: 30px;
  margin-right: 10px;
}
.signup-container .sign-in {
  margin-right: 10px;
  color: #9b9b9b;
  text-decoration: none;
  white-space: nowrap;
}
.signup-container .sign-in:hover {
  text-decoration: underline;
}
.signup-container .vertical-line {
  margin-left: 10px;
  margin-right: 10px;
  width: 1px;
  height: 35px;
  border-right: 1px solid #bababa;
}
#ip-search-form {
  width: 200px;
}
#search-input {
  border-radius: 30px;
  border: 0;
  outline: none;
  padding-left: 15px;
  height: 32px;
  width: 148px;
}
nav.sidebar {
  padding: 10px;
  width: 280px;
}
@media screen and (max-width: 760px) {
  nav.sidebar {
    display: none;
  }
}
nav.sidebar li a {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  text-align: left;
  padding: 0 10px;
  display: block;
  line-height: 2.4;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  color: #4a4a4a;
  background: transparent;
  transition: all 0.1s;
}
nav.sidebar li a:hover,
nav.sidebar li a.active {
  color: #fff;
  background: #0071aa;
}
nav.sidebar li.subitem a {
  padding-left: 20px;
  opacity: 0.6;
  font-size: 0.8rem;
}
.sidebarred-content {
  width: calc(100% - 280px);
  padding-left: 20px;
  padding-right: 20px;
}
.sidebarred-content h2,
.sidebarred-content h3,
.sidebarred-content h4,
.sidebarred-content h5,
.sidebarred-content h6 {
  text-align: left;
  padding-left: 0;
  padding-bottom: 10px;
}
@media screen and (max-width: 760px) {
  .sidebarred-content {
    width: 100%;
    padding: 0;
  }
}
table {
  width: 100%;
  text-align: left;
  color: #4a4a4a;
}
tr {
  border-top: 1px solid #ddd;
}
tr:first-child {
  border-top: none;
}
td,
th {
  line-height: 1.5;
  padding: 10px 5px;
}
th {
  opacity: 0.5;
  font-weight: normal;
}
.tipsy {
  font-size: 15px;
  position: absolute;
  padding: 7px;
  z-index: 100000;
}
.tipsy-inner {
  background-color: #fff;
  color: #777;
  max-width: 200px;
  padding: 7px 10px 6px 10px;
  text-align: center;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}
.tipsy-arrow {
  display: none;
  position: absolute;
  width: 0;
  height: 0;
  line-height: 0;
  border: 5px dashed #000;
}
.tipsy-arrow-n {
  border-bottom-color: #fff;
}
.tipsy-arrow-s {
  border-top-color: #fff;
}
.tipsy-arrow-e {
  border-left-color: #fff;
}
.tipsy-arrow-w {
  border-right-color: #fff;
}
.tipsy-n .tipsy-arrow {
  top: 0px;
  left: 50%;
  margin-left: -5px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-nw .tipsy-arrow {
  top: 0;
  left: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-ne .tipsy-arrow {
  top: 0;
  right: 10px;
  border-bottom-style: solid;
  border-top: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-s .tipsy-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-sw .tipsy-arrow {
  bottom: 0;
  left: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-se .tipsy-arrow {
  bottom: 0;
  right: 10px;
  border-top-style: solid;
  border-bottom: none;
  border-left-color: transparent;
  border-right-color: transparent;
}
.tipsy-e .tipsy-arrow {
  right: 0;
  top: 50%;
  margin-top: -5px;
  border-left-style: solid;
  border-right: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.tipsy-w .tipsy-arrow {
  left: 0;
  top: 50%;
  margin-top: -5px;
  border-right-style: solid;
  border-left: none;
  border-top-color: transparent;
  border-bottom-color: transparent;
}
.triplet {
  width: 300px;
  margin: 10px;
}
@media screen and (max-width: 640px) {
  .triplet {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.triplet-heading {
  text-align: center;
  margin: 0;
  padding: 0;
}
.triplet-blurb {
  margin-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (max-width: 640px) {
  .asn-block-item {
    width: 50% !important;
  }
}
.asn-block-item {
  width: 25%;
}
.footer-holder {
  width: 100%;
  padding: 20px;
  min-height: 100px;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  font-size: 16;
  padding-bottom: 50px;
}
@media screen and (max-width: 760px) {
  .footer-holder {
    flex-direction: column;
  }
}
.footer-divider {
  background-image: url("/static/images/dot-divider.png");
  background-size: 4px 4px;
  background-position: center center;
  background-repeat: no-repeat;
  width: 50px;
  min-height: 20px;
  height: 100%;
}
@media screen and (max-width: 760px) {
  .footer-divider {
    display: none;
  }
}
.footer-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .footer-row {
    flex-direction: column;
  }
}
.footer-column a,
.footer-column a:visited {
  color: #4a4a4a;
  text-decoration: none;
}
@media screen and (max-width: 760px) {
  .footer-column {
    width: 100px;
    padding: 3px;
  }
}
#footer-icon {
  background-image: url("/static/images/logo-textless.png");
  width: 150px;
  min-height: 60px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
@media screen and (max-width: 760px) {
  #footer-icon {
    order: -1;
    width: 100%;
    margin-bottom: 10px;
  }
}
#extension-image {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  margin-bottom: -8px;
  background: url("/static/dist/images/icon_ipinfo.png") center center no-repeat;
  background-size: cover;
  box-sizing: inherit;
}
#banner-section {
  background: #f7f9fc;
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
#feature-centered {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
}
.feature {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  width: 33.3%;
}
@media screen and (max-width: 640px) {
  .feature {
    padding-bottom: 50px;
  }
}
.banner-header {
  text-align: center;
  font-weight: 600;
  color: #4a4a4a;
  font-size: 18px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.banner-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 50px;
}
@media screen and (max-width: 640px) {
  .banner-holder {
    flex-direction: column;
    align-items: center;
  }
}
.banner-item-header {
  padding: 25px 0 25px 0;
  color: #4a4a4a;
  font-weight: 300;
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
}
.varying-height-header {
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 640px) {
  .varying-height-header {
    height: 120px;
  }
}
@media screen and (max-width: 1070px) and (min-width: 640px) {
  .varying-height-header {
    height: 160px;
  }
}
@media screen and (max-width: 750px) and (min-width: 640px) {
  .varying-height-header {
    height: 200px;
  }
}
.reliability-icon {
  height: 60px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
.reliability-description {
  padding: 0 20px 0 20px;
  color: #4a4a4a;
  font-weight: 300;
  line-height: 1.8;
  font-size: 14;
}
.clock-icon {
  background-image: url("/static/images/clock-icon.png");
}
.trophy-icon {
  background-image: url("/static/images/trophy-icon.png");
}
.check-icon {
  background-image: url("/static/images/check-icon.png");
}
.feature-text {
  color: #4a4a4a;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
  font-size: 22px;
}
.feature-description {
  height: 75%;
  padding: 40px;
}
.feature-description p {
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 300;
}
.padding-top {
  padding-top: 100px;
}
