#map.brazil {
  background-image: url("/static/dist/images/maps/brazil.png");
}

#map.dubai {
  background-image: url("/static/dist/images/maps/dubai.png");
}

#map.japan {
  background-image: url("/static/dist/images/maps/japan.png");
}

#map.la {
  background-image: url("/static/dist/images/maps/la.png");
}

#map.london {
  background-image: url("/static/dist/images/maps/london.png");
}

#map.mountainview {
  background-image: url("/static/dist/images/maps/mountainview.png");
}

#map.newyork {
  background-image: url("/static/dist/images/maps/newyork.png");
}

#map.northcarolina {
  background-image: url("/static/dist/images/maps/northcarolina.png");
}

#map.sanfran {
  background-image: url("/static/dist/images/maps/sanfran.png");
}

#map.southafrica {
  background-image: url("/static/dist/images/maps/southafrica.png");
}

#map.sydney {
  background-image: url("/static/dist/images/maps/sydney.png");
}

#map.toronto {
  background-image: url("/static/dist/images/maps/toronto.png");
}

#map.world {
  background-image: url("/static/dist/images/maps/world.png");
}

#navbar {
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background: white;
}

#nav-logo {
  position: relative;
  padding: 15px 10px;
  color: #fff;
  line-height: 1;
  font-weight: 700;
  font-size: 1.1rem;
  text-decoration: none;
  left: 60px;
}

#nav-logo img {
  width: 100px;
}

#ip-search-form input[type=submit] {
  background: rgb(0,80,130);
}

a,
a:visited {
  color: #0071AA;
}

th {
  color: #4A4A4A;
}

#content {
  padding-top: 40px;
}

@media screen and (max-width: 640px) {
  #feature-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #feature-centered {
    flex-direction: column;
    align-items: center;
  }
  #reliability-holder {
    flex-direction: column;
    align-items: center;
  }
  .feature-description {
    padding: 5px;
  }
  .feature {
    width: 80%;
  }
}
