/* section base. Inherriting definitions */

HTML {font-size: 100%;}
H1, H2, H3, H4, BODY, P, TABLE, TD, INPUT, SELECT, TEXTAREA, UL, OL {COLOR: #333; font-family: Arial;}
H1, H2, H3 {COLOR: #5cb12e;}

H1 {font-size: 1.3rem;}
H2 {font-size: 1.2rem}
H3 {font-size: 1.1rem}
UL, OL, P, input, a, td {font-size: 0.9rem}

/* section subbase. html tags definitions  #EAF2F7 #88ddFF #99ddFF*/
BODY, SELECT {BACKGROUND-COLOR: #ffffff;}

div, center {margin:0;}

UL, OL, P {text-align: justify;}
UL.menu {text-align: left; margin-top: 2; margin-bottom: 2;}
P.menu {text-align: center; margin-top: 8; margin-right: 0; margin-bottom: 8; margin-left: 0; padding: 0; }
FORM {margin: 0px; padding: 0;}

IMG {MARGIN-LEFT: 0; MARGIN-RIGHT: 0; margin-top: 0; 
	margin-bottom: 0; margin-width: 0; margin-height: 0;}

/* section one. Links FF6600, cc0000*/
A:link {COLOR: #de4a14; font-weight: bold; text-decoration: none}
A:visited {COLOR: #de4a14; font-weight: bold; text-decoration: none}
A:hover {COLOR: #de4a14; font-weight: bold; text-decoration: underline}

input {
	border-color:#333; 
	border-width:1; 
	color:#333; 
	background-color:#FFFFFF; 
	overflow:hidden; 
}

.centerframe {width: 100%; padding: 2px; }
.centerframe td {padding: 5px; }

.rounded {padding:1px; margin:0; -moz-border-radius:8px; -webkit-border-radius:0 0 8px 8px; border-radius:8px;}
.rounded table {margin:0;}
#footer {}
#contacts {background-color:#dddddd;}
#footer td {color:#ddd;}

.shadowpane {
	background-color:#DED7CF;
	margin: 0px;
	padding:8px; 
	border: 1px solid #DED7CF; 
	-moz-border-radius:0 6px 0 6px; -webkit-border-radius:0 6px 0 6px; border-radius:0 6px 0 6px;
}
.shadowcontent {
	border-left: 0px; border-bottom: 0px; border-top: 2px; border-right: 2px; border-style: solid; border-color: #DED7CF; 
	-moz-border-radius:0 6px 0 6px; -webkit-border-radius:0 6px 0 6px; border-radius:0 6px 0 6px;
}
.shadowbutton {
	text-align: center;
	width: 50%; height: 1.5 rem;
	color: #fff;
	font-weight: bold;
	background-color:#5cb12e;
	margin: 0px;
	padding: 8px; 
	border: 1px solid #5cb12e; 
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}

a.button {COLOR: #fff; font-weight: bold; text-decoration: none}
a.button hover{COLOR: #fff; font-weight: bold; text-decoration: none}


.buttonwrap{width: 50%; min-width: 400 px; padding: 0;}
.spanbutton {font-size: 1.1rem; background: #5cb12e; color: #fff; font-weight: bold; padding: 10px; 
	white-space: nowrap; cursor: pointer; text-align: center;
	-moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;
}
.spanbutton { width: 100%;
	-webkit-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3); 
	-moz-box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);}

LI {padding: 6px 0px 6px 0px;}

.selectedByBorder {margin-top: 8px; margin-bottom: 8px; padding: 8px; border: 2px solid #de4a14; 
	-moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
}

.pageContainer {margin-right: auto; margin-left: auto; max-width: 1200px;}

/* rounded image */
.img-circle {
/*     border-radius: 500px; */
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
}

@media screen and (min-resolution: 150dpi) { 
	H1 {font-size: 1.4rem;}
	H2 {font-size: 1.3rem}
	H3 {font-size: 1.2rem}
	UL, OL, P, input, a, td {font-size: 1rem}
}

@media screen and (min-resolution: 200dpi) { 
	H1 {font-size: 1.8rem;}
	H2 {font-size: 1.7rem}
	H3 {font-size: 1.6rem}
	UL, OL, P, input, a, td {font-size: 1.5rem}
}

@media screen and (min-resolution: 290dpi) { 
	H1 {font-size: 2.4rem;}
	H2 {font-size: 2.2rem}
	H3 {font-size: 2.0rem}
	UL, OL, P, input, a, td {font-size: 1.9rem}
}
