/* Media Queries
================================================== */

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    
.slidecontrols li a.carousel1-next {
	position:absolute;
	top:32px;
	right:0;
}

.slidecontrols li a.carousel1-prev {
	position:absolute;
	top:32px;
	right:37px;
}   
    
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
    
.slidecontrols li a.carousel1-next {
	position:absolute;
	top:32px;
	right:0;
}

.slidecontrols li a.carousel1-prev {
	position:absolute;
	top:32px;
	right:37px;
}      
    
}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 320px) {

.container { width: 100%; }
.container .columns,
.container .column { margin: 0; }

.container .one.column,
.container .one.columns,
.container .two.columns,
.container .three.columns,
.container .four.columns,
.container .five.columns,
.container .six.columns,
.container .seven.columns,
.container .eight.columns,
.container .nine.columns,
.container .ten.columns,
.container .eleven.columns,
.container .twelve.columns,
.container .thirteen.columns,
.container .fourteen.columns,
.container .fifteen.columns,
.container .sixteen.columns,
.container .one-third.column,
.container .two-thirds.column { width: 100%; }

.styleswitch {
	width: 19% !important;
}

.whyus img {
	max-width: 95% !important;
}

.image-post img {
	min-width: 247px !important;
}

#footer.thumbs li, #sidebar.thumbs li {
	width: 45.6% !important;
}

input.subscribe-mail {
	width:91% !important;
}

input.subscribe-submit {
	float:none !important;
	margin:0 !important;
	width:97.5% !important;
}

span.copyright {
	line-height:20px !important;
}

.social a {
	margin:0 14px 0 0 !important;
}

.sti-menu li a, .sti-menu li a:hover {
	border-right:0 !important;
	border-left:0 !important;
}

input.search {
	width: 84% !important;
}

.form-elements2 input[type="text"] {
width: 94% !important;
}

#clock-ticker .block {
	margin: 0 5px 30px 3px !important;
    padding: 10px 14px !important;
}

input.subscribe-text {
	width: 85% !important;
}

input.subscribe-button {
    width: 99% 	!important;
}

h1.big {
	font-size: 126px !important;
}

input.text, textarea {
width: 90.8% !important;
}

.slidecontrols li a.carousel1-next {
	position:absolute;
	top:32px;
	right:0;
}

.slidecontrols li a.carousel1-prev {
	position:absolute;
	top:32px;
	right:37px;
}  

/* new code */
.big-tooltips .colorTip{
    left:181%;
    min-width:200px !important;
}

.big-tooltips .pointyTip,.pointyTipShadow{
    left:30%;
}



ul.team li img {
    min-height: 150px;
    max-width: 250px;
}      

}
