/*=======================================
   Junos Workbook - Custom CSS Coding
=======================================*/

/*===== Crevision Theme Fixup ===== */
.page-columns p {
  margin-bottom: 15px;
}

.post-content p {
  margin-bottom: 15px;
}

.qoute {
  padding-bottom: 12px;
}

/*===== Pre Formatted Terminal Window Green on Black ===== */
pre.terminal{
  width: 900px;
  font-family: "Courier New", monospace !important;
  font-size: 13px;
  margin-bottom: 20px;
  background-color: #000000; 
  color: #00ff00;
  white-space: pre-wrap;
  line-height: normal;
  padding: 5px 10px 5px 10px;
}

.config_cmd{
      color:#00c8ff;
      font-weight: bold;
}



/*===== Workbook Lab Table of Contents Header ===== */
h3.toc{
	text-decoration:underline
}

/*===== Workbook Lab Table of Contents ===== */
div.lab{
	padding-left: 30px;
	line-height: normal;
}

div.lab a:link{
	color: #00AEC8;
	margin-left: 20px;
}

div.lab a:visited{
	color: #00AEC8;
}

div.lab a:hover{
	color: #00FF00;
}

div.lab a:active{
	color: #00FF00;
}

div.labd {
	padding-left: 30px;
	line-height: normal;
}

div.labd a:link{
	color: #00AEC8;
	margin-left: 13px;
}

div.labd a:visited{
	color: #00AEC8;
}

div.labd a:hover{
	color: #00FF00;
}

div.labd a:active{
	color: #00FF00;
}

a.new{
	background: url(/images/new.png) no-repeat right 3px;
	padding-right: 22px;	
}



/*===== Lab Command Reference Color ===== */
.cmd{
	color:#00c8ff;

}


/*===== Workbook Lab Initial Configuration Dialog Box ===== */
.initial_cfg {
   font-family: "Courier New", monospace !important;
   color: #00FF00 !important;
   font-size: 12px !important;
   white-space: pre;
   padding:0px !important;
   resize: none;
   width: 900px;
   height: 90px; 
   background-color: #000000;
   margin-bottom: 20px;
   border: solid 1px #00c8ff; 
}

table.content {
	width:100%;
	margin-bottom: 10px;
	text-align:left;
}

table.content th {
	padding:11px;
	background-color: #292929;
	border:1px solid #404040;
}

table.content td {
	padding:11px;
	border:1px solid #404040;
}