
/* main border */
html, body {
    background-color: #fefefe;
}
body {
    background: #fefefe url('../img/bg_body.gif') 0 0 repeat-x;
}

#wrap-inner {
    border: 1px solid #d3d3d3;
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    background-image: url("../img/bg_content.gif");
    /*background-image: url('data:image/gif;base64,R0lGODlhFABBAMQAAP////X19fn5+fPz8/f39/Hx8fv7+/j4+PLy8vz8/Pb29vDw8Pr6+vT09O/v7/39/f7+/gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACH5BAAAAAAALAAAAAAUAEEAAAXEoCOOZGmeaKqubJsucCzPdG3feK7DRe//wKBwSCwajz2EcslsOp/QqHRKVQ6u2Kx2y+16v9qGeEwum8/otHrNFgfe8Lh8Tq/b73KFfs/v+/+AgYKDhHoEh4iJiouMjY6PigeSk5SVlpeYmZqbnJICn6ChoqOkpaanogyqq6ytrq+wsbKztKoGt7i5uru8vb6/wMG3CcTFxsfIycrLzM3OxA/R0tPU1dbX2Nna29zYEN/g4eLj5OXm5+jp6uvsAO7v8PHxIQA7');*/
    background-repeat: repeat-x;
}

#wrap {
    border: 1px solid #adadad;
    border-radius: 8px;
    max-width: 1152px;
    padding: 4px;
    background-color: #E5E5E5;
}

/* nav bars */

.navbar {
    padding: 0;
    border-radius: 0;
    background-color: inherit;
}
#nav-breadcrumbs, #nav-footer {
    border: 1px solid #e5e5e5;
    padding: 0 5px 0 5px;
    background-color: #f9f9f9;
}

/* internal block borders */

.forabg, .forumbg {
    background: #fefefe;
    border: 1px solid #d0d0d0;
    margin-bottom: 8px;
    padding: 1px;
    border-radius: 0;
}
.forabg .inner, .forumbg .inner {
    border: 1px solid #d4d4d4;
    border-bottom-width: 0;
    background-color: #ffffff;
}
.forabg .inner .header, .forumbg .inner .header, table.table1 thead th {
    background-color: #f0f0f0;
    border-bottom: 1px solid #e0e0e0;
    color: #aaa;
}
li.header dt, li.header dd {
    color: #a9a9a9;
    padding-bottom: 0;
}
.forumbg .header a, .forabg .header a, th a {
    color: #777;
}
.forumbg .header a:hover, .forabg .header a:hover, th a:hover {
    color: #333;
}
table.table1 thead th {
    padding: 2px 0 2px 3px;
}
.forumbg-table > .inner {
    margin: 0;
}
/* bg */
table.table1 {
    background-color: #ddd;
    border-spacing: 1px;
}
table.table1 tbody tr {
    /*border-color: #e0e0e0;*/
    border: 1px solid #cfcfcf;
    border-left: 0;
}
table.table1 tbody td {
    /*border-top: 1px solid #FAFAFA;*/
}
.table1 .bg1, .bg1 {
    background-color: #F8F8F8;
}
.table1 .bg2, .table1 .bg3, .bg2, .bg3 {
    background-color: #F0F0F0;
}
table.table1 tbody tr:hover, table.table1 tbody tr.hover {
    background-color: #e0e0e0;
}
/* row */
ul.topiclist dd {
    border-left-color: #CCC;
}
li.row {
    border-bottom-color: #e0e0e0;
    background-color: #f4f4f4;
    background-image: url("../img/bg_row.gif");
    background-repeat: repeat-x;
}
li.row:hover {
    background-color: #ffffff;
    background-image: url("../img/bg_row_hover.gif");
}
.row .pagination {
    margin-right: 5px;
}

ul.topiclist dt {
    padding-left: 5px;
    margin-right: -435px;
}
ul.topiclist dt .list-inner {
    margin-right: 430px;
}
dd.lastpost, dd.redirect, dd.moderation, dd.time, dd.info {
    width: 270px;
}
dd.posts, dd.topics, dd.views {
    width: 80px;
}
a.lastsubject {
    font-weight: normal;
}

/* post */
.panel {
    color: #666;
}
.panel, .post {
    background: #fefefe;
    border: 1px solid #d0d0d0;
    margin-bottom: 8px;
    padding: 1px;
    border-radius: 0;
}
.panel .inner, .post .inner {
    border: 1px solid #d4d4d4;
    padding: 5px 10px;
    background-color: #f2f2f2;
    background-image: url("../img/bg_post.gif");
    background-repeat: repeat-x;
}
.postprofile {
    border-color: #CCC;
}
#memberlist_search.panel {
    border: 0;
}
#memberlist_search.panel h2 {
    border-bottom: 0;
    padding-bottom: 0;
}
.member-search.panel {
    border: 0;
    padding: 6px 0;
    margin-bottom: 0;
}

/* header */

.logo {
    padding: 0 0 0 2px;
}
.headerbar {
    background: inherit;
    color: inherit;
    margin-bottom: 10px;
    padding: inherit;
    border-radius: inherit;
}
.imageset.site_logo {
    background-image: url("../img/logo.png");
    padding-left: 333px;
    padding-top: 61px;
}
.search-header {
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 5px #d4d4d4;
    margin-top: 22px;
}
#site-description {
    width: 335px;
}
#site-description h1, #site-description p {
    /*display: none;*/
}
#site-description p.skiplink {
    display: block;
}

.crt-services-nav {
    float: right;
    margin-top: 13px;
    margin-right: 30px;
}
.crt-services-nav a {
    margin-left: 10px;
}
.crt-services-nav a img {
    width: 43px;
    height: 43px;
}

.crt-services-nav-text {
    display: none;
    visibility: hidden;
    width: 100%;
    text-align: center;
    font-size: 90%;
    margin: 3px 0 8px;
}


h2.solo {
    margin-bottom: 0.2em;
}

/* links */

a:link	{ color: #2e5cbd; }
a:visited	{ color: #2e5cbd; }
a:hover	{ color: #e53d10; }
a:active	{ color: #6786c7; }

a.forumtitle, a.forumtitle:visited, a.topictitle, a.topictitle:visited {
    color: #2e5cbd;
}

dl.icon dt .list-inner {
    padding-left: 37px;
}

ul.topiclist li {
    color: #444;
}


/* margins */

.action-bar {
    margin: 8px 0;
}
.breadcrumbs {
    margin-right: 25px !important;
}
.permissions {
    display: none;
}

/* quote */
blockquote.uncited {
    margin-top: 0;
    padding-top: 5px;
    padding-left: 25px;
}
blockquote {
    background-position: 6px 7px;
    margin-bottom: 5px;
}

/* spoiler */

.spoiler {
    background: #fefefe;
    border: 1px solid #d0d0d0;
    padding: 1px;
    margin: 5px 0;
}
.spoiler_header, .spoiler_footer {
    height: 15px;
    padding: 2px 8px 6px 22px;
    background: #E4E4E4 url('../img/icon_plus_1.gif') 7px 7px no-repeat;
    cursor: pointer;
}
.spoiler_opened .spoiler_header, .spoiler_opened .spoiler_footer {
    background: #E4E4E4 url('../img/icon_minus_1.gif') 7px 7px no-repeat;
}
.spoiler_header span, .spoiler_footer span {
    color: #2E5CBD;
    border-bottom: 1px dashed #2E5CBD;
}
.spoiler_content {
    padding: 10px 15px;
}
.spoiler_content, .spoiler_footer {
    display: none;
}


.topic-title {
    margin: 0.8em 0 0.8em 0;
}
ul.topiclist dt .list-inner {
    padding-top: 3px;
}

/* move post sig & buttons */
.signature {
    clear: none;
    margin-bottom: 15px;
}
.crt-post-buttons-block {
    clear: left;
    margin-top: 5px;
    padding-top: 5px;
    text-align: right;
    border-top: 1px solid #ddd;
}
.crt-post-buttons-block .post-buttons {
    position: inherit;
    float: right !important;
    max-width: 100% !important;
}
.crt-post-buttons-block .post-buttons .crt-post-date {
    padding: 2px 10px;
    color: #999;
}
.crt-post-buttons-block .post-buttons .crt-back2top {
    padding: 4px 0 0 4px;
    float: right;
}
/* END move post sig & buttons */

/* TODO внутренний отспут после текса сообщения */

@media only screen and (max-width: 1220px), only screen and (max-device-width: 1220px) {
    #wrap {
        margin: 0 !important;
    }
}

@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    .logo {
        display: block;
        float: left;
    }
    .imageset.site_logo {
        background-image: url("../img/logo_mini.png");
        padding-left: 250px;
        padding-top: 46px;
    }
    #site-description {
        width: 255px;
    }

    .crt-services-nav {
        margin-top: 5px;
        margin-right: 5px;
    }
    .crt-services-nav a img {
        width: 35px;
        height: 35px;
    }

    #wrap-inner {
        padding: 5px 10px;
    }
    .headerbar {
        margin-bottom: 0 !important;
    }
    ul.topiclist dt .list-inner {
        margin-right: 0;
    }
}
@media only screen and (max-width: 400px), only screen and (max-device-width: 400px) {
    .logo {
        float: none;
        margin: 0 auto;
    }
    #site-description {
        width: 100%;
    }
    .crt-services-nav-text {
        display: block !important;
        visibility: visible !important;
    }
    .crt-services-nav {
        display: none;
        visibility: hidden;
    }
}

.blocked_subject {
    color: grey;
    border: 0;
    background-color: #fbfbfb;
}
.blocked_subject:hover {
    border: 0;
}
.hidden_subject {
    display: none;
    visibility: hidden;
}

/*
    Mini profiles on the left
*/

.postprofile {
    float: left;
    border-width: 0 1px 0 0;
    width: 159px;
    padding-right: 10px;
}
.postprofile dd, .postprofile dt {
    margin: 0;
}
.search .postprofile {
    width: 159px;
}
.postbody h3 {
    float: none;
}
.postbody .content {
    padding: 5px 0;
}
.attachbox {
    margin-bottom: 10px;
    clear: none;
}
.codebox code {
    padding: 3px 5px;
}
a.arrow-right {
    padding-right: 13px;
}

div.postbody {
    float: none;
    margin-left: 180px;
    width: auto;
}
p.author, .content {
    clear: right;
}
#postform .content {
    clear: both;
}
p.author {
    padding-top: 5px;
}
ul.topiclist.two-columns dt {
    margin-right: -85px;
}
dl.file dd {
    font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}
dl.file dd img {
    vertical-align: middle;
    /*max-width: 9px;*/
}
dl.file dd span {
    font-size: 90%;
}
dl.file dd span small {
    font-size: 90%;
    color: #999;
}
.attachbox dl.file dd {
    font-size: 120%;
}
.attachbox dl.file dd span {
    font-size: 100%;
}
div.inline-attachment dl.thumbnail, div.inline-attachment dl.file {
    margin-bottom: 0;
}
.inline-attachment .file .attach-image {
    margin-top: 10px;
}
.inline-attachment .thumbnail {
    font-size: 85%;
}
.attachbox .thumbnail dd {
    margin-top: 0;
    padding-top: 0;
}

.codebox {
    margin: 7px 0;
}

.postlink:hover {
    color: #d63d16;
    border-bottom: 0;
    background-color: transparent;
}

.content ul ul, .content ol ol {
    margin-bottom: 0;
}
.content li {
    margin-bottom: 2px;
}

.postprofile dd.profile-joined {
    margin: 2px 0 !important;
}

.crt-contact-link {
    font-weight: normal !important;
    text-decoration: none !important;
    border-bottom: 1px dashed #5e8ced;
}
.crt-contact-link:hover {
    color: #2e5cbd;
    border-bottom: 0;
}

@media only screen and (max-width: 900px), only screen and (max-device-width: 900px) {
    .crt-responsive-hide-900 {
        display: none;
        visibility: hidden;
    }
}
@media only screen and (max-width: 800px), only screen and (max-device-width: 800px) {
    .crt-responsive-hide-800 {
        display: none;
        visibility: hidden;
    }
}
@media only screen and (max-width: 700px), only screen and (max-device-width: 700px) {
    .crt-responsive-hide-700 {
        display: none;
        visibility: hidden;
    }
    .postprofile {
        float: none;
        width: auto;
        border-width: 0 0 1px 0;
        padding-right: 0;
        padding-bottom: 0;
    }
    div.postbody {
        margin-left: 0;
    }
    .pm .postprofile {
        border-right: none;
    }
    .postprofile dd, .postprofile dt {
        margin: 0;
    }

    .has-profile .post-buttons {
        right: 10px;
        top: 12px;
    }
}

.action-bar .yashare-auto-init {
    padding-left: 10px;
    float: left;
}
.action-bar .yashare-auto-init .b-share{
    padding: 0 !important;
}
.action-bar > .pagination {
    margin-top: 4px;
}
@media only screen and (max-width: 650px), only screen and (max-device-width: 650px) {
    .action-bar .yashare-auto-init {
        margin-top: 10px;
        padding-left: 0;
        float: left;
        clear: both;
        padding-bottom: 1px;
        text-align: center;
    }
    .action-bar > .pagination {
        margin-top: 17px;
    }
}
@media only screen and (max-width: 500px), only screen and (max-device-width: 500px) {
    .action-bar .yashare-auto-init {
        padding-top: 10px;
        float: none;
        clear: both;
        padding-bottom: 1px;
        text-align: center;
    }
    .action-bar > .pagination {
        margin-top: 0;
    }
}