div.ufo-chat { border-radius: 2px; height: 473px; width: 435px; z-index: 999; position: fixed; bottom:-2px; right:3%; box-shadow:0px 2px 6px #888; }
div.ufo-chat.rolledup { height: 45px !important; }
div.ufo-chat a { color:#1873b4; }
div.ufo-chat .ps-container .ps-scrollbar-y-rail { top:0px !important; }

div.ufo-chat div.relative { position:relative; border-radius: 2px; }
div.ufo-chat div.ufo-warning { font:12px Tahoma; color:red; display:none; width:100%; position:absolute; z-index:20; top:0px; left:0px; background-image:url("/img/support/ufo/warning.png"); background-position:20px 10px; background-repeat:no-repeat; background-color: #ffefeb; }

div.ufo-chat div.avatar {  border-radius: 50%; width:24px; height:24px; }
div.ufo-chat div.avatar.client { background: url("/img/support/ufo/avatar.png") no-repeat scroll 0 4px #fff; }
div.ufo-chat div.avatar.operator { background: url("/img/support/ufo/operator.png") no-repeat scroll 0 0px #C0E0F7; /*ffbcb4*/ }
  
div.ufo-chat .sprite { background-image: url("/img/support/ufo/widget/admtools/tools.png"); background-repeat: no-repeat; display: block; -webkit-transition: background-image 0.3s ease; transition: background-image 0.3s ease; } 
div.ufo-chat .sprite:hover { background-image: url("/img/support/ufo/widget/admtools/tools-over.png"); }
   
div.ufo-chat div.hat { cursor: move; background:#89b7d9; border-radius:2px 2px 0px 0px; color: #222; height: 40px; padding-top:5px; position:relative; }
div.ufo-chat.rolledup div.hat { cursor: default; }
div.ufo-chat div.hat div.logo { float:left; background:url("/img/support/ufo/logo.png") no-repeat; width:32px; height:32px; margin-left:12px; }
div.ufo-chat div.hat div.title { float:left; color: #FFFFFF; font-size: 14px; line-height: 32px; overflow: hidden; margin-left:15px; }
div.ufo-chat div.hat div.control { cursor: default; position:absolute; right:0px; top:4px; width: 80px; line-height: 32px; height:32px; margin: 4px 5px 0px 0px; }
div.ufo-chat div.hat div.control div.button { cursor: pointer; float: right; height: 16px; margin: 4px 4px 0 0; width: 16px; }

div.ufo-chat div.hat div.control div.button.rollup { background-position: -2px -102px; }
div.ufo-chat.rolledup div.hat div.control div.button.rollup { display:none; }
div.ufo-chat div.hat div.control div.button.close { background-position: -2px -42px; }
div.ufo-chat div.hat div.control div.button.popup { background-position: -2px -202px; display:none; }
div.ufo-chat.rolledup div.hat div.control div.button.popup { display:block !important; }

div.ufo-chat div.body { border: 0 none; border-radius: 0;  bottom: auto; box-shadow: none; box-sizing: content-box; color: #000000; float: none; font-family: Arial; font-size: 12px; left: auto; line-height: 1.167em; margin: 0; outline: medium none; padding: 0; position: relative; right: auto; text-align: left; text-decoration: none; text-shadow: none; text-transform: none; top: auto; vertical-align: baseline; }
div.ufo-chat.rolledup div.body { display:none; }
div.ufo-chat div.body.dialog { height: 297px; overflow:hidden; background: none repeat scroll 0 0 #fff; }
div.ufo-chat div.body.login { height: 387px; background: url("/img/cms/message/bg_gray.png") repeat-x #ffffff; }

div.ufo-chat div.online-icon { cursor:pointer; position:absolute; z-index:10; top:78px; right: 12px; }
div.ufo-chat.rolledup div.online-icon { display:none; }
div.ufo-chat div.online-icon div.count { color: #666666; font-size: 11px; text-align: center; width: 16px; }

div.ufo-chat div.online-icon div.icon { width:16px; height: 16px; background-position: -2px -182px; }

div.ufo-chat div.tools-icon { cursor:pointer; position:absolute; z-index:10; top: 56px; right: 12px; }
div.ufo-chat.rolledup div.tools-icon { display:none; }
div.ufo-chat div.tools-icon div.icon { width:16px; height: 16px; background-position: -2px -142px; }

div.ufo-chat div.dialog div.scroller { overflow:hidden; height:100%; }
div.ufo-chat div.dialog div.scroller div.scroller-inner { height:100%; }
div.ufo-chat div.dialog div.message { border-bottom:1px solid #f0f0f0; position:relative; width:auto; padding:5px 38px 5px 5px; }
  
div.ufo-chat div.dialog div.message div.files { margin:10px 0px 0px 41px; }
div.ufo-chat div.dialog div.message div.files a { font-size:11px; text-decoration:none; }
div.ufo-chat div.dialog div.message div.files a:hover { text-decoration:underline; }
 
div.ufo-chat div.dialog div.message.client { background-color:#fff; }
div.ufo-chat div.dialog div.message.client div.avatar { position:absolute; left:12px; top:12px; }
div.ufo-chat div.dialog div.message.client div.author { color:gray; font-size: 11px; font-weight: bold; left: 46px; position: absolute; top: 16px; }
div.ufo-chat div.dialog div.message.client div.date { position:absolute; right:50px; top:18px; font-size:11px; color:gray; }
div.ufo-chat div.dialog div.message.client div.text { margin:30px 0px 5px 41px; color:gray; overflow-x: auto; }
div.ufo-chat div.dialog div.message.client div.text a { word-break: break-all; }
div.ufo-chat div.dialog div.message.operator { background-color:#FFFAFA; }  
div.ufo-chat div.dialog div.message.operator div.avatar { position:absolute; left:12px; top:12px;  } 
div.ufo-chat div.dialog div.message.operator div.author { color: cadetblue; font-size: 11px; font-weight: bold; left: 46px; position: absolute; top: 16px; max-width:210px;  }
div.ufo-chat div.dialog div.message div.raty { position:absolute; right:90px; top:17px; }
div.ufo-chat div.dialog div.message div.raty .br-widget { height: 16px; }
div.ufo-chat div.dialog div.message div.raty .br-widget a { background: url('/js/support/ufo/raty/star-off.png'); width: 14px; height: 16px; display: block; float: left; }
div.ufo-chat div.dialog div.message div.raty .br-widget a:hover,
div.ufo-chat div.dialog div.message div.raty .br-widget a.br-active,
div.ufo-chat div.dialog div.message div.raty .br-widget a.br-selected { background: url('/js/support/ufo/raty/star-on.png'); }

div.ufo-chat div.dialog div.message.operator div.date { position:absolute; right:50px; top:18px; font-size:11px; color:gray; }
div.ufo-chat div.dialog div.message.operator div.text { margin:30px 0px 5px 41px; color:#444; /*color:cadetblue; #e36a5c;*/ }
div.ufo-chat div.dialog div.message.operator div.text a { word-break: break-all; }

div.ufo-chat div.dialog div.message.robot { background:#FFF5EE; color:#CD5C5C; font-size:11px; padding:5px 38px 5px 12px; }
div.ufo-chat div.dialog div.message.robot div.note { color:gray; margin-top:10px; } 
div.ufo-chat div.dialog div.event { padding:2px 5px; font-size:11px; line-height:20px; color: #666666; display: none; height: 20px; margin: 0; overflow: hidden; position: absolute; bottom: 0px; width: 100%; background-color: rgb(240, 240, 240); background-color: rgba(240, 240, 240, 0.8); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#66f0f0f0", endColorstr="#66f0f0f0"); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66f0f0f0, endColorstr=#66f0f0f0)"; }

div.ufo-chat div.dialog div.resize { background-position: -2px -222px; cursor: se-resize; height: 16px; width: 16px; position:absolute; bottom:8px; right:12px; }

div.ufo-chat div.body img.body-loader { position:absolute; bottom:8px; left:15px; z-index:999; display:none; }

div.ufo-chat div.form { background:#fff; padding:5px 40px 5px 5px; position:relative;  border-top:1px solid #89B7D9; }
div.ufo-chat.rolledup div.form { display:none; }  
div.ufo-chat div.form textarea { color:#666; background: none repeat scroll 0 0 #FFFFFF; border: none; display: block; font-size: 12px; height: 70px; line-height: 16px; padding: 4px; resize: none; width: 100%; font-family: Arial; }
div.ufo-chat div.form div.enter { background-position: -2px -62px; cursor: pointer; height: 16px; width: 16px; position: absolute; right: 12px; top: 24px; } 

div.ufo-chat table.form-table { width:100%; padding:0px 40px; }
div.ufo-chat table.form-table tr td.title { font-weight: bold; text-align: right; width: 20%; color:#222; padding:6px; }
    
div.ufo-chat div.attached, div.ufo-chat div.online, div.ufo-chat div.tools { display:none; width:230px; height:100%; position:absolute; z-index:20; top:0px; right:0px; background-color: rgb(255, 235, 191); background-color: rgba(255, 235, 191, 0.9); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#66ffebbf", endColorstr="#66ffebbf"); -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#66ffebbf, endColorstr=#66ffebbf)"; } 
div.ufo-chat div.attached div.close, div.ufo-chat div.online div.close, div.ufo-chat div.tools div.close { background-position: 3px -236px; cursor: pointer; height: 16px; left: -26px; padding: 5px; position: absolute; top: 0; width: 16px; z-index: 20; } 

div.ufo-chat div.attached table.list tr.item, div.ufo-chat div.online table.list tr.item { cursor:pointer; overflow-x:hidden; background-color: #ffebbf; } 
div.ufo-chat div.attached table.list tr.item:hover, div.ufo-chat div.online table.list tr.item:hover { background:#fff; }
div.ufo-chat div.attached table.list tr.item:active { background:#ffefeb; }  
div.ufo-chat div.attached table.list tr.item td, div.ufo-chat div.online table.list tr.item td { border-bottom:1px solid #fff; } 
div.ufo-chat div.attached table.list tr.item div.remove { height:15px; width:15px; background:url("/img/support/ufo/cancel.png") 0px 0px no-repeat; }
div.ufo-chat div.attached table.list tr.item div.remove:hover { background-position:-14px 0px; }
div.ufo-chat div.attached table.list tr.item img.loader { display:none; }
div.ufo-chat div.attached table.list tr.item div.name, div.ufo-chat div.online table.list tr.item div.name { max-width:170px; font-size:11px; color:#222; white-space: nowrap; }
 
div.ufo-chat div.online table.list tr.item img.avatar { }
div.ufo-chat div.online table.list tr.item div.kick { }
div.ufo-chat div.online table.list tr.item img.loader { display:none; } 

div.ufo-chat div.tools div.list a.item { position:relative; display:block; padding:10px 10px 10px 32px; border-bottom:1px solid #fff; color:#222; white-space: nowrap; cursor:pointer; overflow-x:hidden; }
div.ufo-chat div.tools div.list a.item:hover { background-color:#fff;  }
div.ufo-chat div.tools div.list a.item:hover .sprite { background-image: url("/img/support/ufo/widget/admtools/tools-over.png"); } 
div.ufo-chat div.tools div.list a.item i { position:absolute; width:16px; height:16px; left:8px; top:8px; }
div.ufo-chat div.tools div.list a.item i.archive  { background-position: -2px -2px; }
div.ufo-chat div.tools div.list a.item i.faq { background-position: -2px -82px; }
div.ufo-chat div.tools div.list a.item i.mail { background-position: -2px -122px; }
div.ufo-chat div.tools div.list a.item i.sound { background-position: -2px -262px; }
div.ufo-chat div.tools div.list a.item i.sound-mute { background-position: -2px -162px; }
div.ufo-chat div.tools div.list a.item i.claim { background-position: -2px -22px; }
 
div.ufo-chat div.footer { height:40px; }  
div.ufo-chat.rolledup div.footer { display:none; }

div.ufo-chat div.footer div.control { padding:0px; position:relative; background:#89b7d9; /*box-shadow:0px 0px 1px #fff inset;*/ border-radius:0px 0px 2px 2px; color: #222; height: 42px; }
div.ufo-chat div.footer div.control div.button { cursor: pointer; float: left; height: 16px; width: 16px; margin: 14px 4px 0 15px; }

div.ufo-chat div.footer div.control div.swf-status { cursor:pointer; color:#fff; float: right; margin: 12px 20px 0 4px; }
div.ufo-chat div.footer div.control div.swf-status:hover { color:#666; }
div.ufo-chat div.footer div.control div.swf-file { background: #eee; color: #666666; display: none; height: 18px; margin: 0; overflow: hidden; position: absolute; top: -17px; width: 100%; }
div.ufo-chat div.footer div.control div.swf-warning { font-size:11px; color: red; background:#ffefeb; display: none; height: 18px; margin: 0; overflow: hidden; position: absolute; top: -35px; width: 100%; }
 
#ufo_form_login div.desc { padding:40px 20px 20px; color:gray; }
#ufo_form_login input[type="text"] { width:90%; } 
#ufo_form_login textarea { width:90%; height:90px; padding:2px; } 
	 