.sprite-crud { background-image: url(/design/ukraine/img/sprites/crud.png); background-repeat: no-repeat; display: block; }
.sprite-crud.spart-add24 { width: 24px; height: 24px; background-position: -2px -2px; }
.sprite-crud.spart-add24-hover { width: 24px; height: 24px; background-position: -2px -30px; }
.sprite-crud.spart-back24 { width: 24px; height: 24px; background-position: -2px -58px; float:left; }
.back24-link { float:left; line-height:24px; margin-left:5px; }
.sprite-crud.spart-blank16 { width: 16px; height: 16px; background-position: -2px -86px; }
.sprite-crud.spart-browse16 { width: 16px; height: 16px; background-position: -2px -106px; }
.sprite-crud.spart-bullet16-off { width: 16px; height: 16px; background-position: -2px -126px; }
.sprite-crud.spart-bullet16-on { width: 16px; height: 16px; background-position: -2px -146px; }
.sprite-crud.spart-cartadd16 { width: 16px; height: 16px; background-position: -2px -166px; }
.sprite-crud.spart-cartadd24 { width: 24px; height: 24px; background-position: -2px -186px; }
.sprite-crud.spart-check16 { width: 16px; height: 16px; background-position: -2px -214px; }
.sprite-crud.spart-check24 { width: 24px; height: 24px; background-position: -2px -234px; }
.sprite-crud.spart-clipboard16-black { width: 16px; height: 16px; background-position: -2px -262px; }
.sprite-crud.spart-clipboard16-light { width: 16px; height: 16px; background-position: -2px -282px; }
.sprite-crud.spart-delete16 { width: 16px; height: 16px; background-position: -2px -302px; }
.sprite-crud.spart-delete24 { width: 24px; height: 24px; background-position: -2px -322px; }
.sprite-crud.spart-domain16 { width: 16px; height: 16px; background-position: -2px -350px; }
.sprite-crud.spart-domain24 { width: 24px; height: 24px; background-position: -2px -370px; }
.sprite-crud.spart-download16 { width: 16px; height: 16px; background-position: -2px -398px; }
.sprite-crud.spart-edit16 { width: 16px; height: 16px; background-position: -2px -418px; }
.sprite-crud.spart-edit24 { width: 24px; height: 24px; background-position: -2px -438px; }
.sprite-crud.spart-error32 { width: 32px; height: 32px; background-position: -2px -466px; }
.sprite-crud.spart-fatal-error32 { width: 32px; height: 32px; background-position: -2px -502px; }
.sprite-crud.spart-file16 { width: 16px; height: 16px; background-position: -2px -538px; }
.sprite-crud.spart-gear16 { width: 16px; height: 16px; background-position: -2px -558px; }
.sprite-crud.spart-gear24 { width: 24px;  height: 24px;  background-position: -2px -578px; }
.sprite-crud.spart-gear32 { width: 32px; height: 32px; background-position: -2px -606px; }
.sprite-crud.spart-info16 { width: 16px; height: 16px; background-position: -2px -642px; }
.sprite-crud.spart-info24 { width: 24px; height: 24px; background-position: -2px -662px; }
.sprite-crud.spart-info32 { width: 32px; height: 32px; background-position: -2px -690px; }
.sprite-crud.spart-library16 { width: 16px; height: 16px; background-position: -2px -726px; }
.sprite-crud.spart-mailnew16 { width: 16px; height: 16px; background-position: -2px -746px; }
.sprite-crud.spart-mailopen16 { width: 16px; height: 16px; background-position: -2px -766px; }
.sprite-crud.spart-note16 { width: 16px; height: 16px; background-position: -2px -786px; }
.sprite-crud.spart-pin16 { width: 16px; height: 16px; background-position: -2px -806px; }
.sprite-crud.spart-power16-off { width: 16px; height: 16px; background-position: -2px -826px; }
.sprite-crud.spart-power16-on { width: 16px; height: 16px; background-position: -2px -846px; }
.sprite-crud.spart-refresh16 { width: 16px; height: 16px; background-position: -2px -866px; }
.sprite-crud.spart-refresh24 { width: 24px; height: 24px; background-position: -2px -886px; }
.sprite-crud.spart-restore16 { width: 16px; height: 16px; background-position: -2px -914px; }
.sprite-crud.spart-restore24 { width: 24px; height: 24px; background-position: -2px -934px; }
.sprite-crud.spart-search16 { width: 16px; height: 16px; background-position: -2px -962px; }
.sprite-crud.spart-send { width: 16px; height: 16px; background-position: -2px -982px; }
.sprite-crud.spart-sortasc16 { width: 16px; height: 16px; background-position: -2px -1002px; }
.sprite-crud.spart-sortdesc16 { width: 16px; height: 16px; background-position: -2px -1022px; }
.sprite-crud.spart-success32 { width: 32px; height: 32px; background-position: -2px -1042px; }
.sprite-crud.spart-time16 { width: 16px; height: 16px; background-position: -2px -1078px; }
.sprite-crud.spart-trash16 { width: 16px; height: 16px; background-position: -2px -1098px; }
.sprite-crud.spart-trash24 { width: 24px; height: 24px; background-position: -2px -1118px; }
.sprite-crud.spart-user16 { width: 16px; height: 16px; background-position: -2px -1146px; }
.sprite-crud.spart-user32 { width: 32px; height: 32px; background-position: -2px -1166px; }
.sprite-crud.spart-warning16 { width: 16px; height: 16px; background-position: -2px -1202px; }
.sprite-crud.spart-warning32 { width: 32px; height: 32px; background-position: -2px -1222px; }
.sprite-crud.spart-cartfull32 { width: 32px; height: 32px; background-position: -2px -1256px; }
