
.delta-message-border { z-index: 10; display:none; }
.delta-message-border .delta-message-container { background: none repeat scroll 0 0 #FFFFFF; position: relative; width:400px; }
 
.delta-message-border a.close { text-decoration:none; }
.delta-message-border a.close:hover { color:red; }

.delta-message-border .process-error{ box-shadow:0 2px 6px #333; color:#94000c; background:url("/img/cms/message/error.png") no-repeat scroll 18px 22px #ffefeb; padding:15px 25px; border-radius:2px; } 
.delta-message-border .process-warning{ box-shadow:0 2px 6px #333; color:#000; background:url("/img/cms/message/warning.png") no-repeat scroll 18px 22px #fbecce; padding:15px 25px; border-radius:2px; } 
.delta-message-border .process-success{ box-shadow:0 2px 6px #333; color:#276630; background:url("/img/cms/message/success-big.png") no-repeat scroll 18px 22px #edf8ee; padding:15px 25px; border-radius:2px; }   
.delta-message-border .process-info{ box-shadow:0 2px 6px #333; color:#000; background-color:#fff; padding:25px 25px 15px; border-radius:2px; }   
 
.delta-message-border .process-error .delta-message-container-content { padding:10px 0px 10px 40px; text-align:left; font-size:12px; }
.delta-message-border .process-warning .delta-message-container-content { padding:10px 0px 10px 40px; text-align:left; font-size:12px; }
.delta-message-border .process-success .delta-message-container-content { padding:10px 0px 10px 40px; text-align:left; font-size:12px; }
.delta-message-border .process-info .delta-message-container-content {  text-align:left; font-size:12px; }

.delta-message-border .process-info .process-step { color:gray; margin:-15px 0px 5px; font-size:11px; position:absolute; right:20px; }

.delta-message-border .delta-message-container-button { text-align:right; font-size:12px; margin-top:10px; }

.delta-message-border .process-info div.action-context { font-size:12px; color:#444; margin:5px 0px 10px; }
.delta-message-border .process-info div.action-context a { font-size:12px; }    
.delta-message-border .process-info div.cp_error { font-size:12px;  }
.delta-message-border .process-info input.wide { width:90%; border:1px solid #7f9db9 }

.delta-message-icon { float:left; margin-top:11px; }
.delta-message-header { float:left; border-bottom: 1px dotted #ccc; float: left; font-size: 12px; font-weight: bold; margin:15px 0px 0px 10px; padding-bottom: 1px; width: 85%; }
table.form.delta-block tr td.title { width:25% !important;}
