

/************************************ DESIGN ************************************/  

a.hosting-sprite-design-logo { left: 70px; position: absolute; top: 40px; text-decoration:none; display:block; background-image:url(/design/ukraine/img/sprite/design_3.png); background-repeat: no-repeat; background-position: 0 -266px; width: 194px; height: 37px; }
div.contact { left: 100px;  position:absolute; top: -203px; background-image:url(/design/ukraine/img/sprite/design_3.png); background-repeat: no-repeat; background-position: 0 -72px; width: 196px; height: 148px; margin:30px 0px 0px 20px; padding: 15px 0 0 15px; } 

a.hosting-sprite-design-wm_verified { float:left; text-decoration:none; display:block; background-image:url(/design/ukraine/img/sprite/design_3.png); background-repeat: no-repeat; background-position: 0 -385px; width: 88px; height: 31px; }
a.hosting-sprite-design-wm_accept { float:left; text-decoration:none; display:block; background-image:url(/design/ukraine/img/sprite/design_3.png); background-repeat: no-repeat; background-position: 0 -352px; width: 88px; height: 31px; } 
 
div.hosting-sprite-design-round-left { display:block; background-image:url(/design/ukraine/img/sprite/design_3.png); background-repeat: no-repeat; background-position: 0 -237px; width: 12px; height: 27px; } 
div.hosting-sprite-design-round-right { display:block; background-image:url(/design/ukraine/img/sprite/design_3.png); background-repeat: no-repeat; background-position: 0 -323px; width: 12px; height: 27px; }
 
div.hosting-sprite-design { background-image:url(/design/ukraine/img/sprite/design_3.png); background-repeat: no-repeat; }
div.hosting-sprite-design.arrow { float:right; margin-right:10px; width: 16px; height: 16px; }
div.hosting-sprite-design.arrow.down { display:block; background-position: 0 0;  }
div.hosting-sprite-design.arrow.up { display:block;background-position: 0 -54px;}
div.hosting-sprite-design.arrow.left { display:block; background-position: 0 -18px; }
div.hosting-sprite-design.arrow.right { display:block; background-position:0px -34px; }
 
div.hosting-sprite-design.home-menu { height: 16px; width:16px; float:left; margin-left:10px; }
div.hosting-sprite-design.home-menu.phone { display:block; background-position: 0 -305px; }
div.hosting-sprite-design.home-menu.chat { display:block; background-position: -16px -305px; }
div.hosting-sprite-design.home-menu.currency { display:block; background-position: -32px -305px; }


/*********************************** MAINPAGE ***********************************/

/* PAYMENT */   
a.hosting-sprite-payment { text-decoration:none; display:block; float:left; background-image:url(/design/ukraine/img/sprite/payment_5.png); background-repeat: no-repeat; margin:6px 4px 0px 0px; }
.hosting-sprite-payment.spart-checkout{ background-position: 0 0; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-bank{ background-position: 0 -32px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-interkassa{ background-position: 0 -64px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-invoice{ background-position: 0 -96px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-liqpay{ background-position: 0 -128px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-mastercard{ background-position: 0 -160px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-paypal{ background-position: 0 -192px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-privatbank{ background-position: 0 -224px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-rbkmoney{ background-position: 0 -256px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-safe{ background-position: 0 -288px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-terminal{ background-position: 0 -320px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-visa{ background-position: 0 -352px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-walletone{ background-position: 0 -384px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-webmoney-white{ background-position: 0 -416px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-yandexmoney{ background-position: 0 -448px; width: 50px; height: 30px; } 

.hosting-sprite-payment.spart-easypay{ background-position: 0 -480px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-nonstop{ background-position: 0 -512px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-scrill{ background-position: 0 -544px; width: 50px; height: 30px; }
.hosting-sprite-payment.spart-bank24{ background-position: 0 -576px; width: 50px; height: 30px; }
.hosting-sprite-payment.spart-ibox{ background-position: 0 -608px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-portmone{ background-position: 0 -640px; width: 50px; height: 30px; } 
.hosting-sprite-payment.spart-tyme{ background-position: 0 -672px; width: 50px; height: 30px; } 

/* FOOTER */     
li.hosting-sprite-bottom { background-image:url(/design/ukraine/img/sprite/bottom_1.png); background-repeat: no-repeat; display:block; padding-left:32px; line-height:24px; height:24px;}
.hosting-sprite-bottom.spart-abuse{ background-position: 0 0; height: 24px; } 
.hosting-sprite-bottom.spart-archive{ background-position: 0 -26px; height: 24px; } 
.hosting-sprite-bottom.spart-chat{ background-position: 0 -52px; height: 24px; } 
.hosting-sprite-bottom.spart-contract{ background-position: 0 -78px; height: 24px; } 
.hosting-sprite-bottom.spart-corp{ background-position: 0 -104px; height: 24px; } 
.hosting-sprite-bottom.spart-dedicated{ background-position: 0 -130px; height: 24px; } 
.hosting-sprite-bottom.spart-domain{ background-position: 0 -156px; height: 24px; } 
.hosting-sprite-bottom.spart-faq{ background-position: 0 -182px; height: 24px; } 
.hosting-sprite-bottom.spart-forum{ background-position: 0 -208px; width: 26px; height: 24px; } 
.hosting-sprite-bottom.spart-hosting{ background-position: 0 -234px; height: 24px; } 
.hosting-sprite-bottom.spart-job{ background-position: 0 -260px; height: 24px; } 
.hosting-sprite-bottom.spart-money{ background-position: 0 -286px; height: 24px; } 
.hosting-sprite-bottom.spart-news{ background-position: 0 -312px; height: 24px; } 
.hosting-sprite-bottom.spart-partner{ background-position: 0 -338px; height: 24px; } 
.hosting-sprite-bottom.spart-referal{ background-position: 0 -364px; height: 24px; } 
.hosting-sprite-bottom.spart-rules{ background-position: 0 -390px; height: 24px; } 
.hosting-sprite-bottom.spart-service{ background-position: 0 -416px; height: 24px; } 
.hosting-sprite-bottom.spart-support{ background-position: 0 -442px; height: 24px; } 
.hosting-sprite-bottom.spart-tools{ background-position: 0 -468px; height: 24px; } 
.hosting-sprite-bottom.spart-vps{ background-position: 0 -494px; height: 24px; } 
.hosting-sprite-bottom.spart-zpd{ background-position: 0 -520px; height: 24px; } 


/* CMS */
div.hosting-sprite-cms { background-image:url(/design/ukraine/img/sprite/cms_1.png); background-repeat: no-repeat; display:block; margin:5px 5px 0px 0px; float:left; position:relative;}
.hosting-sprite-cms.spart-bitrix{ background-position: 0 0; width: 97px; height: 85px; } 
.hosting-sprite-cms.spart-delta{ background-position: 0 -87px; width: 97px; height: 85px; } 
.hosting-sprite-cms.spart-drupal{ background-position: 0 -174px; width: 97px; height: 85px; } 
.hosting-sprite-cms.spart-joomla{ background-position: 0 -261px; width: 97px; height: 85px; } 
.hosting-sprite-cms.spart-phpbb{ background-position: 0 -348px; width: 97px; height: 85px; } 
.hosting-sprite-cms.spart-print{ background-position: 0 -435px; width: 16px; height: 16px; } 
.hosting-sprite-cms.spart-shop_script{ background-position: 0 -453px; width: 97px; height: 85px; } 
.hosting-sprite-cms.spart-typo3{ background-position: 0 -540px; width: 97px; height: 85px; } 
.hosting-sprite-cms.spart-virtuemart{ background-position: 0 -627px; width: 97px; height: 85px; } 
.hosting-sprite-cms.spart-wp{ background-position: 0 -714px; width: 97px; height: 85px; } 


/*********************************** DOMAINS ***********************************/

div.hosting-advantage {  float: left; width: 300px; height: 60px; padding: 10px 10px 10px 10px; background-color:#f3f3f3; margin: 5px; display:block; line-height:16px; }
div.hosting-sprite-domain { background-image:url(/design/ukraine/img/sprite/domain_1.png); background-repeat: no-repeat; height: 32px; padding-left:50px; width: 240px; }  
.hosting-sprite-domain.spart-anchor{ background-position: 0 0;} 
.hosting-sprite-domain.spart-certificate{ background-position: 0 -34px; } 
.hosting-sprite-domain.spart-computer{ background-position: 0 -68px; } 
.hosting-sprite-domain.spart-deposit{ background-position: 0 -102px; } 
.hosting-sprite-domain.spart-guarantee{ background-position: 0 -136px; } 
.hosting-sprite-domain.spart-jabber{ background-position: 0 -170px; } 
.hosting-sprite-domain.spart-mail{ background-position: 0 -204px; } 
.hosting-sprite-domain.spart-network{ background-position: 0 -238px; } 
.hosting-sprite-domain.spart-security-high{ background-position: 0 -272px; } 
.hosting-sprite-domain.spart-settings{ background-position: 0 -306px; } 
.hosting-sprite-domain.spart-sitemap{ background-position: 0 -340px; } 
.hosting-sprite-domain.spart-statistics{ background-position: 0 -374px; } 


/*********************************** UKRAINEBAR ********************************/
div.hosting-sprite-ukrainebar { background-image:url(/design/ukraine/img/sprite/ukrainebar_1.png); background-repeat: no-repeat; float:left; } 
.hosting-sprite-ukrainebar.spart-biglogo{ background-position: 0 0; width: 146px; height: 28px; } 
.hosting-sprite-ukrainebar.spart-search{ background-position: 0 -307px; width: 212px; height: 22px; margin:4px 0px 0px 10px; }
.hosting-sprite-ukrainebar.spart-logo{ background-position: 0 -188px; height: 16px; line-height: 15px; padding-left: 20px; margin:7px 0px 0px 10px; }  
.hosting-sprite-ukrainebar.spart-cp{ background-position: 0 -30px; height: 16px; line-height: 15px; padding-left: 20px; margin:7px 0px 0px 10px;  } 
.hosting-sprite-ukrainebar.spart-domain{ background-position: 0 -48px; height: 16px; line-height: 15px; padding-left: 20px; margin:7px 0px 0px 10px;  } 
.hosting-sprite-ukrainebar.spart-whois{ background-position: 0 -242px; height: 16px; line-height: 15px; padding-left: 20px; margin:7px 0px 0px 10px;  } 
.hosting-sprite-ukrainebar.spart-mail{ background-position: 0 -206px; height: 16px; line-height: 15px; padding-left: 20px; margin:7px 0px 0px 10px;  } 
.hosting-sprite-ukrainebar.spart-urlinfo{ background-position: 0 -331px; height: 16px; line-height: 15px; padding-left: 20px; margin:7px 0px 0px 10px;  }
.hosting-sprite-ukrainebar.spart-pagerank{ background-position: 0 -298px; height: 7px; line-height: 6px; padding-left: 20px; margin:12px 0px 0px 10px;  }  

.hosting-sprite-ukrainebar.spart-browserff{ background-position: 0 -66px;  height: 16px; line-height: 15px; padding-left: 20px; margin-bottom:5px; } 
.hosting-sprite-ukrainebar.spart-browsergh{ background-position: 0 -84px;  height: 16px; line-height: 15px; padding-left: 20px; margin-bottom:5px; } 
.hosting-sprite-ukrainebar.spart-browserie{ background-position: 0 -102px;  height: 16px; line-height: 15px; padding-left: 20px; margin-bottom:5px; } 
.hosting-sprite-ukrainebar.spart-browsero { background-position: 0 -224px; height: 16px; line-height: 15px; padding-left: 20px; margin-bottom:5px; } 


.hosting-sprite-ukrainebar.spart-info{ background-position: 0 -120px; width: 32px; height: 32px; margin-top:5px; } 
.hosting-sprite-ukrainebar.spart-install{ background-position: 0 -154px; width: 32px; height: 32px; margin-top:5px; } 

.hosting-sprite-ukrainebar.spart-arrow-gray{ background-position: 0 -260px; width: 16px; height: 17px; } 
.hosting-sprite-ukrainebar.spart-arrow-white{ background-position: 0 -279px; width: 17px; height: 17px; } 

