html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
}

body {
    background-color: #242E3E;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    background-image: url(/media/images/bg.png);
    background-position: left 50px;
    background-attachment: fixed;
}

a {
    color: #267d9e;
    text-decoration: none;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

a:hover {
    color: #FFF;
    background-color: #308ABA;
    border-bottom-style: none;
}

.b-main {
    height: auto;
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    background-color: #FFF;
}

.b-content {
    overflow: visible;
    position: relative;
    padding-top: 25px;
    padding-right: 10px;
    padding-bottom: 25px;
    padding-left: 10px;
}

.b-content p {
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    color: #666;
}

.b-content-srblock{

}
.b-content-srblock_header{
    position: relative;
    height: 33px;
    width: auto;
    line-height: 33px;
    font-size: 14px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #d1e8f3;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}
.b-content-srblock_header .b-starrating{
    left: 50px;
    top:5px;
}
.b-content-srblock_header .b-starrating a{
    background-color: #f5f5f5;
}
.b-content-srblock_header .firm_num{
    position: absolute;
    left:230px;
    top:0;
    color:#666;
}
.b-content-srblock_header .firm_num a{
    color:#666;
}
.b-content-srblock_header .firm_num a:hover{
    color:#fff;
}
.b-content-srblock_header .exp_link{
    position: absolute;
    right:15px;
    top:0;
}
.b-content-srblock_header .loads{
    position: absolute;
    right:315px;
    top:0;
    display: none;
}
.b-header {
    height: 50px;
    padding: 25px;
    background-image: url(../images/zapili_net_logo3.png);
    background-repeat: no-repeat;
    background-position: 25px 10px;
    position: relative;
    z-index: 10;
    border-top: 2px solid #242E3E;
}

.b-header h1 {
    font-size: 21px;
    font-family: Verdana, Geneva, sans-serif;
    position: absolute;
    left: 87px;
    top: 12px;
}

.b-header span {
    font-size: 18px;
}

.b-header h2 {
    font-size: 14px;
    font-family: Verdana, Geneva, sans-serif;
    position: absolute;
    left: 252px;
    top: 30px;
    font-size: 10px;
    color: #777;
}

.b-header h2 a {
    float: left;
    display: block;
    width: 129px;
    height: 43px;
    margin-right: 15px;
    border: none;
}

.b-header h2 a:hover {
    background-color: #fff;
}

.b-header h2 .a1 {
    background-image: url("../images/add_btn.png");
}

.b-header h2 .a2 {
    background-image: url("../images/add_btn.png");
    background-position: 0 -44px;
}

.b-topmenu ul {
    list-style-position: inside;
    list-style-type: none;
    position: relative;
    width: 981px;
    background-color: #308aba;
    height: 50px;
    padding-top: 1px;
    padding-left: 12px;
    padding-right: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #7ABCE0;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #7ABCE0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #419CCD;
    margin-left: -13px;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #419CCD;
    background-image: url(/media/images/topbg.png);
    background-repeat: repeat-x;
    background-position: top;
    z-index: 5;
}

.b-topmenu ul li {
    float: left;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin-right: 1px;
}

.b-topmenu ul li a {
    height: 50px;
    display: block;
    line-height: 50px;
    color: #FFF;
    padding-right: 7px;
    padding-left: 7px;
    text-decoration: none;
    border-top-style: none;
    border-right-style: solid;
    border-bottom-style: none;
    border-left-style: solid;
    border-right-width: 1px;
    border-left-width: 1px;
    border-right-color: #308ABA;
    border-left-color: #308ABA;
    position: relative;
}

.b-topmenu ul li a small {
    position: absolute;
    top: -15px;
    left: 10px;
    font-size: 10px;
}

.b-topmenu ul li a.sel {
    background-color: #FFF;
    color: #308aba;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #ddd;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ddd;
    height: 53px;
}

.b-topmenu ul li a:hover {
    background-color: #FFF;
    color: #308aba;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #ddd;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ddd;
    height: 53px;
}

.b-topmenu-shadow {
    background-color: #DADADA;
    margin: 0;
    padding: 0;
    height: 1px;
    width: auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #7E7E7E;
}

.b-firminfo {
    margin-bottom: 15px;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: #CCC;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 10px;
    padding-top: 10px;
}

.b-firminfo-header {
    line-height: 31px;
    font-size: 11px;
    padding-bottom: 10px;
    height: 31px;
}

.b-firminfo-header-name {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 210px;
    margin-right: 20px;
    float: left;
}

.b-firminfo-header-feedbacks {
    width: 130px;
    float: left;
    font-size: 14px;
}

.b-firminfo-header-feedbacks a {
    font-size: 14px;
}

.b-firminfo-header-rating {
    position: relative;
    margin-right: 5px;
    bottom: -3px;
    float: left;
}

.b-firminfo-header-payments {
    position: relative;
    width: 420px;
    text-align: right;
    float: right;
}

.b-firminfo-body {
    clear: both;
}

.b-firminfo-left {
    width: 200px;
    float: left;
}

.b-firminfo-body-domaininfo {
    padding-top: 10px;
    width: 200px;
    text-align: center;
    font-size: 11px;
    vertical-align: middle;
}

.b-firminfo-body-domaininfo img {
    float: left;
    position: relative;
    top: -3px;
}

.b-firminfo-body-screen {
    height: 150px;
    width: 200px;
    padding: 5px;
    background-color: #eee;
    border: 1px solid #ddd;
    float: left;
    margin-bottom: 5px;
}

.b-firminfo-body-like {
    font-size: 10px;
    padding: 7px;
    position: relative;
    margin-top: 200px;
    border: 1px dotted #e5e5e5;
    margin-left: 0;
    margin-right: -11px;
    height: 20px;
}

.b-firminfo-body-counter {
    font-size: 10px;
    padding: 7px;
    position: relative;
    background-color: #f9f9f9;
    margin-top: 20px;
    border-top: 3px solid #e5e5e5;
    margin-left: 0;
    margin-right: -11px;
}

.b-firminfo-body-counter p {
    padding: 0;
    padding-top: 15px;
}

.b-firminfo-body-counter a {
    border: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    display: block;
    width: 88px;
    height: 31px;
}

.b-firminfo-body-counter textarea {
    height: 100px;
}

.b-firminfo-body-screen a {
    text-decoration: none;
    background-image: none;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    background-color: #EEE;
}

.b-firminfo-body-info {
    float: left;
    margin-left: 25px;
    font-size: 11px;
}

.b-firminfo-body-feedbacks {
    margin-left: 230px;
    border: 1px dotted #CCC;
    margin-bottom: 5px;
    height: auto;
    line-height: 1.6em;
    padding: 10px;
    display: none;
    position: relative;
}

.b-firminfo-body-feedbacks p {
    margin-bottom: 15px;
    padding: 1px;
}

.b-firminfo-body-goto {
    width: 670px;
    padding-top: 5px;
    margin-left: 235px;
    text-align: right;
    font-size: 14px;
    margin-bottom: -15px;
    clear: both;
    position: relative;
}

.b-firminfo-platniklist {
    display: none;
}

.b-firmparams-platniklink {
    position: absolute;
    bottom: -23px;
    font-size: 14px;
    z-index:100;
}

.content-line-info-table {
    width: 675px;
    background-color: #ddd;
    padding: 0;
    margin-left: 230px;
}

.content-line-info-table thead tr td, .content-line-info-table .thead {
    font-weight: bold;
    color: #3e708b;
    padding-bottom: 5px;
    background-color: #D1E8F3;
    text-align: center;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ADCADA;
    padding-top: 5px;
}

.content-line-info-table tbody tr td {
    font-size: 11px;
    font-family: Verdana, Geneva, sans-serif;
    padding-bottom: 5px;
    text-align: center;
    line-height: 20px;
    background-color: #FFFCF0;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #D1E8F3;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1E8F3;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 5px;
}

.content-line-info-table .nobg {
    background-color: #FFF;
    text-align: left;
    vertical-align: middle;
}

.content-line-info-table tbody tr .bg1 {
    background-color: #FFF;
}

.content-line-info-table tbody tr .rborder {
    border-right-color: #ADCADA;
}

.content-line-info-table .block {
    float: left;
    height: 25px;
    width: 167px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ADCADA;
    margin-right: 0;
    line-height: 25px;
    position: relative;
    white-space: nowrap;
}

.content-line-info-table .block b {
    display: block;
    width: 55px;
    float: left;
    background-color: #FFFCF0;
    padding-left: 5px;
}

.content-line-info-table .block i {
    display: block;
    font-style: normal;
    width: auto;
    margin-left: 65px;
    text-align: left;
}

.content-line-info-table .block small {
    font-size: 11px;
}

.content-line-info-table .block2 {
    float: left;
    height: 25px;
    width: 334px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #ADCADA;
    margin-right: 0;
    line-height: 25px;
    position: relative;
    white-space: nowrap;
    font-size: 11px;
}

.content-line-info-table .block2 b {
    display: block;
    width: 57%;
    float: left;
    background-color: #FFFCF0;
    padding-left: 5px;
    color: #000;
    font-weight: normal;
}

.content-line-info-table .block2 i {
    display: block;
    font-style: normal;
    width: auto;
    margin-left: 60%;
    text-align: left;
}

.content-line-info-table .thead b {
    display: block;
    width: 50%;
    float: left;
}

.content-line-info-table .thead i {
    font-style: normal;
}

.g-clear {
    clear: both;
}

.b-paysystem {
    background-image: url(../images/paysystem.png);
    background-repeat: no-repeat;
    height: 26px;
    width: 49px;
    background-position: 0 top;
    float: right;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.b-paysystem_visa {
    background-position: 0 0;
}

.b-paysystem_visa:hover {
    background-position: 0 -31px;
}

.b-paysystem_mastercard {
    background-position: -50px 0;
}

.b-paysystem_mastercard:hover {
    background-position: -50px -31px;
}

.b-paysystem_yandexmoney {
    background-position: -100px 0;
}

.b-paysystem_yandexmoney:hover {
    background-position: -100px -31px;
}

.b-paysystem_webmoney {
    background-position: -150px 0;
}

.b-paysystem_webmoney:hover {
    background-position: -150px -31px;
}

.b-paysystem_paypal {
    background-position: -200px 0;
}

.b-paysystem_paypal:hover {
    background-position: -200px -31px;
}

.b-paysystem_epese {
    background-position: -250px 0;
}

.b-paysystem_epese:hover {
    background-position: -250px -31px;
}

.b-paysystem_bitcoin {
    background-position: -300px 0;
}

.b-paysystem_bitcoin:hover {
    background-position: -300px -31px;
}

.b-paysystem_ecoin {
    background-position: -350px 0;
}

.b-paysystem_ecoin:hover {
    background-position: -350px -31px;
}

.b-paysystem_rbkmoney {
    background-position: -400px 0;
}

.b-paysystem_rbkmoney:hover {
    background-position: -400px -31px;
}

.b-paysystem_epayservice {
    background-position: -450px 0;
}

.b-paysystem_epayservice:hover {
    background-position: -450px -31px;
}

.b-paysystem_check {
    background-position: -500px 0;
}

.b-paysystem_check:hover {
    background-position: -500px -31px;
}

.b-paysystem_wire {
    background-position: -550px 0;
}

.b-paysystem_wire:hover {
    background-position: -550px -31px;
}

.b-paysystem_paxum {
    background-position: -600px 0;
}

.b-paysystem_paxum:hover {
    background-position: -600px -31px;
}

.b-paysystem_moneybookers {
    background-position: -650px 0;
}

.b-paysystem_moneybookers:hover {
    background-position: -650px -31px;
}

.b-paysystem_lr {
    background-position: -700px 0;
}

.b-paysystem_lr:hover {
    background-position: -700px -31px;
}

.b-paysystem_pmoney {
    background-position: -750px 0;
}

.b-paysystem_pmoney:hover {
    background-position: -750px -31px;
}

.b-paysystem_alertpay {
    background-position: -800px 0;
}

.b-paysystem_alertpay:hover {
    background-position: -800px -31px;
}

.b-paysystem_liqpay {
    background-position: -850px 0;
}

.b-paysystem_liqpay:hover {
    background-position: -850px -31px;
}

.b-paysystem_moneygram {
    background-position: -900px 0;
}

.b-paysystem_moneygram:hover {
    background-position: -900px -31px;
}

.b-paysystem_contact {
    background-position: -950px 0;
}

.b-paysystem_contact:hover {
    background-position: -950px -31px;
}

.b-paysystem_anelik {
    background-position: -1000px 0;
}

.b-paysystem_anelik:hover {
    background-position: -1000px -31px;
}

.b-paysystem_qiwi {
    background-position: -1050px 0;
}

.b-paysystem_qiwi:hover {
    background-position: -1050px -31px;
}

.b-starrating {
    overflow: hidden;
    position: relative;
    width: 120px;
    height: 21px;
}

.b-starrating a {
    display: block;
    width: 24px;
    height: 21px;
    position: relative;
    text-indent: -9999px;
    background-image: url(/media/images/stars.png);
    background-position: center;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    float: left;
    background-color: #FFF;
}

.b-starrating span {
    display: block;
    width: 24px;
    height: 21px;
    position: relative;
    text-indent: -9999px;
    background-image: url(/media/images/stars.png);
    background-position: center;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    float: left;
}
.b-starrating a.small {
    background-image: url(/media/images/stars_80.png);
    height: 17px;
    width: 19px;
}
.b-starrating span.small {
    background-image: url(/media/images/stars_80.png);
    height: 17px;
    width: 19px;
}
.b-starrating a.sel {
    background-position: top;
}

.b-starrating a.sel2 {
    background-position: top;
}

.b-starrating a.def {
    background-position: bottom;
}

.b-starrating a.def2 {
    background-position: bottom;
}

.b-starrating span.sel {
    background-position: top;
}

.b-starrating span.bad {
    background-position: bottom;
}

.geo-flag {
    position: relative;
    margin-top: -5px;
    margin-bottom: -10px;
}

.b-filterform {
    border: 1px solid #E0E0E0;
    line-height: 25px;
    width: 95%;
    padding-top: 25px;
    padding-right: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-left: 15px;
    margin-top: 15px;
    position: relative;
    margin-bottom: 25px;
}

.b-filterform_vds {
    width: 550px;
    height: 200px;
    font-size: 11px;
    padding-left: 15px;
}

.b-notice {
    width: 330px;
    float: right;
    height: 200px;
    margin-left: 0;
    margin-top: 0;
    margin-right: 15px;
    clear: both;
    font-size: 12px;
}

.b-notice ul.goldlist {
    padding-left: 13px;
    padding-right: 2px;
    line-height: 12px;
    list-style-image: url("/media/images/goldcheck.png");
    margin-top: -5px;
}

.b-notice ul.goldlist li {
    padding-bottom: 6px;
}

x.b-filterform h2 {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    left: 30px;
    top: -12px;
    background-color: #D1E8F3;
    padding-right: 15px;
    padding-left: 15px;
    background-image: url(/media/images/tdbg.png);
    background-repeat: repeat-x;
    background-position: top;
}

x.b-filterform h3 {
    font-size: 13px;
    font-weight: normal;
    position: absolute;
    left: 430px;
    top: -12px;
    background-color: #F0F0F0;
    padding-right: 15px;
    padding-left: 15px;
}

.b-filterform-menu {
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    left: 20px;
    top: -12px;
}

.b-filterform-menu ul li {
    list-style-position: inside;
    list-style-type: none;
    float: left;
    margin-right: 25px;
    padding: 1px;
    background-color: #FFF;
    border: 1px solid #e7e7e7;
    height: 24px;
    line-height: 24px;
    position: relative;
    top: -3px;
}

.b-filterform-menu ul li.sel {
    border: 1px solid #8cbfe8;
}

.b-filterform-menu ul li h2 {
    padding-right: 15px;
    padding-left: 15px;
    background-image: url(/media/images/tdbg.png);
    background-repeat: repeat;
    background-position: top;
}

.b-filterform-menu ul li.sel2 h2 {
    background-image: url(/media/images/goldbg.png);
}

.b-filterform-menu ul li.sel2 {
    border: 1px solid #fef2c6;
}

.b-filterform-menu ul li span {
    background-color: #e7e7e7;
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
    background-image: url(/media/images/greybg.png);
    background-repeat: repeat-x;
    background-position: top;
}

.b-filterform-menu ul li span a {
    position: relative;
    top: -1px;
}

.b-filterform select {
    width: 180px;
    margin-top: 17px;
    margin-left: 0;
    position: relative;
    left: -7px;
}

.b-filterform-line {
    position: relative;
    width: 400px;
    height: 50px;
    float: left;
    margin-right: 40px;
    vertical-align: middle;
}

.b-filterform_vds .b-filterform-line {
    width: 260px;
    margin-right: 0;
    margin-left: 10px;
    padding-left: 5px;
    line-height: 20px;
    height: 43px;
    margin-top: -5px;
    z-index: 0;
}

.b-filterform-line .a {
    white-space: nowrap;
    float: left;
    width: 170px;
    padding-top: 15px;
    text-align: right;
    padding-right: 30px;
    font-weight: normal;
    position: relative;
}

.b-filterform-line .b {
    float: left;
    width: 135px;
    text-align: right;
    padding-right: 15px;
    font-style: normal;
    display: block;
    position: relative;
}

.b-filterform_vds .a {
    width: 100px;
    margin-left: -15px;
    padding-right: 10px;
}

.b-filterform_vds .a span {
    line-height: 12px;
}

.b-filterform_vds .b {
    width: 120px;
    margin-right: -10px;
    padding-right: 0;
    padding-left: 35px;
}

.b-filterform_vds .b select {
    width: 120px;
    font-size: 11px;
    position: relative;
    left: -10px;
}

.b-filterform input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 18px;
}

.b-filterform_vds .ab {
    padding-top: 15px;
    padding-right: 25px;
    text-align: right;
}

.b-filterform_vds .ab input[type=checkbox] {
    left: 0;
    top: 18px;
    position: static;
}

.b-vdsplans {
    margin-left: 230px;
    position: relative;
}

.b-vdsplans table {
    border-collapse: collapse;
    width: 99%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1E8F3;
}

.b-vdsplans table thead tr td {
    background-color: #D1E8F3;
    padding: 5px;
    text-align: center;
    background-image: url(/media/images/tdbg.png);
    background-repeat: repeat-x;
    background-position: top;
}

.b-vdsplans table tbody tr td {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: #CCC;
    text-align: center;
}

.b-vdsplans-a {
    width: 200px;
    white-space: nowrap;
}

.b-vdsplans-b td {
    background-color: #F5F5F5;
}

.b-vdsplans-c td {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #D1E8F3;
}

.b-vdsplans select {
    position: absolute;
    bottom: -25px;
    z-index:100;
}

.b-dedic-head table thead tr td {
    background-image: url(/media/images/tdbg2.png);
}

.b-domainplans {
    margin-left: 230px;
    position: relative;
}

.b-domainplans table {
    border-collapse: collapse;
    width: 99%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1E8F3;
}

.b-domainplans table thead tr td {
    background-color: #D1E8F3;
    padding: 5px;
    text-align: center;
    background-image: url(/media/images/tdbg.png);
    background-repeat: repeat-x;
    background-position: top;
}

.b-domainplans table tbody tr td {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: #CCC;
    text-align: left;
    white-space: nowrap;
    width: 20%;
}

.b-domainplans table tbody tr td b {
    display: block;
    width: 75px;
    margin-right: 5px;
    float: left;
}

.b-domainplans-b td {
    background-color: #F5F5F5;
}

.b-firmparams {
    margin-left: 230px;
    position: relative;
}

.b-firmparams table {
    border-collapse: collapse;
    width: 99%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #D1E8F3;
}

.b-firmparams table thead tr td {
    background-color: #D1E8F3;
    padding: 5px;
    text-align: center;
    background-image: url(/media/images/tdbg.png);
    background-repeat: repeat-x;
    background-position: top;
}

.b-firmparams table tbody tr td {
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 7px;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: #CCC;
    text-align: left;
    white-space: nowrap;
    width: 20%;
}

.b-firmparams table tbody tr td b {
    display: block;
    width: 157px;
    margin-right: 5px;
    float: left;
}

.extw tr td b {
    display: block;
    width: 170px;
    margin-right: 5px;
    float: left;
}

.b-firmparams-b {
    background-color: #F5F5F5;
}

.b-footer {
    clear: both;
    height: 50px;
    width: auto;
    font-size: 11px;
    line-height: 15px;
    padding-right: 25px;
    padding-left: 25px;
    background-color: #242E3E;
    color: #CCC;
    padding-top: 15px;
}

.b-footer b {
    font-weight: normal;
    float: right;
}

.b-footer i {
    font-style: normal;
    float: left;
    margin-right: 25px;
}

.b-footer a {
    color: #7EBFDE;
}

.b-footer a:hover {
    color: #FFF;
}

.b-filterform h3 a {
    position: relative;
    bottom: 1px;
}

.b-curcalc input[type=text] {
    width: 70px;
}

.b-curcalc span {
    font-size: 18px;
}

.b-curcalc select {
    width: 120px;
}

.b-exchangeshort {
    margin-right: 15px;
    margin-left: 15px;
    width: 97%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ebebeb;
    padding-bottom: 30px;
}

.b-exchangeshort table {
    width: 100%;
    border-collapse: collapse;
    border-left-width: 1px;
    border-left-style: dotted;
    border-left-color: #ebebeb;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #ebebeb;
}

.b-exchangeshort table thead tr td {
    background-color: #FFF;
    background-image: url(/media/images/tdbg.png);
    background-repeat: repeat-x;
    background-position: top;
    text-align: center;
    padding: 5px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #F1f1f1;
}

.b-exchangeshort table tbody tr td {
    text-align: center;
    white-space: nowrap;
    line-height: 30px;
    vertical-align: middle;
    padding-right: 10px;
    padding-left: 10px;
    border-right-width: 1px;
    border-right-style: dotted;
    border-right-color: #EBEBEB;
}

.b-exchangeshort-b td {
    background-color: #F5F5F5;
}

.b-exchangeshort-sel td {
    background-color: #E7F0F5;
}

.b-exchangeshort p {
    padding-bottom: 10px;
    text-size: 12px;
    color: #555;
}

.b-mod-tizer table tbody tr td b {
    margin-right: 34px;
}

.b-mod-ppc table tbody tr td b {
    margin-right: 34px;
}

.b-about {
    line-height: 20px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
}

.b-about h1 {
    font-size: 25px;
    font-weight: bold;
    color: #a3a3a3;
    margin-bottom: 15px;
}

.b-about h2 {
    font-size: 18px;
    font-weight: bold;
    color: #a3a3a3;
    margin-bottom: 10px;
    padding-top: 15px;
}

.b-about p {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-top: 0;
    padding-bottom: 0;
    color: #000;
}

.b-about small {
    font-size: 11px;
    color: #666;
    position: absolute;
    bottom: 10px;
}

.b-about ul li {
    margin-left: 32px;
}

.b-about table {
    width: 550px;
    text-align: center;
    margin-left: 15px;
    border: 1px solid #BBBBBB;

}

.b-about table thead {
    background-color: #E5E5E5;
    font-weight: 700;
    height: 20px;
    text-align: center;
}

.b-about table tbody td {
    border-bottom: 1px solid #f1f1f1;
}

.b-promo {
    /*background-image: url(/media/images/promomarker.png);
    background-position: left -10px;
    background-repeat: no-repeat;*/
    overflow: hidden;
    text-align: right;
    height: 90px;
    width: 600px;
    float: right;
    position: relative;
    margin-right: 20px;
    line-height: 200px;
    display: table;
}
.b-promo img{
    position: relative;
    vertical-align: middle;
}
.b-promo a{
    vertical-align: middle;
    border: none;
    display: table-cell;
    background: none;
}
.b-topblock{
    width: 970px;
    margin-right: auto;
    margin-left: auto;
    height: 90px;
}
.b-topblock h1{
    font-size: 21px;
    margin-left: 20px;
    padding-top: 22px;
}
.b-topblock h2{
    font-size: 16px;
    margin-left: 20px;
}
.b-promo2 {
    max-width: 600px;
    max-height: 90px;
    overflow: hidden;
}

.b-promo2 {
    position: relative;
    height: 60px;
    top: -10px;
}

.b-promolocal {
    border-bottom: 1px dashed #CCCCCC;
    margin-bottom: 15px;
    margin-top: -10px;
    padding-bottom: 2px;
    background-image: url(/media/images/promomarker.png);
    background-position: left -15px;
    background-repeat: no-repeat;
    text-align: center;
}

.b-promolocal a {
    border: none;
}

.b-pv {
    position: absolute;
    right: 36px;
    display: block;
    background-image: url(/media/images/print.png);
    background-position: left top;
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
}

.b-pv a {
    width: 16px;
    height: 16px;
    display: block;
    border: none;
}

.b-pv a:hover {
    background-image: url(/media/images/print.png);
    background-color: #FFF;
    width: 16px;
    height: 16px;
    display: block;
    border: none;
}

.b-addform {
    width: 500px;
    margin-right: auto;
    margin-left: 25px;
    color: #000;
}

.b-addform form {
    margin-top: 30px;
}

.b-addform h2, .b-addform_skidka h2 {
    color: #333;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 15px;
}

.b-addform input[type=text] {
    width: 175px;
}

.b-addform textarea {
    width: 100%;
    height: 81px;
}

.b-addform ul {
    list-style-position: inside;
    padding-left: 10px;
    font-size: 10px;
    list-style-type: circle;
    margin-top: 7px;
}

.b-addform .minreq {
    position: absolute;
    left: 250px;
    top: 155px;
    width: 360px;
    height: 100px;
    font-size: 11px;
}

.b-addform .minreq span {
    border-bottom: 1px solid #D11;
}

.b-addform label {
    color: #000;
}

.b-addform h1 {
    color: #BBBBBB;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
}

.myerrors {
    color: #D11;
    position: relative;
}

.myerrors ul {
    position: relative;
    margin: 0;
    top: -10px;
}

.b-hp {
    margin-left: 25px;
    color: #000;
    line-height: 170%;
}

.b-hp p {
    color: #000;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0;
}

.b-hp h1 {
    color: #BBBBBB;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;

}

.b-hp h2 {
    color: #333;
    font-size: 21px;
    font-weight: normal;
    margin-bottom: 10px;
}

.b-hp h3 {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    padding-top: 10px;
    margin-bottom: 15px;
}

.b-hp ol {
    padding-left: 50px;
    font-size: 14px;
}

.b-hp-look {
    margin: 5px;
    margin-left: 1px;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #FFF5CF;
    border: 1px solid #FFF1C9;
}

.b-hp-look h3 {
    font-size: 16px;
    padding-top: 1px;
    padding-bottom: 7px;
    margin: 1px;
}

.b-hp-list {
    list-style-position: inside;
    list-style-type: square;
    margin-left: 10px;
}

.b-articles {
    border: 1px solid #f5dfb8;
    margin: 15px;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 10px;
    padding-left: 90px;
    padding-top: 5px;
    background-color: #fcf8f2;
    position: relative;
    min-height: 45px;
    line-height: 150%;
}

.b-articles h2 {
    font-size: 18px;
    color: #333;
    position: absolute;
    left: 5px;
    top: 1px;
    padding-right: 5px;
    border-right: 1px dotted #f5dfb8;
    height: 99%;
}

.b-articles a {
    margin-right: 15px;
    line-height: 200%;
    white-space: nowrap;

}

.b-backlink {
    margin: 15px;
    margin-top: 0;
    font-size: 14px;
}

.b-console {
    border: 1px solid #333;
    margin: 15px;
    margin-top: 7px;
    margin-bottom: 13px;
    padding: 10px;
    padding-top: 2px;
    background-color: #333;
    color: #f1f1f1;
}

.b-console a {
    font-size: 12px;
    margin-right: 15px;
    color: #4db9e3;
}

.b-console a:hover {
    font-size: 12px;
    margin-right: 15px;
    color: #fff;
}

.smallred {
    font-size: 12px;
    color: #a62a2a;
}

.b-firminfo-body-feedbacks p.redp {
    border-left: 3px solid #be5c5c;
    padding-left: 9px;
}

.b-firminfo-body-feedbacks p.greenp {
    border-left: 3px solid #83c287;
    padding-left: 9px;
}

.plusone {
    margin-left: 15px;
    margin-top: 12px;
}

.ar {
    text-align: right;
    position: relative;
}

.ltext {
    position: absolute;
    left: 5px;
}

.b-fb_filter {
    position: relative;
}

.b-fb_filter table {
    width: 99%;
    border: 0;
    border-collapse: collapse;
    margin-top: 5px;
}

.b-fb_filter table td {
    padding: 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.b-fb_filter table tr {
    height: 30px;
}

.b-fb_filter .topspace td {
    padding-top: 15px;
}

.b-fb_filter b {
    font-weight: normal;
    border-bottom: 1px solid #666;
}

.b-fb_filter a {
    font-style: normal;
    text-decoration: none;
    display: block;
    margin-right: 10px;
    border: none;
    padding: 2px;
}

.b-fb_filter a:hover {
    background-color: #eee;
    color: #333;
    z-index: 2;
}

.b-fb_filter a.sel {
    background-color: #eee;
    color: #333;
}

.b-fb_filter #srctxt {
    position: absolute;
    left: 400px;
    top: -10px;
    background-color: #fff;
    z-index: 1;
}

.g-lb {
    border-left: 1px solid #e1e1e1;
}

.g-rb {
    border-right: 1px solid #e1e1e1;
}

.g-tb {
    border-top: 1px solid #e1e1e1;
}

.g-bb {
    border-bottom: 1px solid #e1e1e1;
}

.ztop {

}

.b-stars-90 {
    width: 110px;
    position: absolute;
    left: 110px;
    z-index: 0;
}

.b-stars-90 span {
    width: 22px;
    height: 19px;
    background-image: url("/media/images/stars_90.png");
    display: block;
    float: left;
    background-position: center;
    text-indent: -9999px;
    position: relative;
}

.b-stars-90 span.sel {
    background-position: top;
}

.b-stars-80 {
    width: 110px;
    position: absolute;
    left: 110px;
}

.b-stars-80 span {
    width: 19px;
    height: 17px;
    background-image: url("/media/images/stars_80.png");
    display: block;
    float: left;
    background-position: center;
    text-indent: -9999px;
}

.b-stars-80 span.sel {
    background-position: top;
}

.red_chkb {
    border: 2px solid #fff;
    width: auto;
    height: 17px;
    text-align: center;
    float: left;
    margin-right: 5px;
    position: relative;
    vertical-align: middle;
}

.red_chkb1 input[type=checkbox] {
    position: relative;
    left: 1px;
    top: 4px;
    margin: 0;
    padding: 0;
}

.reda {
    color: #900211;
    text-decoration: underline;
}

.b-header-searchf {
    position: absolute;
    left: 107px;
    top: 19px;
    width: 311px;
    height: 36px;
    background-image: url("/media/images/searchf.png");
    z-index: 10;
}

.b-header-searchf input[type=text] {
    position: absolute;
    left: 8px;
    top: 9px;
    width: 270px;
    height: 18px;
    border: none;
}

.b-header-searchf .hint {
    position: absolute;
    left: 5px;
    top: 36px;
    font-size: 10px;
}

.b-header-searchf #searchf-find {
    position: absolute;
    left: 272px;
    top: 49px;
}

.b-header-searchf #searchf-find2 {
    position: absolute;
    left: 275px;
    top: 5px;
    width: 30px;
    height: 25px;
}

.b-header-searchf a#searchf-find2 {
    border: none;
}

.b-header-searchf a:hover#searchf-find2 {
    border: none;
    background: none;
}

.b-header-searchf .deflabel {
    font-size: 16px;
    color: #d1d1d1;
    position: absolute;
    left: 12px;
    top: 9px;
}

.b-header-searchf .list {
    position: absolute;
    left: 3px;
    top: 33px;
    width: 305px;
    min-height: 30px;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    z-index: 10;
    box-shadow: 0 3px 8px #999;
    display: none;
}

.b-header-searchf .list a {
    height: 30px;
    display: block;
    padding-top: 7px;
    padding-left: 5px;
    line-height: 20px;
    border-bottom: 1px solid #f1f1f1;
    color: #666;
}

.b-header-searchf .list a:hover {
    background-color: #f1f1f1;
    color: #267D9E;
}

.b-header-searchf .list b {
    float: left;
    display: block;
}

.b-header-searchf .list .b-stars-90 {
    left: 190px;
}

.b-searchres-q {
    border: 1px solid #f5dfb8;
    margin: 5px;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fcf8f2;
    position: relative;
    height: 25px;
    line-height: 25px;
    color: #333;
}

.b-searchres-q h1 {
    font-size: 18px;
    color: #333;
    padding-right: 15px;
    margin-right: 10px;
    border-right: 1px dotted #f5dfb8;
    float: left;
    width: 50px;
    margin-top: -1px;
}

.b-searchres-list {
    padding: 10px;
    padding-top: 0;
}

.b-searchres-list h2 {
    font-size: 16px;
    clear: both;
    margin-top: 20px;
}

.b-searchres-list .line {
    display: block;
    height: 30px;
    border: none;
    margin-bottom: 5px;
    position: relative;
}

.b-searchres-list a {
    display: block;
    height: 30px;
    border: none;
    background: none;
    padding-left: 10px;
    padding-top: 10px;
    width: 190px;
    text-decoration: underline;
}

.b-searchres-list .b-stars-90 {
    left: 210px;
    top: 7px;
}

.b-searchres-list a:hover {
    background-color: #f1f1f1;
    color: #267D9E;
}

.b-header-counter {
    position: absolute;
    left: 450px;
    width: 233px;
    top: 18px;
}

.b-header-counter div {
    height: 21px;
    margin-bottom: 1px;
    position: relative;
}

.b-header-counter span {
    font-size: 15px;
    font-weight: normal;
    float: left;
}

.b-header-counter img {
    float: right;
    padding-left: 9px;
}

.b-header-counter em {
    display: block;
    height: 25px;
    width: 35px;
    position: absolute;
    left: 100px;
    font-style: normal;
    top: 2px;
    text-align: center;
    color: #fff;
    font-size: 15px;
    font-family: Arial;
}

.b-header h3 {
    position: absolute;
    width: 250px;
    right: 10px;
    top: 15px;
    line-height: 20px;
}

/***************************************************************
*  FC-TrackBar
*
*   Copyright (C) 2008 by Alexander Burtsev - fastcoder.org
*   designed by Svetlana Solov'eva - http://avis-solo.blogspot.com/
*
*  This code is a public domain.
***************************************************************/

/* Reset */
table.trackbar div, table.trackbar td {
    margin: 0;
    padding: 0;
}

table.trackbar {
    border-collapse: collapse;
    border-spacing: 0;
}

table.trackbar img {
    border: 0;
}

div.tickdiv {
    margin: 0;
    padding: 0;
    border: 0;
    float: none;
}

/* Styles */
table.trackbar {
    width: 250px;
    background: repeat-x url(/media/images/imgtrackbar/b_bg_on.gif) top left;
}

table.trackbar .l {
    width: 1%;
    text-align: right;
    font-size: 1px;
    background: repeat-x url(/media/images/imgtrackbar/b_bg_off.gif) top left;
}

table.trackbar .l div {
    position: relative;
    width: 0;
    text-align: right;
    z-index: 500;
    white-space: nowrap;
}

table.trackbar .l div img {
    cursor: pointer;
}

table.trackbar .l div span {
    position: absolute;
    top: -12px;
    right: 6px;
    z-index: 1000;
    font: 11px tahoma;
    color: #000;
}

table.trackbar .l div span.limit {
    text-align: left;
    position: absolute;
    top: -12px;
    right: 100%;
    z-index: 100;
    font: 11px tahoma;
    color: #D0D0D0;
}

table.trackbar .r {
    width: 1%;
    text-align: left;
    font-size: 1px;
    background: repeat-x url(/media/images/imgtrackbar/b_bg_off.gif) top right;
    cursor: default;
}

table.trackbar .r div {
    position: relative;
    width: 0;
    text-align: left;
    z-index: 500;
    white-space: nowrap;
}

table.trackbar .r div img {
    cursor: pointer;
}

table.trackbar .r div span {
    position: absolute;
    top: -12px;
    left: 6px;
    z-index: 1000;
    font: 11px tahoma;
    color: #000;
}

table.trackbar .r div span.limit {
    position: absolute;
    top: -12px;
    left: 100%;
    z-index: 100;
    font: 11px tahoma;
    color: #D0D0D0;
}

table.trackbar .c {
    font-size: 1px;
    width: 100%;
}

div.tickdiv {
    position: relative;
    height: 1px;
    margin: 10px 0 10px;
}

div.tickdiv div.tick {
    position: absolute;
    z-index: 400;
    top: 13px;
    height: 12px;
    width: 1px;
    background: #666;
    margin: 0;
    padding: 0;
    font: 10px tahoma;
    color: #666;
}

div.tickdiv div.tick span {
    display: block;
    margin-top: 14px;
    position: absolute;
    left: -50px;
    width: 100px;
    text-align: center;
}

div.tickdiv div.stick {
    position: absolute;
    top: 16px;
    height: 6px;
    width: 1px;
    background: #999;
    font-size: 1px;
    line-height: 1px;
    margin: 0;
    padding: 0;
}

.b-addform_skidka {
    margin-left: 25px;
    font-size: 12px;
}

.b-addform_skidka h1 {
    color: #BBBBBB;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 25px;
}

.b-addform_skidka .line {
    padding-left: 190px;
    position: relative;
    margin-bottom: 40px;
    line-height: 25px;
}

.b-addform_skidka .txt {
    position: absolute;
    left: 0;
}

.b-addform_skidka .txt i {
    color: #ff0000;
}

.b-addform_skidka input[type=text] {
    width: 310px;
}

.b-addform_skidka input[type=text].datetxt {
    width: 145px;
}

.b-addform_skidka input[type=file] {
    width: 393px;
}

.b-addform_skidka textarea {
    width: 570px;
    height: 40px;
}

.b-addform_skidka small {
    font-size: 10px;
    line-height: 12px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.b-addform_skidka em {
    font-size: 10px;
}

.b-addform_skidka .secondstep {
    opacity: 0.4;
}

.b-addform_skidka .errors {
    color: #D11;
    position: relative;
    font-size: 11px;
    margin-bottom: 0px;
}

.b-addform_skidka .errors ul {
    position: relative;
    margin: 0;
    left: 15px;
}

.b-addform_skidka .charhint {
    position: absolute;
    right: 175px;
    top:90px;
    font-size: 11px;
    color: #777;
    text-align: right;
    display: block;
}

.b-addform_skidka .short {
    right: 420px;
    color:#777;
    top:15px;
}

.skidka_preview {
    width: 200px;
    height: 70px;
    font-size: 10px;
    padding: 3px;
    padding-left: 64px;
    position: relative;
    border: 1px solid #f1f1f1;
    left: 0;
    margin-bottom: 25px;
}

.skidka_preview img {
    position: absolute;
    left: 3px;
    top: 7px;
}

.skidka_preview span {
    position: absolute;
    left: 3px;
    bottom: 0;
}

.b-topmenu .line2 {
    line-height: 15px;
    font-size: 16px;
    padding-top: 10px;
    display: block;
}

.b-skidki {
    padding-left: 12px;
    padding-right: 12px;
    width: auto;
}

.b-skidki-text {
    width: 310px;
    height: 140px;
    text-align: justify;
    line-height: 14px;
}

.b-skidki h1 {
    font-size: 22px;
    color: #bbb;
    margin-bottom: 10px;
}

.b-skidki-banner {
    position: absolute;
    left: 350px;
    top: 33px;
    width: 602px;
    height: 92px;
    display: table;
}
.b-skidki-banner .adcontainer{
    display:table-cell; vertical-align: middle;
    text-align: right;
}
.b-skidki-banner a{
    background: none;
    border: none;
}
.b-skidki-banner embed{
    position: relative;
}
.b-skidki-list {
    position: relative;
    border-top: 1px dashed #ccc;
    margin-top: 25px;
    padding-top: 20px;
}

.b-skidki-list .section {
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    left: 0;
    top: -13px;
    background-color: #fff;
}

.b-skidki-list .section a {
    border: none;
}

.b-skidki-list .sort {
    position: absolute;
    top: -11px;
    right: 0;
    background-color: #fff;
    padding-left: 10px;
    font-size: 11px;
}

.b-skidki-list .block {
    position: relative;
    background-color: #f5f5f5;
}

.b-skidki-list .block .pic {
    position: absolute;
    left: 18px;
    top: 40px;
    width: 48px;
    height: 48px;
}

.b-skidki-list .block .firm {
    position: absolute;
    left: 80px;
    top: 50px;
    font-size: 16px;
    font-weight: bold;
    height: 140px;
}

.b-skidki-list .block .stars {
    position: absolute;
    left: -29px;
    top: 85px;
}

.b-skidki-list .block .data {
    margin-left: 250px;
    margin-right: 180px;
    height: 140px;
    border-right: 1px dotted #ddd;
    border-left: 1px dotted #ddd;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 11px;
    padding-bottom: 10px;
}

.b-skidki-list .block .data h4 {
    font-size: 13px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-top: 5px;
}

.b-skidki-list .block .data h5 {
    font-size: 13px;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
    margin-top: 10px;
}

.b-skidki-list .block .data .skidka_arh {
    padding-top: 5px;
}

.b-skidki-list .block .ext {
    position: absolute;
    width: 160px;
    height: 135px;
    right: 0;
    top: 0;
    font-size: 11px;
    color: #999;
    padding-top: 5px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.b-skidki-list .block .ext .lastdays {
    position: relative;
    top: 15px;
    text-align: center;
    color: #000;
}

.b-skidki-list .block .ext .lastdays span {
    font-size: 30px;
}

.b-skidki-list .block .bborder {
    border-bottom: 1px dotted #ddd;
}

.b-skidki-list .block .ext .btn {
    background: url("/media/images/btn_skidka_site.png") no-repeat;
    width: 136px;
    height: 54px;
    text-align: center;
    position: absolute;
    top: 75px;
    left: 25px;
    margin-top: 10px;
}

.b-skidki-list .block .ext .btn a {
    border: none;
    background: none;
    width: 100%;
    height: 100%;
    display: block;
    font-size: 14px;
    padding-top: 10px;
}
.b-skidki-list .block .ext .btn a:hover {
    background: url("/media/images/btn_skidka_site2.png") no-repeat;
    color:#000;
}
.b-skidki-list .slider-code {
    height: 98px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-left: -22px;
}

.b-skidki-list .slider-code .viewport {
    float: left;
    width: 648px;
    height: 98px;
    overflow: hidden;
    position: relative;
}

.b-skidki-list .slider-code .buttons {
    display: block;
    margin: 0 2px 0 0;
    float: left;
    width: 22px;
    height: 68px;
    background-image: url("/media/images/leftscr.png");
}

.b-skidki-list .slider-code a.buttons {
    border: none;
}

.b-skidki-list .slider-code .next {
    margin: 0 0 0 -6px;
    background-image: url("/media/images/rightscr.png");
}
.b-skidki-list .slider-code a.buttons:hover {
    background: #fff url("/media/images/leftscr2.png") no-repeat;
}

.b-skidki-list .slider-code a.next:hover {
    background: #fff url("/media/images/rightscr2.png") no-repeat;
}

.b-skidki-list .slider-code .disable {
    visibility: hidden;
}

.b-skidki-list .slider-code .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.b-skidki-list .slider-code .overview li {
    float: left;
    margin: 0 6px 0 0;
    height: 95px;
    width: 210px;
}

.b-skidki-list .skidka_box {
    width: 140px;
    height: 90px;
    font-size: 10px;
    padding: 3px;
    padding-left: 65px;
    position: relative;
    border: 1px solid #e5e5e5;
    left: 0;
    border-radius: 4px;
    line-height: 13px;
}

.b-skidki-list .skidka_box img {
    position: absolute;
    left: 8px;
    top: 7px;
}

.b-skidki-list .skidka_box span {
    position: absolute;
    left: 3px;
    bottom: 0;
}

.b-skidki-list .skidka_box b {
    padding-bottom: 12px;
    font-size: 9px;
    font-weight: normal;
    color: #666;
}

.b-skidki-list .hscroll {
    position: relative;
    left: 260px;
    clear: both;
    margin-top: 5px;
    padding-bottom: 5px;
}

.b-skidki-list .block em {
    font-size: 14px;
    font-style: normal;
    color: #666;
    padding-left: 2px;
}

.hidden {
    display: none;
}

.b-skidki-social {
    width: 350px;
    height: 25px;
    position: absolute;
    right: 17px;
    top: 145px;
}
.b-skidki-social .subs{
    position: absolute;
    left:-252px;
    top:-2px;
}
.b-skidki-social2 {
    width: 350px;
    height: 25px;
    position: absolute;
    right: 15px;
    top: 110px;
}

.b-indexskidki {
    height: 104px;
    background: #fff url("/media/images/skidki_vert.png") no-repeat;
    margin-left: 15px;
    margin-bottom: 30px;
}

.b-indexskidki .txt {
    padding-left: 30px;
    margin-top: 15px;
    padding-top:2px;
    position: relative;
}
.b-indexskidki .txt .subs{
    position: absolute;
    top:-1px;
    left:345px;
    font-size: 12px;
}
.b-indexskidki .txt .subs input[type=text]{
    color:#666;
    width: 130px;
}
.b-indexskidki .slider {
    height: 70px;
    overflow: hidden;
    margin-bottom: 5px;
    margin-left: 20px;
}

.b-indexskidki .slider .viewport {
    float: left;
    width: 840px;
    height: 70px;
    overflow: hidden;
    position: relative;
}

.b-indexskidki .slider .buttons {
    display: block;
    margin: 0 2px 0 0;
    float: left;
    width: 22px;
    height: 68px;
    background-image: url("/media/images/leftscr.png");
}

.b-indexskidki .slider a.buttons {
    border: none;
}

.b-indexskidki .slider .next {
    margin: 0 0 0 6px;
    background-image: url("/media/images/rightscr.png");
}

.b-indexskidki .slider a.buttons:hover {
    background: #fff url("/media/images/leftscr2.png") no-repeat;
}

.b-indexskidki .slider a.next:hover {
    background: #fff url("/media/images/rightscr2.png") no-repeat;
}

.b-indexskidki .slider .disable {
    visibility: hidden;
}

.b-indexskidki .slider .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
}

.b-indexskidki .slider .overview li {
    float: left;
    margin: 0 10px 0 0;
    height: 70px;
    width: 200px;
}

.b-indexskidki .skidka_box {
    width: 145px;
    height: 68px;
    font-size: 10px;
    padding-left: 65px;
    position: relative;
    left: 0;
    line-height: 13px;
    overflow: hidden;
    cursor: pointer;
    font-family: Tahoma;
}

.b-indexskidki .skidka_box img {
    position: absolute;
    left: 5px;
    top: 2px;
}

.b-indexskidki .skidka_box span {
    position: absolute;
    left: 5px;
    bottom: 0;
}

.b-indexskidki .skidka_box b {
    display: block;
    margin-bottom: -10px;
    font-size: 10px;
    font-weight: normal;
    color: #666;
}
.b-articlesbox{
    position: absolute;
    background-color: #fff;
    z-index: 120;
    height: 200px;
    width: 540px;
    overflow: hidden;
    padding-left: 10px;
}
.b-articlesbox a{
    margin-right: 25px;
    white-space: nowrap;
    float: left;
    width: 240px;
    border: none;
    text-decoration: underline;
}
#js-artform{
    display: none;
}
#js-paginator{
    height: 40px;
}
.navline {
    height: 40px;
}
.navline a, .navline span {
    background-color: #ADCADA;
    border: 1px solid #ADCADA;
    color: #000;
    display: block;
    float: left;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 20px;
}
.navline a:hover, .navline span {
    background-color: #fff;
    border:1px solid #ADCADA;
    color: #000;
}

.b-skidki-list .b-stars-80{
    cursor: pointer;
}

.recp_form ul li{
    list-style: none;
}
.recp_form .errorlist{
    color:#d10;
}
/*-----------------------------------------*/
/* DATE AND TIME */
p.datetime { line-height:20px; margin:0; padding:0; color:#666; font-size:11px; font-weight:bold; }
.datetime span { font-size:11px; color:#ccc; font-weight:normal; white-space:nowrap; }
table p.datetime { font-size:10px; margin-left:0; padding-left:0; }

/* FILE UPLOADS */
p.file-upload { line-height:20px; margin:0; padding:0; color:#666; font-size:11px; font-weight:bold; }
.file-upload a { font-weight:normal; }
.file-upload .deletelink { margin-left:5px; }

/* CALENDARS & CLOCKS */
.calendarbox, .clockbox { margin:5px auto; font-size:11px; width:16em; text-align:center; background:white; position:relative; }
.clockbox { width:auto; }
.calendar { margin:0; padding: 0; }
.calendar table { margin:0; padding:0; border-collapse:collapse; background:white; width:99%; }
.calendar caption, .calendarbox h2 { margin: 0; font-size:11px; text-align:center; border-top:none; }
.calendar th { font-size:10px; color:#666; padding:2px 3px; text-align:center; background:#e1e1e1 0 50% repeat-x; border-bottom:1px solid #ddd; }
.calendar td { font-size:11px; text-align: center; padding: 0; border-top:1px solid #eee; border-bottom:none; }
.calendar td.selected a { background: #C9DBED; }
.calendar td.nonday { background:#efefef; }
.calendar td.today a { background:#ffc; }
.calendar td a, .timelist a { border:none;display: block; font-weight:bold; padding:4px; text-decoration: none; color:#444; }
.calendar td a:hover, .timelist a:hover { background: #5b80b2; color:white; }
.calendar td a:active, .timelist a:active { background: #036; color:white; }
.calendarnav { font-size:10px; text-align: center; color:#ccc; margin:0; padding:1px 3px; }
.calendarnav a:link, #calendarnav a:visited, #calendarnav a:hover { color: #999; }
.calendar-shortcuts {  background:white; font-size:10px; line-height:11px; border-top:1px solid #eee; padding:3px 0 4px; color:#ccc; }
.calendar-shortcuts a{border: none;}
.calendarbox .calendarnav-previous, .calendarbox .calendarnav-next { display:block; position:absolute; font-weight:bold; font-size:12px; background:#C9DBED url(/media/images/calendar-default-bg.gif) bottom left repeat-x; padding:1px 4px 2px 4px; color:white; }
.module{
    border: 1px solid #CCCCCC;
}
.calendarbox .calendarnav-previous a, .calendarbox .calendarnav-next a{
    border: none;
    text-decoration: underline;
}
.calendarnav-previous:hover, .calendarnav-next:hover { background:#036; }
.calendarnav-previous { top:0; left:0; }
.calendarnav-next { top:0; right:0; }
.calendar-cancel { margin:0 !important; padding:0; font-size:10px; background:#e1e1e1 0 50% repeat-x;  border-top:1px solid #ddd; }
.calendar-cancel a { padding:2px; color:#999; }
ul.timelist, .timelist li { list-style-type:none; margin:0; padding:0; }
.timelist a { padding:2px; }
.datetimeshortcuts a{
    border: none;
    background: none;
}
#recaptcha_widget_div{
    position: relative;
    margin-top:-13px;
    margin-left:11px;
}
.tabs{
    position: absolute;
    height: 27px;
    width: 293px;
    top:-27px;
    left:-3px;
}
.bg1{
    background: #fff url("/media/images/tab_bg1.png") 0 0 no-repeat;
}
.bg2{
    background: #fff url("/media/images/tab_bg2.png") 0 0 no-repeat;
}
.bg3{
    background: #fff url("/media/images/tab_bg3.png") 0 0 no-repeat;
}


.tabs div{
    width: 127px;
    padding-right:5px;
    float: left;
    line-height: 27px;
    text-align: center;
    font-size: 10px;
    cursor: pointer;
}
.tabs .off{
    cursor: default;
    color:#999;
}
.tabs .t1{
    width: 127px;
}
.tabs .t2{
    width: 75px;
}
.tabs .t3{
    width: 75px;
}