/* -------------------------------------------------------------------
// markItUp!
// By Jay Salvat - http://markitup.jaysalvat.com/
// ------------------------------------------------------------------*/
.markItUp .mkituBold a	{
	background-image:url(images/bold.png);
}
.markItUp .mkituItalic a	{
	background-image:url(images/italic.png);
}
.markItUp .mkituUnderline a	{
	background-image:url(images/underline.png);
}

.markItUp .mkituPicture a	{
	background-image:url(images/picture.png);
}
.markItUp .mkituLink a	{
	background-image:url(images/link.png);
}

.markItUp .mkituFonts a	{
	background-image:url(images/fonts.png);
}
.markItUp .mkituListB a	{
	background-image:url(images/list-bullet.png);
}
.markItUp .mkituListN a	{
	background-image:url(images/list-numeric.png);
}
.markItUp .mkituListI a	{
	background-image:url(images/list-item.png);
}

.markItUp .mkituQuotes a	{
	background-image:url(images/quotes.png);
}
.markItUp .mkituCode a	{
	background-image:url(images/code.png);
}

.markItUp .clean a {
	background-image:url(images/clean.png);
}
.markItUp .dateoftheday a {
	background-image:url(images/date.png);
}

/* ------ Colors ------ */
.markItUp .colors a {
	background-image:url(images/colors.png);
}
	.markItUp .colors ul {
		width:81px;
		padding:1px;	
	}
	.markItUp .colors  li {
		border:1px solid white;
		width:25px;	height:25px;
		overflow:hidden;
		padding:0px; margin:0px;
		float:left;
	}
	.markItUp .colors ul a {
		width:25px;	height:25px;
	}
	.markItUp .colors ul a:hover {
		background-color:none;
	}
	
	.markItUp .colors .col1-1 a {
		background:yellow;
	}
	.markItUp .colors .col1-2 a {
		background:orange;
	}
	.markItUp .colors .col1-3 a {
		background:red;
	}
	
	.markItUp .colors .col2-1 a {
		background:blue;
	}
	.markItUp .colors .col2-2 a {
		background:purple;
	}
	.markItUp .colors .col2-3 a {
		background:green;
	}
	
	.markItUp .colors .col3-1 a {
		background:white;
	}
	.markItUp .colors .col3-2 a {
		background:gray;
	}
	.markItUp .colors .col3-3 a {
		background:black;
	}