
div.input-phone { width:240px; position:relative; border:1px solid #7F9DB9; background-color:#FFFFFF; border-radius:2px; }
div.input-phone.focused { box-shadow:0 0 2px #888; }
div.input-phone div.item-country { float:left; position:relative; }

div.input-phone div.item-country div.country-list { width:240px; position:absolute; z-index:200; border:1px solid #7F9DB9; margin:-1px 0px 0px -1px; background-color:#fff; display:none; box-shadow:0 2px 4px #888; }
div.input-phone div.item-country div.country-list div.scroller { overflow:auto; max-height:190px; }
div.input-phone div.item-country div.country-list table tr:hover { background-color:#89b7d9; color:#fff; } 
div.input-phone div.item-country div.country-list table tr td { padding:2px 4px; cursor:pointer; vertical-align:middle; font:300 12px/16px tahoma; }
div.input-phone div.item-country div.country-list table tr td.name { width:90%; }  
div.input-phone div.item-country div.country-list table tr td.phone-code { width:5%; color:gray; }
div.input-phone div.item-country div.country-list table tr:hover td.phone-code { color:#fff; }
div.input-phone div.item-country div.country-list table tr td.flag { width:5%; vertical-align:middle;  }

div.input-phone div.item-country div.country-empty { padding:15px; font-size:10px; color:red; display:none; text-align:center; }
div.input-phone div.item-country div.country-current.constant { padding:4px 4px 4px 8px; width: 35px; border-radius:2px; text-align:center; vertical-align:middle; }
div.input-phone div.item-country div.country-current.dynamic { padding:4px 4px 4px 8px; width: 35px; cursor:pointer;  text-align:center; vertical-align:middle; }
div.input-phone div.item-country div.country-current.dynamic:hover { background-color:#f7f7f7; }
div.input-phone div.item-country div.country-current .sprite-flag { margin-top: 3px; float:left; }
 
div.input-phone div.item-number { float:left; width:180px; }
div.input-phone div.item-number input { width:150px; color:#222; border:none; font-size:14px; height:18px; padding:3px 5px; } 
div.input-phone div.item-number div.plus { color:#222; font-size:14px; font-weight:bold; float:left; width:10px; line-height:22px; }

div.field-fio { position:relative; background-color: #FFFFFF; border: 1px solid #7F9DB9; border-radius: 2px;  height: 20px; padding: 2px; overflow:hidden;  }
div.field-fio.focus { box-shadow: 0 0 2px #AAAAAA; }  
div.field-fio input { font:12px Arial; position:absolute; top:0; left:0; width:98%; height:20px; padding:2px; z-index:10; color: #333333; background:transparent; border:none; }
div.field-fio span.placeholder { line-height:24px; position:absolute; top:0; left:0; z-index:1; color:gray; padding-left:2px; white-space:nowrap; opacity:0.8; }

form .input_block label, form .input_block .label { color: #000; font-weight: 800; }
form .input_block label, form .input_block label input { display:block; }
form .input_block .rows.captcha span.image { display: block; margin-top: 7px; }
form .input_block .rows.captcha span.image > img { float: left; padding: 7px; }
form .input_block .rows.captcha span.image > br { display: none; }
form .input_block .rows.captcha span.image > span.comment { float: left; font-weight: 300; margin-left: 7px; line-height:44px; }
form .input_block span.border { margin:7px 0 0; display:block; }
form .input_block .rows { margin:0 0 15px; }
.clear_fix::after, .rows::after, .mobile_wrapper::after { clear: both; content: ""; display: block; }
