#slider{margin:0 auto; position:relative}
img {border:none;}
.banner_code textarea{width:600px; height:200px}
.banner_code{padding:10px}
.banners{padding:10px}
.groove{background-color:#ccc}
.scroll{overflow:auto; position:relative; /* fix for ie to respect overflow */clear:left}
.scroll	ainer div.panel{text-align:center}
.service_message{font-size:11px; color:#999}
.shine{background-color:#eee}
a.delete{color:#b82626}
a.domain-toggle{padding:2px; text-decoration:none; border-bottom:1px dashed; font-size:11px}

a.selected{font-weight:bold}
a.switched{ color:#e19709; }
a.top-auth-link{color:white !important; text-decoration:underline !important; padding-right:10px}
a.top-auth-logout{color:#fc0 !important; padding-right:10px; } 
a{color:#1873b4}
body{margin:0; padding:0; height:auto; width:100%; font-family:tahoma,sans-serif; font-size:12px; font-weight:regular; background:#fff url(/design/ukraine/img/right_corner.gif) right top no-repeat}
div.advantages div{float:left; width:240px; height:60px; padding:10px 10px 10px 60px; border:1px solid #ccc; background-color:#f0f0f0; margin:5px}
div.auth a{display:block; margin-bottom:5px}
div.auth div.avt{margin-top:60px; font-size:18px; color:#3e87d4; margin-left:90px}
div.auth div.but input{width:auto; margin-top:-15px; margin-left:0px; margin-right:25px; float:right}
div.auth div.inner_auth{margin-left:90px}
div.auth input{width:150px; margin-bottom:5px}
div.auth{position:absolute; width:270px; height:225px; top:300px; background-image:url(/design/ukraine/img/avt.gif); background-repeat:no-repeat}
div.bg_layer{height:100%; width:100%; position:absolute; top:0; left:0; display:none; background-color:black; filter:progid:dximagetransform.microsoft.alpha(opacity=50); opacity:0.5; z-index:10}
div.bg{width:100%; height:auto; margin:0 auto 10px auto}
div.blackip{margin-top:10px; padding:10px; border:1px solid #ccc}
div.complaint{background-color:#f0f0f0;  border:1px solid #ccc; padding:15px}

div.contact div.hotl{font-family:Tahoma,sans-serif;font-size:12px; display:block; margin-left:10px; margin-top:20px; font-weight:bold; color:#406f87;}
div.contact font.cod{font-size:12px; color:#82a0ce; display:block; margin-left:10px; margin-top:0px; font-weight:bold}
div.contact font.num{font-family:"Arial Narrow",sans-serif;font-size:22px; color:#597189; display:block; margin-left:10px; margin-top:0px; font-weight:bold}
 
div.cp_error{ border:1px solid #94000c; color:#94000c; margin:5px 0px; padding:15px 10px 15px 40px; background-color:#ffefeb; background-repeat:no-repeat; background-image:url(/design/ukraine/img/cp/error.gif); background-position:10px 10px; box-shadow:1px 1px 1px #fff inset; border-radius:3px; }
div.cp_warning{ border:1px solid #f39e0e; color:#000000; margin:5px 0px; padding:15px 10px 15px 60px; background-color:#fbecce; background-repeat:no-repeat; background-image:url(/design/ukraine/img/cp/warning.png); background-position:10px 10px; box-shadow:1px 1px 1px #fff inset; border-radius:3px; }
div.cp_ok{ border:1px solid #276630; color:#276630; margin:5px 0px; padding:15px 10px 15px 60px; background-color:#edf8ee; background-repeat:no-repeat; background-image:url(/design/ukraine/img/cp/ok.png); background-position:10px 10px;  box-shadow:1px 1px 1px #fff inset; border-radius:3px; }

div.cp_warning_button{border:1px solid #f39e0e; margin:5px 0px; padding:5px 5px 5px 5px; background-color:#fbecce; box-shadow:1px 1px 1px #fff inset; border-radius:3px; }
div.cp_warning a {color:#1873B4;}


div.s1 {font-size:16px;color:#1f84ff; margin-bottom:10px; margin-top:0px; font-weight:normal}
 

div.cp_info{color:#93b0c2;padding-bottom:20px;}
div.delfloat{clear:both; width:100%; height:1px; font-size:1px}
div.doc a{color:red}
div.doc center{color:#000}
div.doc{float:left; padding:6px; margin:15px; font-size:12px; border:1px solid #ececec}
div.error{border:1px solid #94000c; color:#94000c; margin:5px; padding:15px 5px 15px 30px; background:#ffefeb url(/design/ukraine/img/cp/error.gif) 8px 6px no-repeat}
div.fixnemberposition{padding:0 0 50px 0}
div.foot a.name{margin-bottom:-20px}
div.foot div.midlle{padding-top:20px; padding-left:7px; padding-bottom:50px; color:white; font-weight:bold; font-size:11px; line-height:130%}
div.foot div.news{float:left; font-size:23px; width:100px; color:#3e87d4}
div.foot div.top div.first{float:left; padding-top:20px; font-size:28px; color:#df74a3}
div.foot div.top div.second{padding-top:23px; color:#df74a3}
div.foot div.top{margin-left:10px; padding-bottom:80px}
div.foot div.unit{font-size:15px; color:#3e87d4; margin-bottom:10px}
div.foot table{/* width:100%; */}
div.foot{width:95%; margin:0 auto 135px auto}
div.form div.host  div{margin-bottom:5px}
div.form div.host a{padding:10px}
div.form div.host div.host1{margin-left:10px; margin-right:20px; float:left}
div.form div.host{width:69%; height:auto;  float:left}
div.form div.text img{margin-left:70px; margin-top:150px}
div.form div.text{width:30%; float:left}
div.form_error{margin-top:15px; margin-left:25%; padding-left:10px; color:red; font-weight:bold}
div.form_title{color:#4475db; margin-top:20px; padding-left:170px; font-weight:bold; font-size:16px}
div.fullsmap_0{margin:0; display:none}
div.fullsmap_1 a{font-weight:bold}
div.fullsmap_1{margin:2px 0 2px 20px}
div.fullsmap_2{margin:2px 0 2px 40px}
div.fullsmap_3{margin:2px 0 2px 60px}
div.fullsmap_4{margin:2px 0 2px 80px}
div.head h1{top:80px; left:72px; position:absolute; font-size:12px; color:gray}
div.head img.second{margin-left:200px; margin-top:-10px }
div.head{height:120px; background:transparent url(/design/ukraine/img/cable.gif) top 40% no-repeat}
div.home{position:absolute; right:234px; top:50px}

div.hosting-cart {
	cursor:pointer; font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #333333;
	width:166px; position:fixed;   
	top:-10px; right:20px; border-radius: 0px 0px 15px 15px; padding:15px 15px 8px 20px; 
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) ); background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64'); background-color:#ffab23; 
	border: 3px solid #f3f5f0; box-shadow: 0px 0px 3px #666;
} 
div.hosting-cart:hover { box-shadow:0px 0px 3px #222; }
div.hosting-cart-image { float:left; } 
div.hosting-cart-inner { float:left; margin:0px 5px 0px 15px; width:110px; }
 
div.line{width:100%; height:1px; font-size:1px; border-top:1px solid #dbdbdb; margin-top:-26px; position:absolute; z-index:-10}
div.menu { min-width:200px; }
div.menu ul.menu li{color:#1873b4; list-style:square outside; list-style-image:none; margin:7px 5px 5px 5px;}
div.news_left_menu {margin-top:30px}
div.news_left_menu a {color:#406f87; text-decoration:none;}
div.ok{border:1px solid #276630; color:#276630; margin:5px; padding:15px 5px 15px 30px; background:#edf8ee url(/design/ukraine/img/cp/ok.gif) 8px 6px no-repeat}
div.payer_type{display:none}

div.payment { background:url(/img/cms/message/bg_gray.png); float:left; border:1px solid #aaa; position:relative; width:250px; height:125px; text-align:center; margin:20px; padding:10px 0 0; color:#1873b4; text-decoration:underline; border-radius:3px; cursor:pointer; }
div.payment:hover { border:1px solid #999; box-shadow:0px 0px 3px #aaa; }
div.paymlist { margin:15px 0 0 }

div.smap_0 a{font-weight:bold}
div.smap_0{margin:0; display:none}
div.smap_1{margin:2px 0 2px 20px}
div.smap_2{margin:2px 0 2px 40px}
div.smap_3{margin:2px 0 2px 60px}
div.smap_4{margin:2px 0 2px 80px}
div.switcher{text-align:right; background:none; }
div.switcher a {text-decoration:none; }
div.task_layer{padding:10px; background:#fff; font:11px verdana; border:1px solid #5b7f93; display:none; position:absolute; top:200px; left:50%; width:600px; margin-left:-300px; background-color:white; z-index:50; /*firefox*/-moz-border-radius-bottomleft:20px; -moz-border-radius-bottomright:20px; -moz-border-radius-topleft:20px; -moz-border-radius-topright:20px; /*chrome,safari*/-webkit-border-top-left-radius:20px; -webkit-border-top-right-radius:20px; -webkit-border-bottom-left-radius:20px; -webkit-border-bottom-right-radius:20px}
div.task_menu_item img{position:relative; top:4px; margin-right:3px}
div.task_menu_item{padding:1px}
div.tasktitle{/*firefox*/-moz-border-radius-topleft:20px; -moz-border-radius-topright:20px; /*chrome,safari*/-webkit-border-top-left-radius:20px; -webkit-border-top-right-radius:20px; background:#f6f6f6; text-align:center; font-size:15px; color:#000; padding:8px}
div.vote_answer{padding-bottom:5px}
div.vote{background-color:#f0f0f0; padding:10px; width:210px}
div.whiteip input#limit{width:50px; text-align:right}
div.whiteip textarea{width:265px; height:150px}
div.whiteip{margin-top:10px}
font.rangetime{/*font-size:10px;  */margin:10px 0 0 10px}
h1{font-size:20px; color:#1f84ff; margin-bottom:10px; margin-top:0px; font-weight:normal}
h2{font-size:18px; color:#73b4ff; margin-bottom:10px; margin-top:15px; font-weight:normal}
h3{font-size:16px; color:#333; margin-bottom:20px; margin-top:40px; font-weight:bold; font-family:tahoma,sans-serif; margin:10px 0px}
h4{margin:2px 3px}
hr{padding:0px}
img.logo{top:40px; left:70px; position:absolute}
img.paybl{position:absolute; bottom:-1px; left:-1px}
img.paybr{position:absolute; bottom:-1px; right:-1px}
img.paytl{position:absolute; top:-1px; left:-1px}
img.paytr{position:absolute; top:-1px; right:-1px}
img.topmenubl{position:absolute; bottom:0px; left:0px}
img.topmenubr{position:absolute; bottom:0px; right:0px}
img.topmenutl{position:absolute; top:0px; left:0px}
img.topmenutr{position:absolute; top:0px; right:0px}
input.calendar{background:white url(/design/cms/img/icons/calendar_v2.gif) center right no-repeat; width:90px; border:1px solid #7f9db9}
input.date{background:white url(/design/cms/img/icons/calendar_v2.gif) center right no-repeat; width:90px}
input.top-auth{font-size:11px; font-family:tahoma,sans-serif; padding:0px 5px 0px 5px; background:transparent url(/design/ukraine/img/auth-bg.gif) top left no-repeat; border:0; width:117px; height:15px}
input.wide{width:90%; border:1px solid #7f9db9}
input.wide{width:90%; border:1px solid #7f9db9}
span.asterix{color:red}
span.asterix{color:red}
span.btext{font-size:18px}
span.comment{color:gray; font-size:11px}
span.news_date{color:#aaa}
table.ajax_login .caption{font-size:140%; padding-left:50px}
table.ajax_login td.title{font-weight:bold; text-align:right; width:100px}
table.ajax_login td{padding:5px}
table.ajax_login{margin:10px 20px 20px 20px}
table.content td.main li{margin-top:10px}
table.content td.main{padding-left:20px; padding-bottom:30px}
table.content td.news{width:300px; vertical-align:top; padding-top:0px}
table.content td{vertical-align:top}
table.content{margin:0 0 40px 0; width:100%}
table.domain div.cont img{margin-left:20px; margin-right:5px}
table.domain div.cont{margin-top:0.7em; width:100% }
table.domain div.main{font-family:arial,sans-serif; font-size:18px; margin-left:60px}
table.domain table.dom img{margin-right:0px}
table.domain table.dom tr{height:20px}
table.domain table.dom{margin-top:10px; width:95%}
table.domain td.centr div.first{margin-top:10px; margin-bottom:10px; font-weight:bold; width:250px; color:#959595}
table.domain td.centr div.five{margin-left:180px; margin-top:10px}
table.domain td.centr div.four{margin-top:10px; float:left}
table.domain td.centr{margin-top:10px}
table.domain td.fc{font-size:2px; background:transparent url(/design/ukraine/img/lineim.gif) top left repeat-x}
table.domain td.fl{font-size:2px; vertical-align:top; background:transparent url(/design/ukraine/img/tablc.gif) top left no-repeat}
table.domain td.fr{font-size:2px; background:transparent url(/design/ukraine/img/lineim.gif) top left repeat-x;  border-right:1px #ececec solid}
table.domain td.sl{background:transparent url(/design/ukraine/img/lineimv.gif) top left repeat-y}
table.domain td.sr{background:transparent url(/design/ukraine/img/lineimv.gif) top right repeat-y}
table.domain td.tc{background:transparent url(/design/ukraine/img/lineim.gif) bottom left repeat-x}
table.domain td.tl{background:transparent url(/design/ukraine/img/lineim.gif) bottom left repeat-x;  border-left:1px solid #ececec}
table.domain td.tr{vertical-align:bottom; background:transparent url(/design/ukraine/img/tabrc.gif) bottom right no-repeat}
table.domain tr.foot{font-size:1px; height:1px}
table.domain_check td{padding:3px; border-bottom:1px solid silver; vertical-align:middle}
table.domain_check tr.even{background-color:#f6f6f6}
table.domain_check tr.odd{background-color:#fafafa}
table.domain_check tr.over{background-color:#f0f0f0}
table.domain_check{margin:5px}
table.domain{/*margin-left:40px; margin-top:20px; */ background:#fff}
table.form input.text{width:90%}
table.form td.title{text-align:right; vertical-align:top; width:130px; padding:4px 0 0 20px; font-weight:bold}
table.form td{padding:2px}
table.form textarea{width:90%; height:100px}
table.form{width:100%}
table.forum_top_small td.username{text-align:left}
table.forum_top_small td{padding:4px 2px; text-align:right}
table.forum_top_small thead td{font-size:9px; font-weight:bold}
table.forum_top_small tr.odd td{background-color:#f0f0f0}
table.forum_top_small{border-collapse:collapse; width:100%; margin-bottom:10px}
table.fullsitemap a{text-decoration:none}
table.function_list td li{margin-bottom:5px; list-style-image:url(/design/ukraine/img/checked.gif)}
table.function_list td ul{margin-left:5px; padding-left:25px}
table.function_list td{font-size:13px}
table.hosting-cart td{padding:2px 5px; line-height:1.4em; }  
table.hosting-cart tfoot td{background-color:#dfdfdf}
table.hosting-cart thead td{background-color:#dfdfdf; color:#5d6062; text-align:center; padding:3px 20px}
table.hosting-cart tr.even td{background-color:#f9f9f9}
table.hosting-cart tr.odd td{background-color:#f9f9f9}
table.hosting-cart{border:1px solid #d6d6d6; width:100%}
table.hosting-order td.title{font-weight:bold}
table.message{margin:20px 0}
table.news_archive td.news_date{vertical-align:top; text-align:right; padding-top:10px; padding-right:10px; color:#999; width:150px}
table.news_archive td.news_title{padding-top:10px; vertical-align:top}
table.news_archive tr.year td{padding:15px 0 2px 0; color:#636358; font-size:12px; font-weight:bold}
table.news_main td.date span{padding:0 4px; background-color:#f8f8dc; border:1px solid #dadac1}
table.news_main td.date{width:50px}
table.news_main td{padding-top:5px}
table.news_main{width:100%}
table.plans caption{text-align:right; font-style:italic; margin-bottom:5px}
table.plans td a{color:#a41515; text-decoration:underline; font-size:13px}
table.plans td.odd{background-color:#e9e9e9}
table.plans td.plan_name{font-size:17px}
table.plans td.tdtitle{width:15%; text-align:left}
table.plans td{padding:5px; text-align:center; background-color:#fafafa; width:10%}
table.plans tr.divider td{background-color:#d6d6d6; font-weight:bold}
table.plans tr.odd td.odd{background-color:#e9e9e9}
table.plans tr.odd td{background-color:#f2f2f2}
table.plans{border:1px solid #d6d6d6; width:100%; border-collapse:collapse; margin:0 1px}
table.release td.col1{width:90%}
table.release td.col2{width:10%; text-align:center}
table.release tr.row1 td li, 
table.release tr.row1 td{background:#f0f0f0; vertical-align:middle; padding:5px}
table.release tr.row2 td li{list-style:disc inside}
table.release tr.row2 td{background:#fff; vertical-align:middle; padding:5px}
table.release{width:530px; margin-bottom:50px}
table.sitemap a{text-decoration:none}
table.submenu a{text-decoration:none; font-size:11px}
table.submenu td.item_empty a{text-decoration:underline !important; }
table.submenu td.item_empty{background-color:#666; padding-left:5px; padding-right:5px; padding-top:0px; font-size:11px; color:white}
table.submenu td.item_first{background-color:#666; padding-left:10px; padding-right:20px; padding-top:0px}
table.submenu td.item{background:#666 url(/design/ukraine/img/whiterow.gif) left 10px no-repeat; padding-left:20px; padding-right:20px; padding-top:0px}
table.submenu td{font-size:2px}
table.submenu{margin-top:15px; margin-left:40px}
table.support td{padding:5px; border-bottom:1px solid silver}
table.support thead td{font-weight:bold; border-bottom:2px solid silver}
table.top_menu a.selected{background:#fe9f00; color:#fff; position:relative; border-radius:3px; padding-right: 25px; }
/*table.top_menu a.selected{ border: 1px solid #CCCCCC; box-shadow: 1px 1px 2px #DCDCDC inset; padding-right: 25px; position:relative; border-radius:3px; }*/


table.top_menu a{padding:3px 10px 5px; text-decoration:none}
table.top_menu td{/*background:url(/design/ukraine/img/bluerow1.gif) left 5px no-repeat; */}
table.top_menu{margin-left:40px; border-collapse:collapse}
table.view td{border-bottom:1px solid silver; padding:7px 0}
table.view thead td{font-weight:bold; border-bottom:2px solid gray}
table{margin:0; padding:0}
td.news ul li{list-style-image:url(/design/ukraine/img/bluerow3.gif); margin-bottom:4px}
td.news ul li.tweet{list-style-image:url(/design/ukraine/img/twitter-16.png);}
td{font-family:tahoma,sans-serif; font-size:12px; font-weight:regular}
textarea.wide{width:90%; height:150px}
textarea.wide{width:90%; height:150px}
ul.navigation li a.selected{color:#000; font-weight:normal}
ul.navigation li a{color:#96c0ff; font-size:17px; text-decoration:none; margin:0 20px}
ul.navigation li.selected{padding:5px 0 8px 0; margin:0 2px -1px 0; background:#d6d6d6}
ul.navigation li{float:left; padding:5px 0; margin:0 2px 2px 0; background:#f0f0f0; list-style-image:none; list-style-position:outside; list-style-type:none}
ul.navigation{margin:0; padding:0}
ul.footer {padding-left:25px;}


/* FAQ */
div.question{padding:5px; display:none; color:#000}
span.answer_not_found{color:gray}
li.faq{list-style:disc inside; color:#1873b4; margin-bottom:5px}
li.faq div{color:black}
li.faq2{list-style:none; color:#1873b4; margin-bottom:5px}

/* News calendar */
div.calendar{border:1px solid #ececec; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:10px; width:200px}
div.calendar table{width:100%; text-align:center}
div.calendar a{font-weight:bold}
div.calendar a img {border:none;}
div.calendar table td{vertical-align:middle; border:1px solid white}
div.calendar table thead{text-align:center}
div.calendar table td.weekend{color:red}
div.calendar table td.today{border:1px solid red}
div.calendar table td.month div{background:#82A0CE; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; padding:5px; color:#fff; font-size:18px}

/* News */
#content-padding{padding:0 25px 25px 25px; background-color:#fff}
#content{padding:25px 25px 15px 25px; padding:0; width:100%; clear:both; overflow:hidden}
#post-head{width:100%; border-collapse:collapse}
#post-head tr td#head-date{width:50px}
.post{padding:0px; clear:both; overflow:hidden; margin-top:20px}
.post .date{height:50px; width:55px; background:url(/img/news/wide-calendar.gif) no-repeat; font:normal 22px Arial,Helvetica,sans-serif; color:#666; text-align:center; padding:0px 2px 0 0; line-height:100%; float:left}
.post .date span{height:16px; display:block; font:normal 11px Arial,Helvetica,sans-serif; color:#fff; text-align:center; padding-top:5px}
.post .title{float:left; margin-left:10px; width:100%}
.postdata{font-size:90%; color:#999}
.postdata a, .postdata a:visited{color:#999; text-decoration:none}
.postdata a:hover{color:#44a1d0; text-decoration:none}
.postdata .category{background:url(/img/news/mini-category.gif) no-repeat; padding-left:18px; height:20px; float:left}
.mini-add-comment{background:url(/img/news/mini-down-arrow.gif) no-repeat left center; padding-left:12px; margin-right:90px; float:right}
.entry{padding:10px 0px 5px; margin-bottom:20px; clear:both}
.entry p.submeta{font-size:11px}
.content-image-borderer img {background: url("/design/ukraine/img/info_bg.png") repeat-x scroll left top transparent; border: 1px solid #aaa !important; border-radius: 3px; box-shadow: 1px 1px 2px #FFFFFF inset; padding: 10px;}

/* post title */
h2{color:#333; margin:3px 0 2px; padding-bottom:4px; font:normal 130%/100% "Lucida Grande",Arial,sans-serif; border-bottom:dotted 1px #CCC}
h2 a, h2 a:visited{color:#333; text-decoration:none}
h2 a:hover{color:#44a1d0; text-decoration:none}
/* h3{color:#666; margin:5px 0px 5px; font:bold 110%/110% "Lucida Grande",Arial,sans-serif} */

/* next &previous post navigation */
.post-nav{clear:both; padding-bottom:35px; margin-top:15px; font-size:95%; padding-right:80px}
.post-nav a, .post-nav a:visited{color:#999; text-decoration:none}
.post-nav a:hover{color:#000; text-decoration:none}
.post-nav .previous a{float:left; width:450px; height:20px; padding-left:20px; padding-top:6px; background:url(/img/news/navigation-left.gif) no-repeat left center}
.post-nav .next a{float:right; padding-right:20px; width:450px; height:20px; padding-top:6px; text-align:right; background:url(/img/news/navigation-right.gif) no-repeat right center}

.news_date{vertical-align:top; text-align:right; padding-top:10px; padding-right:10px; color:#999; width:150px}
.news_title{padding-top:10px; vertical-align:top}

/* Support */
DIV.remark{width:70%; margin-top:5px; margin-bottom:10px}
DIV.remark DIV.title{display:block; margin-bottom:5px; padding:3px; border-bottom:2px solid silver}
DIV.remark DIV.content{padding:5px 5px 15px 5px; background-color:#eee; border:1px solid silver}
TABLE.ticket_table td{padding:10px 15px 10px 10px}

/* User */
div.identity_check_ok{color:green; font-weight:bold; padding-top:3px; display:none}
div.identity_check_failed{color:red; font-weight:bold; padding-top:3px; display:none}

/* Forum */
table.forum{clear:both; border-collapse:collapse; margin-top:10px; width:100%}
table.forum td{border:1px solid #ccc; text-align:center; vertical-align:top; padding:10px}
table.forum td.forum_name{text-align:left; height:60px; padding-left:0px}
table.forum thead td{font-weight:bold; background-color:#ddd; padding:7px 7px}
table.forum td.message{text-align:left}
table.forum tr.odd td.message{background-color:#f0f0f0;}
a.green{color:green}
a.red{color:red}
a.new_post{color:green; font-weight:bold; font-size:15px}
div.new_post{width:350px; float:right}
tr.moderator td{background:#f0f0f0; text-align:left}
div.moderator{border:1px solid #ccc; background-color:#eee; padding:5px; margin-top:10px}

/* Comment */
div.comment{width:100%; padding:10px 10px 10px 0px; border-right:10px solid white; font-size:12px}
div.comment_text{border:1px solid #d9d9d9; position:relative; margin:0; float:left; padding:0px 10px 0px 0px; width:expression((document.documentElement.clientWidth >70)?'auto':'70px'); min-width:70px}
div.comment_text img{clear:both; margin:0}
div.comment_text img.abs1{position:absolute !important; top:-1px !important; left:-1px; !important}
div.comment_text img.abs2{position:absolute !important; top:-1px !important; right:-1px !important}
div.comment_text img.abs3{position:absolute !important; bottom:-1px !important; right:-1px !important}
div.comment_text img.abs4{position:absolute !important; bottom:-9px !important; left:-1px !important}

div.comment_author{margin:2px 0 0 0; padding:3px; float:left; clear:both; font-family:Arial,sans-serif; font-size:11px; color:#737373}
div.comment_form{display:none; padding:15px 0; width:70%}
div.comment_form textarea{height:100px; display:block; width:400px}
div.comment_form .input_image{margin:10px 20px 10px 0}
div.comment_delfloat{clear:both; width:100%; height:1px; font-size:1px}

a.comment_answer { font-weight:bold; margin:0px 5px; }
a.comment_answer:hover { text-decoration:none; }


div.bg_layer{height:100%; width:100%; position:absolute; top:0; left:0; display:none; background-color:black; filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); opacity:0.5; z-index:10}
div.task_layer{padding:10px; background:#fff; font:11px verdana; border:1px solid #5b7f93; display:none; padding:20px; position:absolute; top:200px; left:50%; width:400px; margin-left:-300px; background-color:white; z-index:50; /*Firefox*/-moz-border-radius-bottomleft:20px; -moz-border-radius-bottomright:20px; -moz-border-radius-topleft:20px; -moz-border-radius-topright:20px; /*Chrome,Safari*/-webkit-border-top-left-radius:20px; -webkit-border-top-right-radius:20px; -webkit-border-bottom-left-radius:20px; -webkit-border-bottom-right-radius:20px}
div.task_layer textarea{width:99%; @charset "windows-1251"; height:150px}

/* SiteMap */
DIV.smap_0{font-size:16px; font-weight:bold; padding:5px}
DIV.smap_1{font-size:14px; padding:3px 3px 3px 20px}
DIV.smap_2{font-size:11px; padding:1px 1px 1px 40px}
DIV.smap_3{padding:2px 2px 2px 50px}
DIV.smap_4{padding:2px 2px 2px 60px}
DIV.smap_5{padding:2px 2px 2px 70px}

/* AJAX */
#ajaxPreloader, 
.ajaxPreloader { 
	position:fixed; 
	background: #f3f3f3;
    border-radius: 2px;
	padding:10px 20px; 
	left:50%; 
	top:200px; 
	text-align:center; 
	display:none; 
}
#ajaxPreloader img.icon { margin:3px 5px 0px 0px; }
#ajaxPreloader span.please { font-size:11px; color:#666; }

div.tooltip{position:absolute; z-index:999; left:-9999px; background-color:#dedede; padding:10px; border:1px solid #fff; width:200px; /*display:none; */}
div.tooltip p{margin:0; padding:0; color:#fff; background-color:#222; padding:10px; line-height:150%}
img{vertical-align:top}


/* Gallery */
div.gallery_subunit {float:left;padding:12px;border:1px solid silver;margin:0 10px 10px 0; height:110px;text-align:center;background-color:#f0f0f0;}
div.gallery_subunit img {border:1px solid gray;margin-bottom:7px;}
div.gallery_pages {clear:both; text-align:center;padding-top:10px;}


table.select-billing-period { border: 1px solid #d6d6d6}
table.select-billing-period tr td{ padding:5px; }  
table.select-billing-period tr td.no_content { background-color: #f3f3f3; padding: 20px; text-align: center; color:#333;}
	
a.optional { border-bottom: 1px  dashed #1873B4; text-decoration:none; }
a.optional:hover { border-bottom: none;  }  

/* BUTTONS */
.hosting-button-green { min-height:26px; line-height:16px; margin-top:0px; margin-bottom:0px; cursor:pointer; background:#77a809; border-radius:2px; display:inline-block; color:#ffffff; font-family:arial; padding:4px 10px; text-decoration:none; border:none;
}.hosting-button-green:hover { background:#82b118;
}.hosting-button-green:active { box-shadow:0 1px 1px #666 inset; } 

.hosting-button-red { min-height:26px; line-height:16px; margin-top:0px; margin-bottom:0px; cursor:pointer; background:#f15547; border-radius:2px; display:inline-block; color:#ffffff; font-family:arial; padding:4px 10px; text-decoration:none; border:none; 
}.hosting-button-red:hover { background:#fa665a;
}.hosting-button-red:active { box-shadow:0 1px 1px #666 inset; }

.hosting-button-yellow { min-height:26px; line-height:16px; margin-top:0px; margin-bottom:0px; cursor:pointer; background:#f2b42f; border-radius:2px; display:inline-block; color:#ffffff; font-family:arial; padding:4px 10px; text-decoration:none; border:none; 
}.hosting-button-yellow:hover { background:#ffb923; 
}.hosting-button-yellow:active { box-shadow:0 1px 1px #666 inset; }

.hosting-button-gray { min-height:26px; line-height:16px; margin-top:0px; margin-bottom:0px; cursor:pointer; background:#dfdfdf; border-radius:2px; display:inline-block; color:#666; font-family:arial; padding:4px 10px; text-decoration:none; border:none; 
}.hosting-button-gray:hover { background:#ededed;
}.hosting-button-gray:active { box-shadow:0 1px 1px #666 inset; }
   
.hosting-button-order { line-height:16px; margin-top:0px; margin-bottom:0px; cursor:pointer; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) ); background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23'); background-color:#ffec64; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; border:1px solid #ffaa22; display:inline-block; color:#333333; font-family:arial; padding:3px 10px; text-decoration:none; text-shadow:1px 1px 0px #ffee66; 
}.hosting-button-order:hover { background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) ); background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% ); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64'); background-color:#ffab23;
}.hosting-button-order:active { position:relative; top:1px; }
 

a.hosting-button-green, a.hosting-button-yellow, a.hosting-button-red { color:#ffffff; min-height:18px; }
a.hosting-button-gray { color:#666; min-height:18px; }

div.hosting-button-green, div.hosting-button-yellow, div.hosting-button-red, div.hosting-button-gray { min-height:18px; }   
 
div.info { margin:0px auto; background: url("/img/cms/message/bg_gray.png") repeat-x scroll left top #fff; border: 1px solid #dcdcdc; border-radius: 2px; padding: 10px; }
div.context_help { background-color: #F3F3F3; background-image: url("/design/ukraine/img/cp/help.gif"); background-position: 10px 10px; background-repeat: no-repeat; border: 1px solid #ccc; border-radius: 2px; box-shadow: 1px 1px 1px #FFFFFF inset; color: #666666; font-family: tahoma; font-size: 11px; margin: 10px 0px; padding: 10px 10px 10px 60px; min-height:40px !important; }
span.note { display:block; margin-top:5px;  background-color: #FBECCE; border: 1px solid #FBBE0E; border-radius: 3px; box-shadow: 2px 2px 2px #CCCCCC; display: block; padding: 5px 15px; }
  
h3.cpanel-box-title { font-size:12px; font-weight:bold; border-bottom:1px dotted #ccc; float: left; margin-left:10px; margin-top:15px; width: 85%; padding-bottom:1px; background:none !important; }
img.cpanel-box-image { float:left; margin-top:11px; }  

input.site-box-input { margin-top:0px; margin-bottom:0px; font:12px Arial; border:1px solid #7F9DB9; background-color:#fff; height:20px; padding:2px; color:#333; border-radius:2px; }
input.site-box-input:focus { box-shadow:0px 0px 2px #aaa; }
input[disabled].site-box-input{ background-color:#eee; color:#666; }
select.site-box-input { font:12px Arial; border:1px solid #7F9DB9; background-color:#fff; padding:3px; margin-top:0px; margin-bottom:0px; color:#333; border-radius:2px; }
select.site-box-input:focus { box-shadow:0px 0px 2px #aaa; }
select[disabled].site-box-input{ background-color:#eee; color:#666; } 
textarea.site-box-input { margin-top:0px; margin-bottom:0px; font:12px Arial; border: 1px solid #7F9DB9; padding: 10px; border-radius: 2px; color:#333; }
textarea.site-box-input:focus { box-shadow:0px 0px 2px #aaa; }
.site-box-input.important { font-size:1.4em; border:1px solid #77a809; color:green; padding:4px 2px; }
  
/* PAGING */
a.page_list, span.page_list{ -moz-user-select: none; background: none repeat scroll 0 0 #E0E0E0; border: 1px solid; border-radius: 2px 2px 2px 2px; color: #555555; display: inline-block; font-size: 11px; margin: 0 2px; padding: 6px 10px; text-shadow: 0 1px 0 #FFFFFF; vertical-align: middle; }
a.page_list { background-color: #DDDDDD; background-image: linear-gradient(to bottom, #FAFAFA, #DCDCDC); border-color: #CCCCCC #CCCCCC #AAAAAA; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset; font-weight: bold; text-decoration: none; }
a.page_list:hover{ background-color: #F4F4F4; background-image: linear-gradient(to bottom, #F0F0F0, #E6E6E6); border-color: #AAAAAA #AAAAAA #999999; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25), 0 0 3px #FFFFFF inset; text-decoration: none; color:#1873B4; }
span.page_list, a.page_list, span.page_selected, span.page_dots{ margin-right:2px; margin-bottom:2px; padding:6px 9px 6px 9px; display:inline; margin-bottom:10px; }
span.page_list{ background-color: #E0E0E0; background-image: linear-gradient(to bottom, #C8C8C8, #E6E6E6); border-color: #888888 #AAAAAA #AAAAAA; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25) inset, 0 1px 0 #FFFFFF; cursor: default; font-weight: bold; color:#1873B4; }
span.page_dots{ border:none; }
div.php-code { background:url(/img/cms/message/bg_gray.png) repeat-x scroll 0 0 #fff; border:1px solid #ccc; box-shadow:1px 1px 2px #dcdcdc inset; padding:5px 10px; border-radius:3px; }

table tr td.info {  border: 1px solid #CCCCCC; border-radius: 2px; padding: 10px 20px 10px 10px;  }
table tr td.info-brown { background:#EBE9C3;  }
table tr td.info-gray { background: url("/img/cms/message/bg_gray.png") repeat-x scroll left top #fff;  }
table tr td.info {  padding:20px; } 
table tr td.info h2 { font-size:12px; font-weight:bold; float:left; margin:10px 10px 0px 10px; width:84%; }
table tr td.info a { color: #1873B4; }
table tr td.info a.switched { color: #e19709; }
table tr td.info a:hover { text-decoration:none; }

span.message-unread { background: url("/design/ukraine/img/counter-bg.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0); color: #fff; cursor: pointer; display: inline-block; height: 16px; text-align:center; text-shadow: 1px 1px 1px #000; width: 16px; line-height:16px; font-size:11px; font-weight:normal; }

div.offer h1 { color:#000; font-size:14px; font-weight:600; }
div.offer-proposal.fixed {box-shadow:0px 2px 8px #888; background: url("/design/ukraine/img/cms/offer.png") no-repeat 10px 15px #ebe9c3; border-radius:0px 0px 2px 2px; position:fixed; top:-2px; margin:0px auto; z-index:9; width:50%; left:25%; padding:0px; min-width:500px; }
div.offer-proposal.fixed div.context { padding:20px 20px 10px 62px; font-size:1.1em; color:#222; }
div.offer-proposal.fixed div.context div.attention { color:gray; font-size:12; margin-top:6px;  font-size:0.9em; }
div.offer-proposal.fixed div.control { padding:0px 20px; text-align:right; background:#f2b42f; } 
div.offer-proposal.fixed a { color:#222; text-decoration:underline; }
div.offer-proposal.fixed a:hover {  text-decoration:none; }
div.offer-proposal.fixed .hosting-button-green,div.offer-proposal .hosting-button-yellow { font-size:1.2em; border-radius:0px; padding:10px; }

div.offer-proposal.static div.context div.attention { color:gray; font-size:11; }
div.offer-proposal.static div.control { margin:10px 0px 0px; }

input.hidden-number:focus{ outline: none; }