body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.zf-green {
    color: #68b604;
}

.btn-success {
  background-color: #57a900;
  background-image: -moz-linear-gradient(top, #70d900, #57a900);
  background-image: -ms-linear-gradient(top, #70d900, #57a900);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
  background-image: -webkit-linear-gradient(top, #70d900, #57a900);
  background-image: -o-linear-gradient(top, #70d900, #57a900);
  background-image: linear-gradient(top, #70d900, #57a900);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #57a900;
}

.btn-success:active, .btn-success.active {
  background-color: #57a900;
}

div.container a.brand {
    background: url("../assets/img/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}



/*cw*/

body.cw header {
  position: relative;
  z-index: 9999;
}

body.cw header .upper-part .main-upper-menu {
                                            min-width: 640px;
                                        }
body.cw header .upper-part .main-upper-menu .home-link {
    display: block;
    margin-top: 0;
    margin-right: 10px;
}
body.cw header .upper-part .main-upper-menu ul {
    float: right;
}
body.cw header .upper-part .main-upper-menu ul li {
    border-right: 2px solid #d3921b;
}
body.cw header .upper-part .main-upper-menu ul li a {
    font-size: 125%;
}
body.cw header .upper-part .service-block {
    margin-left: 20px;
}
body.cw header .bottom-part {
    background-color: #d3921b;
}
body.cw .devider {
    background: #d3921b;
}
body.cw .right-column .links-wrapper .links-header {
    background: #d3921b;
}
body.cw .hot-topic-tags {
    background: #d3921b;
}
body.cw .hot-topic-tags ul li.hot-topic-item a {
    color: white;
}
body.cw header .upper-part .main-upper-menu ul li {
    font-size: 90%;
}
.clear {
    clear: both;
}
/* ===== Homepage Slider ===== */
.home-slider {
    margin-top: 0px;
}
.home-slider .carousel-inner > .item {
    height: 350px;
    overflow: hidden;
    background-color: #f6f6f6;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover !important;
}
.home-slider .carousel-inner > .item .bg-img {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
}
.home-slider .carousel-inner > .item .bg-img img {
    height: 100%;
    width: auto;
}
.home-slider .carousel-inner > .item .home-slider__content {
    padding-top: 80px;
}
.home-slider h3 {
    color: #ed3e49;
}
.home-slider p {
    margin: 35px 0;
    line-height: 1.5;
}
.home-slider ul {
    list-style-type: none;
    padding: 0;
}
.home-slider #item-1 {
    background-image: url(http://www.osp.ru/netcat_files/1644/1842/slaids1000_290_04.png);
    background-position: bottom center;
}
.home-slider #item-2 {
    background-image: url(http://www.osp.ru/netcat_files/1644/1842/slaids1000_290_02.png);
}
.home-slider #item-2 ul {
    margin-top: 20px;
}
.home-slider #item-2 ul > li {
    text-align: left;
}
.home-slider #item-2 ul > li > span {
    display: inline-block;
    margin-bottom: 3px;
    padding: 3px 0px;
    color: #343434;
}
.home-slider #item-2 ul.string > li > span {
    color: #B31E22;
    text-transform: uppercase;
    font-weight: bold;
}
.home-slider #item-3 {
    background-image: url(http://www.osp.ru/netcat_files/1644/1842/slaids1000_290_03.png);
}
.home-slider #item-3 ul {
    margin: 30px 0;
}
.home-slider #item-3 ul > li {
    font-size: 18px;
    padding: 5px 0;
}
.home-slider #item-3 ul > li > i {
    color: #2babcf;
}
.home-slider #item-4 {

background-image: url(http://www.osp.ru/netcat_files/1644/1842/slaids1000_290_01.png);
}
.home-slider #item-4 ul > li {
    font-size: 18px;
    padding: 25px 0px;
}
.home-slider #item-4 ul > li img {
    width: 300px;
    height: 100px;
}
@media (max-width: 991px) {
    .home-slider .carousel-inner > .item .home-slider__content {
        padding-top: 50px;
    }
}
@media (max-width: 767px) {
    .home-slider .carousel-inner > .item {
        text-align: center;
    }
    .home-slider .carousel-inner > .item .home-slider-content {
        padding-top: 50px;
    }
    .home-slider #item-2 ul > li {
        text-align: left;
    }
    .home-slider #item-2 ul > li > span {
        font-size: 22px;
        margin-bottom: 7px;
    }
    .home-slider #item-3 ul {
        text-align: left;
    }
}
/*** Articles homepage */

/*
.container.articles {
    max-width: 1000px;
    padding-top: 30px;
}
*/

/*
.container.articles .row .col-sm-4 {
    color: #a5a5a5;
    height: 200px;
    padding-top: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}
*/
.container.articles .row .col-sm-4 .tag {
    background-color: #d3921b;
    height: 5px;
}
.container.articles .row .col-sm-4 .tag .tag-name {
    position: relative;
    top: -0.4em;
    height: 1em;
    font-size: 115%;
    background-color: #ffffff;
    padding: 0 15px 0 0;
    float: left;
}
.container.articles .row .col-sm-4 .tag-240687 {
    background-color: #F0B329;
}
.container.articles .row .col-sm-4 .tag-240698 {
    background-color: #00999A;
}
.container.articles .row .col-sm-4 .tag-646048 {
    background-color: #CC6598;
}
.container.articles .row .col-sm-4 .tag-4683615 {
    background-color: #336699;
}
.container.articles .row .col-sm-4 .tag-1,
.container.articles .row .col-sm-4 .tag-4039771,
.container.articles .row .col-sm-4 .tag-646060,
.container.articles .row .col-sm-4 .tag-646055,
.container.articles .row .col-sm-4 .tag-646039,
.container.articles .row .col-sm-4 .tag-646038 {
    background-color: #cd0400;
}
/*
.container.articles .row .col-sm-4 .article-title {
    color: #404040;
    font-size: 115%;
    margin: 10px 0;
}
*/

.buy-button.cw {
    background: #d3921b;
}
.buy-button.cw:hover {
    background: #e3a024;
}
.main-content {
    padding: 10px 20px;
}

body > div.wrapper.oh > div > div > div > div > h1{
    font-size: 18px;
    padding-bottom: 10px;
}

.black{
    color: #000;
}
/*
cw*/


/*
cio*/


body .about .news-header {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    border-top: 4px solid #9f9f9f;
    padding-top: 8px;

}

body .about  h2 {
    font-weight: 400;
    font-size: 172%;
    color: #5e5e5f;
    text-transform: uppercase;
    padding-left: 18px;
    padding-left: 0px;
padding-bottom: 10px;
    width: 160px;
}


body .about {
    position: relative;
    overflow: hidden;
    width: 964px;
    margin: 0 auto;
    margin-top: 0px;
}

body .about  h3 {
    font-weight: 400;
    font-size: 102%;
    color: #5e5e5f;
font-weight: bold;
    padding-left: 18px;
    padding-left: 0px;


}
.about-text{
    margin-bottom: 20px;
}
/*
cio*/


/*
sidebar*/
.right-column .sb-last-news .links-header {
    background: #009a25;
}


.right-column .sb-last-news .links-header {
  height: 40px;
  background: #cd0400;
  color: white;
  line-height: 40px;
  padding-left: 10px;
  font-size: 20px;
/*  text-transform: uppercase;*/
  margin-bottom: 10px;
}

.right-column .sb-last-news > ul > li{
    /*padding-left: 20px;*/
}


.right-column .sb-events .links-header {
    background: #009a25;
}


.right-column .sb-events .links-header {
    height: 40px;
    background: #cd0400;
    color: white;
    line-height: 40px;
    padding-left: 10px;
    font-size: 20px;
/*    text-transform: uppercase;*/
    margin-bottom: 10px;
}

.right-column .sb-events > ul > li{
    /*padding-left: 20px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.right-column .links-wrapper .links-items ul .link-item a{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.btn {

    border-radius: 0!important;

}
.btn-success{
    background-image:none!important;
}
/*
sidebar*/




/*start issue section*/
.issue-title-h1{
    padding-left: 21px;
    padding-bottom: 20px;
    margin-top: 30px!important;

}
.cover-156 img{
    width: 156px;
    margin-bottom: 20px;

}

.cover-118{
    margin-right: 0px!important;
    width: 118px!important;
    margin-left: 14px;
}

.cover-118 img{
    width: 118px!important;

}

.year-link-issue{
    text-transform: uppercase;
    color:#6f6f6f;
    font-size: 18px;
}
.year-link-issue-center{
    text-align: center!important;
}
.issue-rubric{
    color:#2669a2!important;
    font-size: 129%!important;
}

.issue-left{
    margin-left: 15px!important;
}
.top-issue{
    /*margin-top: -73px;*/
}

div.left-column.column-170 > div.breadcrumbs{
    margin-top: 15px!important;
}

.issue-link{
    display: inline!important;
    font-size: 209%!important;
    line-height: 50px!important;
}

.issue-link-big{
    display: inline!important;
    font-size: 239%!important;
    line-height: 50px!important;
    padding-left: 8px;
}

.issue-link-small{
    display: inline!important;
    font-size: 169%!important;
    line-height: 50px!important;
    padding-left: 8px;
}

.issue-link-dotted{
    font-size: 239%!important;
    padding-left: 18px;
}

.year-label{
    padding-left: 10px!important;
    font-size: 159%!important;
}

.issue-link-active{
    color: #2669a2!important;
}

a.show_button, a.show_button:hover, a.news_button, a.news_button:hover {
    text-decoration: none;
    border-bottom: 1px dashed #000;
    color: #000;
    float: right;
    font-size: 12px;
}
/*end issue section*/

/*404 section*/
/*
.similar-img-wrapper{
    float:left;
    min-width: 200px;
    padding: 10px 10px 10px 10px;
}
.similar-link-wrapper{
    float: left;
    width: 400px;
    padding: 10px 10px 10px 10px;
}

.similar-link-wrapper a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
}
.similar-link-wrapper a:hover {
    text-decoration: none;
    color: #0f1157;
}

.similar-annotation{
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto';
    color:#000;
}
*/
/*end 404 section*/


/*cw news*/
/*
.news-cw-list{
    float: left;
    width: 290px;
    height: 150px;
    margin-right: 20px;
}
*/

.news-cw-list .article-title{
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 20px;

}


.col-sm-8 .tag {
    background-color: #d3921b;
    height: 5px;
    margin-bottom: 40px;
}
.col-sm-8 .tag .tag-name {
    position: relative;
    top: -0.4em;
    height: 1em;
    font-size: 120%;
    background-color: #ffffff;
    padding: 0 15px 0 0;
    float: left;
    color: #888888;
}


.win2000 .col-sm-8 .tag {
    background-color: #3398df;
    height: 3px;
    margin-bottom: 40px;
}
.win2000 .tag-name{
    font-family: 'Roboto'!important;
font-weight: 400;
font-size: 120%;
color: #43464b!important;
}

/*
.win2000 .news-cw-list{
    float: left;
    width: 290px;
    height: 120px;
    margin-right: 20px;
}
*/
/*games news*/
.news-games-list{
    float: left;
    width: 150px;
    margin-right: 20px;
}

.news-games-list-text{
    float: left;

    margin-right: 20px;
}

.article-title-one {
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: bold;

}

.news-cw-list-text .article-annotation{
    width: 620px;
    line-height: 16px;
    font-size: 14px;
}

.breadcrumb-issue{
    margin-left: 20px;
    margin-top: -20px;
    margin-bottom: 20px;
}

@media (min-width: 1200px)
.container {
    width: 1170px;
}
@media (min-width: 992px)
.container {
    width: 970px;
}
@media (min-width: 768px)
.container {
    width: 750px;
}
