#opendialog
{
cursor:pointer;
cursor:hand;
margin:7px;
}
.form-content
{
width:625px;
font-family: Tahona,Arial,sans-serif !important;
}
.formorder_header
{
padding-bottom:20px;
}
.formorder_header img.imageheader
{
margin:0 0 0 10px !important;
border:1px solid #CCC;
padding:2px  !important;
}
.formorder_header h3
{
font-size:16px !important;
margin:0;
padding:0;
line-height:18px !important;
font-weight:bold !important;
font-family: Tahona,Arial,sans-serif !important;
}
.formorder_header_title
{
font-size:14px !important;
color:#555555;
font-family: Tahona,Arial,sans-serif !important;
}
.formorder_header_desc
{
font-size:11px !important;
color:#333;
font-family: Tahona,Arial,sans-serif !important;
}
.formorder-caption
{
display:inline;
font-size:14px !important;
line-height:14px !important;
font-weight:bold !important;
font-family: Tahona,Arial,sans-serif !important;
}
.formorder-caption_desc,
.formorder-caption_error
{
display:inline;
font-size:10px !important;
line-height:10px !important;
color:#333;
font-family: Tahona,Arial,sans-serif !important;
font-weight:normal !important;
}
.formorder-caption_desc
{
margin-left:10px !important;
}
.formorder-caption_error
{
margin:0 !important;
color:red;
}

.whereque
{
/*width:600px;*/
background-color:#fff49a;
padding:10px 5px 15px 5px;
margin:0 0 17px 0;
border:1px solid #48687D;
}
.whereque-caption
{
padding:0 0 10px 0;
text-align:center;
}
.whereque input
{
width:18px;
float:left;
display:inline;
padding:1px;
margin:0 1px;
}
.whereque label
{
width:90px;
float:left;
display:inline;
margin:0 !important;
padding:0 !important;
text-align:left;
font-size:12px !important;
line-height:14px !important;
font-family: Tahona,Arial,sans-serif !important;

}
* html .whereque label { margin:0 0 0 0 !important; }
.checksep
{
display:block;
font-size:1px !important;
line-height:1px !important;
width:100%;
height:5px;
}
.submitdembtn,
.resettdembtn
{
border:1px solid #48687D;
padding:0 0 0 5px !important;
width:95px;
height:26px;
float:left;
margin-left:10px;
font-size:14px !important;
line-height:26px !important;
text-align:center;
font-weight:normal !important;
display:inline;
color:black;
cursor:pointer;
cursor:hand;
}
.submitdembtn
{
background-color:#FAE818;
}
.resettdembtn
{
background-color:#E6E6E6;
}

input.inputtext
{
width:320px !important;
font-size:100% !important;
}
input.inputphonetext
{
width:224px !important;
display:inline;
margin:0 0 0 15px !important;
}
input.inputphonecode
{
width:70px !important;
display:inline;
}
.separator_phone
{
height:20px;
width:13px;
display:inline-block;
margin:0 !important;
padding:0 !important;
}

.captcha_block
{
float:left;
display:inline;
margin:0;
padding:0;
}
.captcha_block .captcha_block_title
{
margin:0;
padding:0;
float:left;
display:inline;
width:138px;
height:30px;
}
input#mathcaptcha
{
width:70px !important;
}
.inputcaptcha
{
margin:0;
padding:0;
float:left;
display:inline;
width:105px;
height: 25px;
}
table.formorder-table
{
width:575px;
background-color:white;
border-collapse:collapse;
font-size:100% !important;
font-weight:normal;
line-height:120% !important;
/*margin-left:-25px;*/
}

table.formorder-table th, table.formorder-table td
{
	/*padding: 3px 3px;*/
	vertical-align:top;
}

table.formorder-table tr
{
/*border:1px solid white;*/
}
table.formorder-table th
{
	text-align: left;
}

table.formorder-table td
{
	padding: 4px 1px;
	/*border:1px solid white;*/
}



.error-fld {
	display: block;
	float: left;
	height: 13px;
	width: 15px;
	background-repeat: no-repeat;
	background-image: url(images/icon_warn.gif);
}

/*
 * jQuery UI Autocomplete 1.8.13
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Autocomplete#theming
 */
.ui-autocomplete { position: absolute; cursor: default;
background-color:white;
border:1px solid grey;
}

/* workarounds */
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */
/*
 * jQuery UI Menu 1.8.13
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
	text-align:left;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
	color:#777777;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	/*margin: -1px;*/
	color:#777777;
	background-color:#EEEEEE;
}

.whereque-callback
{
/*width:608px;*/
padding:0px 3px 9px 3px;
margin:0 0 6px 0;
}
textarea.inputtextarea
{
resize: none !important;;
width:570px !important;
height:100px !important;
}