body, html {
margin : 0;
padding-bottom : 0;
font-family : 'Segoe UI', sans-serif;
min-height:100%;
}
body {
margin: 0 auto;
max-width: 1440px;
overflow-y: scroll;
background-color:#fff;
}
body.text-cecutient {
font-size:125% !important;
}
body.text-cecutient a.menu-cecutient {
background-color: #990000 !important;
}
body.text-cecutient a.link-vk {
color: #fff !important;
}
body.text-cecutient a.gen-descript_services {
color: #fff !important;
}
body.text-cecutient a {
text-decoration:none;
color:#1a0dab;
}
body.nav-fixed-body {
margin-top:51px;
}

h1,h2,h3,h4 {
font-weight:600;
}

div.yframe {
margin-top:30px;
height:315px;
}
div.brouser-javascript-box, div.classes-box {
padding-top:30px;
}
div.note {
word-break: break-word;
padding: 10px 30px;
margin-bottom: 18px;
background-color: #fff5df;
}
div.note p {
margin: 10px 0;
}
div.note-green {
color:#fff;
background-color: #8FBC8F;
}
div.note-red {
color:#fff;
background-color: #B22222;
}
div.obo-mne {
margin: 15px;
}
div.obo-mne a {
color:#0000EE;
}
div.obo-mne a:first-child {
margin-right: 20px;
}
div.server-konsul input.kontakti {
outline:none;
font-size:15px;
border-top-right-radius: 0;
border-bottom-right-radius: 0;
}
div.server-konsul input.but_kontakti {
vertical-align: top;
border-top-left-radius: 0;
border-bottom-left-radius: 0;
}
div.server-konsul {
height:34px;
margin-top:15px;
}
div.menu-cecutient a.menu-cecutient img {
top: 2px;
width:17px;
height:17px;
position: relative;
}
div.menu-cecutient a.menu-cecutient {
padding:15px;
text-decoration:none;
}
div.menu-cecutient a.menu-cecutient:hover {
background-color: #344e61;
}
div.menu-cecutient {
float:left;
}
div.menu-up {
left: 0;
bottom: 0;
z-index:10;
display:none;
position: fixed;
background-color: #000;
}
div.menu-up a {
line-height: 30px;
padding: 5px 25px;
text-decoration: none;
background-color: #000;
}
div.search-result-block-filtered {
margin-left:10%;
}
div.search-result-block {
width:32%;
float:left;
margin-right:1%;
}
div.search-tag {
margin: 10px auto 30px;
text-align: center;
max-width: 1152px;
}
div.search-tag a {
color: blue;
margin: 0 10px;
font-size: 15px;
line-height: 2em;
white-space: nowrap;
text-decoration: none;
}
div.search-tag a:hover {
text-decoration: underline;
}
div.search-tag a.search-tag-active {
padding: 2px 4px;
background-color: #ffdb4d;
color: #000;
margin: 0 6px;
}
div.search-tag a.search-tag-active:hover {
text-decoration:none;
cursor:default;
}
div.qr-kontakti {
float:left;
margin-left:18%;
}
div.qr-kontakti img {
margin-top: 50px;
}
div.main-content {
float: left;
width: 100%;
padding: 0 15px;
margin-bottom: 20px;
box-sizing: border-box;
}
div.menu-search-box {
float:left;
width:47px;
}
div.menu-search-box a.menu-search {
padding:15px;
text-decoration:none;
}
div.menu-search-box a.menu-search img {
top: 3px;
width:17px;
height:17px;
position: relative;
}
div.form-search {
position: absolute;
top: 51px;
width: 100%;
max-width: 1440px;
background-color: #2d4454;
height: 51px;
padding: 5px 0;
box-sizing: border-box;
text-align:center;
opacity:1;
border-top: 1px solid #3b4f5d;
box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
-webkit-transition: top 0.1s, opacity 0.2s;
-moz-transition: top 0.1s, opacity 0.2s;
transition: top 0.1s, opacity 0.2s;
}
div.form-search-start {
top: 56px;
opacity:0.95;
}
div.form-search input[type='text'] {
height: 40px;
width: 97%;
font-size: 20px;
background-color: #2d4454;
border: none;
outline: none;
color: #fff;
padding: 0 10px;
box-sizing: border-box;
}
div.main-menu {
float:left;
}
div.main-menu a, div.main-menu span {
text-decoration:none;
padding:15px;
color:#fff;
}
div.main-menu span {
background-color:#102a3b;
}
div.main-menu a:hover {
background-color:#344e61;
}
div.menu-search-box a.menu-search:hover {
background-color:#344e61;
}
div.menu-mini {
border-right:none;
display:none;
width: auto;
float: left;
padding: 13px;
background-color:#990000;
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}
div.menu-mini-active {
background-color:#5CB85C;
}
div.menu-mini div {
width: 30px;
height: 2px;
margin: 4px auto;
background-color: #fff;
}
div.server-service-box {
float: left;
width: 100%;
margin-bottom: 30px;
}
div.server-service > div {
padding-right: 80px;
float: left;
text-align: center;
}
div.category-box {
float: left;
width: 340px;
font-size: 19px;
margin: 5px 0;
}
div.content {
padding: 0 15px;
max-width: 700px;
}
div.content-full {
max-width: initial;
}
div.content-full div.polezno-search {
margin: 30px 0 5px;
}
div.checkbox-switch-after {
clear: both;
margin-bottom:16px;
}
div.switch-box {
height: 27px;
width: 140px;
background-color: #5CB85C;
box-shadow: inset 0px 2px 10px rgba(0,0,0,0.1);
border: 1px solid #4CAE4C;
border-radius: 4px;
text-align: center;
font-size: 14px;
transition: background-color 0.3s ease 0s;
}
div.switch-tumb {
width: 18%;
height: 100%;
float: left;
left:0;
position:relative;
background-color: #fff;
border-right: 1px solid #4CAE4C;
border-radius: 4px;
transition: left 0.3s ease 0s;
}
div.switch-text {
margin-top: 3px;
color: #fff;
left:-2px;
position: relative;
transition: left 0.3s ease 0s;
}
div.poleznus-all-btn {
margin: 10px 15px 15px;
clear:both;
}
div.poleznus-all-btn a {
background-color: #BAD972;
padding: 5px 17px;
text-decoration: none;
color: #627830;
border-bottom: 3px solid #789541;
box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
div.poleznus-all-btn a:hover {
border-bottom-color: #79466e;
}
div.poleznus-all-btn a.marked {
color:#fff;
background-color: #79466e;
border-bottom-color: #79466e;
}
div.poleznus-all-btn a.marked:hover {
background-color: #673d5e;
border-bottom-color: #673d5e;
}
div.listing ::before {
width: 20px;
background-color: #E4E4E4;
height: 100%;
}
div.listing {
background-color: #fff;
word-break: break-word;
width: 100%;
border: 1px solid #e4e4e4;
}
div.listing ol {
margin: 0;
counter-reset: li;
padding: 0;
list-style: none;
}
div.listing ol li {
position: relative;
margin: 0 0 0 25px;
padding-left: 5px;
font-size: .9em;
}
div.listing ol li:before {
content: counter(li);
counter-increment: li;
position: absolute;
left: -25px;
font-size: .7em;
text-align: center;
line-height: 2em;
}
div.listing ol li:hover:before {
color:red;
}
div.listing ol li:before, div.listing ol li:before {
-ms-user-select:none;
-moz-user-select:none;
-khtml-user-select:none;
-webkit-user-select:none;
user-select:none;
}
div.console, div.console-like {
background-color: #3F3F3F;
color: #fff;
width:100%;
font-family:'Courier New';
padding:10px;
margin-bottom:1px;
box-sizing:border-box;
word-wrap: break-word;
}
div.console-powershell, div.console-ps {
background-color:#012456;
}
div.editor {
background-color: #FAFAFA;
width:100%;
font-family:'Courier New';
border: 1px dotted;
padding:10px;
box-sizing:border-box;
word-break: break-word;
}
div.editor p, div.console p, div.console-like p {
margin:1px 0;
}
div.ya-share2 {
float: left;
margin-right: 4px;
}
div.calc-radio-box label:first-child {
margin-left: -1px;
}
div.right-calc {
display:none;
margin-left:50px;
}
div.right-calc h2 {
margin-bottom:10px;
}
div.service-cost {
font-size:30px;
}
div.service-cost span.price {
font-size: inherit;
font-weight: initial;
white-space: initial;
}
div.uslugi-text {
padding: 0 15px;
}
div.uslugi-full-link {
float: left;
margin-right:40px;
height: 40px;
}
div.uslugi-table {
width:100%;
display: table;
margin-top:10px;
}
div.uslugi-table-row {
display:table-row;
}
div.uslugi-table-cell {
display:table-cell;
width:33%;
padding: 13px;
}
div.uslugi-table-cell img {
border:0;
}
div.uslugi-table-cell-links table tr:not(:first-child) td {
padding-bottom:5px;
}
div.uslugi-table-cell-links2 tr.td-linked td {
padding-bottom:5px;
}
div.certificate-img {
max-width:540px;
float:left;
}
div.certificate-img img {
float:left;
margin-right:30px;
border:none;
}
div.certificate-row {
margin-bottom:23px;
}
div.certificate-row img:last-child {
margin-right:0;
}
div.certificate-row-linux img {
height:154px;
}
div.poleznus-list-box {
clear:both;
padding-top:5px;
}
div.poleznus-list h2 {
margin-left:12px;
}
div.poleznus-list-box-bottom div.poleznus-list {
padding-bottom:40px;
}
div.poleznus-list {
float:left;
width:32%;
margin-right:2%;
}
div.poleznus-list:last-child {
margin-right:0;
}
div.poleznus-list p:first-child {
margin-top:0;
}
div.poleznus-list-bottom {
clear: both;
text-align: center;
margin-bottom: 40px;
}
div.poleznus-list-bottom div.poleznus-list-bottom-box:first-child h3 {
margin-top:0;
}
div.poleznus-list-bottom-box {
width: 640px;
margin: 0 auto;
clear: both;
padding-top: 5px;
}
div.poleznus-list-bottom-box-like {
width: 520px;
}
div.poleznus-bottom-facebook {
margin-right: 35px;
}
div.poleznus-bottom-twitter {
margin-top: 1px;
margin-right:35px;
}
div.poleznus-bottom-google {
margin-top: 1px;
max-width:100px;
}
div.poleznus-bottom {
float:left;
}
div.polezno-form {
margin-bottom: 30px;
padding-left:15px;
max-width:660px;
float:left;
}
div.polezno-form-proekt {
max-width:700px;
margin-bottom: 10px;
}
div.polezno-form-full {
max-width:initial;
}
div.polezno-category {
float:right;
margin-top:10px;
margin-left:25px;
max-width: 550px;
}
div.category-link {
float:left;
margin-right: 15px;
line-height: 1.6em;
}
div.category-link-all {
clear:both;
font-size: 18px;
padding-top:5px;
}
div.polezno-search {
clear: both;
margin: 30px 14px 5px;
}
div.terminus-table {
max-width:700px;
float:left;
margin-right:150px;
}
div.terminus-table h4 {
padding-top:25px;
}
div.terminus-cloud {
width:320px;
float:left;
border : 1px solid Silver;
font-size : 18px;
padding:0 15px 15px 15px;
text-align:center;
box-sizing: border-box;
line-height: 1.6em;
}
div.terminus-share {
clear: both;
width: 200px;
height: 25px;
margin: 20px auto;
}
div.terminus-yet {
clear: both;
}
div.news {
padding: 5px 15px 15px;
float: left;
width: 97%;
}
div.fieldset {
width: 44%;
border: 1px solid gray;
text-align: center;
padding: 2px 12px 12px;
border-radius: 4px;
}
div.fieldset:last-child {
float: right;
}
div.fieldset:first-child {
float: left;
}
div.fieldset-date {
top: -12px;
color: #636363;
font-size: 0.8125em;
position: relative;
}
div.fieldset-date > div {
width: 78px;
margin: 0 auto;
background-color: #fff;
}
div.fieldset-title {
padding-top:11px;
color:#5B5B5B;
}
div.fieldset-link {
padding-top:16px;
padding-bottom:22px;
}
div.menu-contact a {
color:#fff;
text-decoration:none;
}
div.menu-contact span {
white-space:nowrap;
margin:0;
color:#fff;
}
div.menu-contact {
float:right;
margin-right: 12px;
}
div.article-tags {
clear:both;
color:gray;
margin:75px 0 0;
}
div.article-text {
max-width:55%;
padding:15px;
float:left;
}
div.article-text p, div.article-text li {
line-height:1.4em;
}
div.article-text-kontakti {
max-width:700px;
padding:0;
}
div.article-text-kontakti > h2:first-child {
margin-bottom:10px;
margin-left:15px;
}
div.article-text-kontakti p.space {
margin-bottom:10px;
}
div.article-server {
max-width:890px;
}
div.article-server table td:first-child p {
margin-top:2px;
text-align:center;
}
div.article-server table td:first-child {
width:200px;
padding-top:5px;
text-align:center;
padding-right:10px;
}
div.article-server table tr td ul li {
margin-bottom:8px;
}
div.article-server img {
border:0;
}
div.article-scripts {
max-width:800px;
}
div.article-yet {
max-width:350px;
min-height:600px;
width:100%;
padding:15px;
float:right;
background-color: #FAFAFA;
}
div.article-yet-faq {
min-height:initial;
}
div.article-yet-kontakti {
max-width:400px;
padding:0;
}
div.article-yet-server {
max-width:300px;
}
div.article-yet-server h3 {
margin-top:0;
}
div.article-yet-server-certificate p {
padding-left:30px;
}
div.article-yet-server-nastroyka h3 {
margin-top:0;
}
div.article-yet-priekt {
padding-top:0;
}
div.article-post-photo {
float:left;
margin-right:15px;
margin-top: 6px;
}
div.article-post {
clear: both;
float: left;
width: 100%;
margin-top:10px;
padding-top:12px;
max-width: 600px;
border-top: 1px solid silver;
}
div.article-post-inst {
margin-top:15px;
}
div.article-post-opros {
float:left;
margin-right: 120px;
}
div.article-post-opros-instruktion {
float:left;
margin-right: 65px;
}
div.article-post-opros-faq {
float:left;
margin-right: 133px;
}
div.article-post-opros-program {
float:left;
margin-right: 65px;
}
div.article-post-vk {
float: left;
margin-right: 10px;
margin-top: 7px;
}
div.article-post-categories {
font-size:14px;
margin-top: 65px;
}
div.article-post-categories a {
color: #0000EE;
margin-left: 1px;
}
div.article-post-categories span.cat-link {
color: #005dee;
margin-right: 5px;
}
div.twitter-but {
float: left;
margin-top: 10px;
}
div.article-text h1, div.article-text:not(.article-text-kontakti) h2:first-child, div.article-text h3:first-child  {
margin-top:0;
}
div.article-yet-head {
padding-bottom:5px;
font-size:1.125em;
}
div.terminus-ads {
height:90px;
clear: both;
margin: 50px;
margin-left:0;
overflow: hidden;
max-width: 728px;
padding-top: 50px;
}
div.adsense-faq {
clear:both;
padding-top:50px;
}
div.wrapper-404 {
padding:0 25px;
margin-top: 45px;
font-size: 200%
}
div.wrapper-404 ul {
line-height: 2em;
}
div.wrapper-404 a {
color:#317fe0;
}

span.kontakt-post-text {
color:gray;
font-size:13px;
}
span.price {
font-size: 1.3em;
font-weight: 500;
white-space: nowrap;
}

p.certificate-all-link {
margin-top: 20px;
text-align: right;
clear: both;
max-width: 540px;
}
p.descript_services {
margin-left : 10px;
margin-right : 5px;
margin-bottom : 5px;
}
p.space {
margin-left : 15px;
margin-top : 15px;
}
p.space2 {
margin : 15px 15px 15px 15px;
}
p.to_cross_out {
text-decoration : line-through;
color : Red;
}
p.polezno_mail {
margin-top : 60px;
}
a.menu-search-active {
background-color: #102a3b;
text-decoration:none;
padding:15px 17px !important;
}
a.menu-search-active img {
display:none;
}
a.menu-search-active span {
display:inline;
}
a.answer-yes-no {
padding: 4px 13px;
border: 1px solid #4CAE4C;
color: #fff;
background-color: #5CB85C;
font-size: 14px;
border-radius: 2px;
text-decoration: none;
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}
a.termin-list {
font-size: 19px;
margin-right: 8px;
white-space: nowrap;
text-align: justify;
line-height: 33px;
}
a.answer-yes-no:hover {
box-shadow: inset 0px 0px 35px rgba(0,0,0,0.3);
}
a.menu {
color : #fff;
}
a.descript_services:link {
border-bottom : 1px dashed Blue;
text-decoration : none;
}
a.descript_services:hover {
text-decoration : none;
border-bottom : none;
}
a.descript_services {
border-bottom : 1px dashed Purple;
text-decoration : none;
}
a.gen-descript_services {
margin-top: 10px;
padding: 8px 15px;
background-color: #5CB85C;
border: none;
border-bottom:none !important;
color: #fff;
line-height:20px;
border-radius: 2px;
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
display: inline-block;
}
a.gen-descript_services:hover {
box-shadow: inset 0px 0px 35px rgba(0,0,0,0.5);
}
a:hover {
text-decoration : none;
}
a.tegi:link, a.tegi:visited, a.tegi:active {
text-decoration : none;
color : #696969;
white-space: nowrap;
}
a.tegi:hover {
text-decoration : underline;
color : Red;
}
a.button-link {
padding: 10px 15px;
background-color: #317fe0;
text-decoration: none;
color: #fff;
}
a.button-link:hover, input.button-link:hover {
background-color:#1a70dc;
}
a.button-link img {
position: relative;
top: 6px;
}
a.self {
text-decoration:none;
border-bottom:1px dashed;
line-height: 1.9em;
}
a.self:hover {
border-bottom:none;
}
a.link-vk {
float: left;
width: 29px;
opacity:0.8;
color: #fff;
height: 29px;
font-size: 24px;
margin-right: 8px;
font-weight: 600;
line-height: 27px;
border-radius: 6px;
text-align: center;
background-color: #507299;
text-decoration: none;
}
a.link-vk:hover {
opacity:1;
}
a.link-twitter {
opacity:0.8;
}
a.link-twitter:hover {
opacity:1;
}
a.link-vk-text {
float:none;
font-size: 16px;
padding: 0 6px;
border-radius: 0;
display: inline-block;
width: auto;
height: 20px;
line-height: 16px;
opacity: 1;
font-weight: normal;
}

nav {
width: 100%;
padding:15px 0;
display: inline-table;
background-color: #2D4454;
}
nav.nav-fixed {
position: fixed;
max-width: 1440px;
z-index: 999;
padding: 5px 0;
top: -31px;
border-bottom: 1px solid #2d4454;
-webkit-transition: top ease-in 0.1s;
-moz-transition: top ease-in 0.1s;
transition: top ease-in 0.1s;
}
nav.nav-fixed-top {
top:0px;
}
nav.nav-fixed div.main-menu a, nav.nav-fixed div.main-menu span {
padding: 5px 15px;
}
nav.nav-fixed div.form-search {
top: 31px;
}
nav.nav-fixed div.menu-search-box a.menu-search {
padding: 5px 15px;
}
nav.nav-fixed a.menu-search-active {
padding: 5px 17px !important;
}
nav.nav-fixed div.menu-cecutient a.menu-cecutient {
padding: 5px 15px;
}

table.vtop tr {
vertical-align:top;
}
table.center-text td {
text-align:center;
}
table.table-price th {
background-color:#f0f0f0;
}
table.uslugi-full-table {
width:50%;
}
table.uslugi-full-table td {
padding:15px;
}
table.pad td, table.pad th {
padding:5px;
}
table.nospace {
border-spacing: 0;
}
table.space15 {
border-spacing: 15px;
}
table.nopad > tr > td {
padding:0;
}
table.nopad > tbody > tr > td {
padding:0;
}
table.pad15 > tr > td {
padding:15px;
}
table.pad15 > tbody > tr > td {
padding:15px;
}
table.pad5 > tr > td, table.pad5 > tr > th {
padding:5px;
}
table.pad5 > tbody > tr > td, table.pad5 > thead > tr > th {
padding:5px;
}
table.nobord {
border:none;
}
table.full {
width:100%;
}
table.backcolor td {
background-color:#f0f0f0;
}
table.backcolor th {
background-color:#d9d9d9;
}
table th {
font-weight:600;
}
table.warn td {
background-color:#F5F5F5;
padding:5px;
border: 1px solid Gray;
}
table.terminal {
width : 100%;
background-color : Black;
font-family : "Courier New", Courier, monospace;
color : White;
}
table.polezno td {
padding: 0 0 15px 13px;
}
table.polezno img {
border:0;
position: relative;
top: 3px;
}
table.console {
background-color: #3F3F3F;
color: #fff;
width:100%;
font-family:'Courier New';
}
table.console-powershell {
background-color:#012456;
}
table.editor {
background-color: #FAFAFA;
width:100%;
font-family:'Courier New';
border: 1px dotted;
}
table.editor p {
margin:1px 0;
}
table.pnopad p {
margin:0;
}
table.bordered {
border-collapse:collapse;
}
table.bordered td, table.bordered th {
border:1px solid gray;
}
table.bordered-light td, table.bordered-light th {
border:1px solid silver;
}
table.hovered tr:hover :not(th) {
background-color:#f0f0f0;
}
table.terminus-header-table {
width:100%;
max-width:700px;
}
table.terminus-header-table h1 {
margin-bottom:0;
}
table th {
text-align:left;
}
table.head-normal th {
font-weight:normal;
}

tr.onlinePs td {
border-top : 1px solid silver;
padding-top : 9px;
}

td.list-numbers {
font-size:13px;
color:gray;
}
td.terminus-text {
line-height:1.4em;
}
td.terminus-text li {
margin-bottom:2px;
}
td.terminus-text p:first-child {
margin-top:0;
}
td.terminus-head-box {
background-color:#E6E6E6;
}
td.terminus-head-box div.terminus-head {
white-space: nowrap;
}
td.certificate-coll-list {
width:350px;
border-left:1px solid #DFDFDF;
border-bottom:1px solid #DFDFDF;
}
td h1:first-child, td h2:first-child, td h3:first-child, td h4:first-child, td ul:first-child {
margin-top:0;
}
td.bg1 {
width:52%;
opacity:0.01;
vertical-align:top;
background-position: 45px 0;
background-repeat : no-repeat;
background-image : url(img/obo_mne1.jpg);
}
td.bg1-bottom {
background-position:bottom;
}
td.bg1 div {
position: relative;
top: 945px;
width: 550px;
left: 115px;
padding-top: 10px;
color: #696969;
}
td.bg1 div:first-child {
border-top: 1px solid silver;
}
td.bg-ff {
background-size:contain;
}
td.bg1-move {
-webkit-transition: opacity 0.25s ease-in 0.02s, background-position 0.35s ease-in 0.02s;
-moz-transition: 	opacity 0.25s ease-in 0.02s, background-position 0.35s ease-in 0.02s;
transition:			opacity 0.25s ease-in 0.02s, background-position 0.35s ease-in 0.02s;
background-position: 0 0;
opacity:1;
}
td.main-content {
width:48%;
vertical-align:top;
}
td.termin-cloud {
text-align:justify;
}
td.full {
width:100%;
}

.border {
border : 1px solid Green;
}
.border_gray {
border : 1px solid Gray;
}
.border_litegray {
border : 1px solid #D4D4D9;
}
td.border_l_b {
border-left : 1px dotted Silver;
border-bottom : 1px dotted Silver;
background-color : #FAFAFA;
}
td.border_l_b2 {
border-left : 1px dotted Gray;
border-bottom : 1px solid Silver;
}
td.border_l_b_r {
border-left : 1px solid Gray;
border-bottom : 1px solid Gray;
border-right : 1px solid Gray;
}
td.border_t_b_r {
border-top: 1px solid Gray;
border-bottom : 1px solid Gray;
border-right : 1px solid Gray;
}
td.border_b {
border-bottom : 1px solid Silver;
}
td.border_b_r {
border-bottom : 1px solid Gray;
border-right : 1px solid Gray;
}

.tolk {
border : 1px solid #F2F2FF;
background-color : #FEFEFA;
}

ul {
list-style-type: square; /* Квадратные маркеры */
}
ul.zakaz {
margin-right : 15px;
}

li.server-desc {
list-style-type: none;
padding-bottom: 14px;
}

.opacity td a img{ 
opacity: 0.6;
}
.opacity td a:hover img {
opacity: 1;
}
.opacity td a.opacity-yes img { 
opacity: 1;
}
.right {
float:right;
}
.vtop {
vertical-align:top;
}
input.form-el-classed {
width: 300px;
height: 24px;
font-size: 0.9em;
padding:1px 2px;
margin-bottom: 18px;
}
input.kontakti {
width : 402px;
height : 28px;
font-size : 16px;
padding:2px 4px;
color : #242424;
line-height : 22px;
border : 1px solid #D3D9DE;
border-radius:2px;
background-color : #fcfcfc;
box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
input.polezno {
width : 346px;
height : 26px;
font-size : 14px;
border : 1px solid #D3D9DE;
border-radius:2px;
padding:2px 4px;
color : #242424;
line-height : 20px;
box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
input.but_kontakti {
width : auto;
min-width:135px;
height: 34px;
margin-top: 0;
padding: 0px 15px;
border: none;
color: #fff;
border-radius: 2px;
background-color: #5CB85C;
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}
input.but_kontakti:hover {
box-shadow: inset 0px 0px 35px rgba(0,0,0,0.5);
}
input.but_polezno {
height: 34px;
margin-top: 0;
padding: 0px 15px;
background-color: #5CB85C;
border: none;
color: #fff;
border-radius: 2px;
box-shadow: inset 0px 0px 10px rgba(0,0,0,0.2);
}
input.but_polezno:hover {
box-shadow: inset 0px 0px 35px rgba(0,0,0,0.5);
}
input.terminus-but_polezno {
margin-top:10px;
}
input.search_poleznus {
width: 99%;
height: 30px;
border: 2px solid #FFDB4D;
border-radius: 3px;
padding-left: 4px;
font-size: 14px;
line-height: 22px;
color: #454545;
outline: none;
}
input.search_poleznus[type='search'] {
height: 36px;
}
input.search {
margin: 50px auto 0;
width: 80%;
display: block;
font-size: 22px;
padding: 5px 10px;
border: 2px solid #FFDB4D;
border-radius: 4px;
outline: none;
}
input.but_search_poleznus {
width : 70px;
height : 28px;
padding:0;
border: 1px solid #DFDFDF;
border-top : none;
cursor: pointer;
background-color:#fff;
}
input[type='submit'] {
cursor:pointer;
}
input.calc-servers {
height:24px;
width:80px;
font-size:1.5em;
padding-left:2px;
}
input.button-link {
padding: 10px 50px;
background-color: #317fe0;
text-decoration: none;
color: #fff;
border:none;
}

textarea.kontakti {
width : 400px;
color : #242424;
font-size : 16px;
border : 1px solid #D3D9DE;
padding:2px 4px;
border-radius:2px;
background-color : #fcfcfc;
overflow : hidden;
box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
textarea.polezno {
width : 344px;
height: 100px;
color : #242424;
font-size : 14px;
border : 1px solid #D3D9DE;
padding:2px 4px;
border-radius:2px;
overflow : hidden;
box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}

label, label * {
cursor:pointer;
}
label.checkbox-switch {
float:left;
}
label.checkbox-switch input[type='checkbox'] {
display:none;
}
label.checkbox-switch-switched div.switch-box {
background-color: #D9534F;
border: 1px solid #D43F3A;
}
label.checkbox-switch-switched div.switch-tumb {
border-left: 1px solid #D43F3A;
border-right:none;
left: 114px;
}
label.checkbox-switch-switched div.switch-text {
left: -24px;
}

img.img-in-h2 {
margin-right: 10px;
position: relative;
top: 7px;
}
img.img-in-p {
max-width: 18px;
max-height: 18px;
margin-right: 5px;
position: relative;
top: 2px;
}
img.server-start {
border: none;
height: 50px;
margin-top: 10px;
}

.okno {
position: absolute;
min-width:300px;
background-color:#fff;
margin:0 auto;
z-index:1000;
height:1px;
overflow:hidden;
padding:15px;
}
.okno h3:first-child {
margin-top:0;
}
.okno-float-top {
-webkit-transition: top ease-in 0.2s;
-moz-transition: top ease-in 0.2s;
transition: top ease-in 0.2s;
}
.overhead {
height: 100%;
width: 100%;
position: fixed;
top: 0;
left: 0;
z-index:100;
}
.overhead-shadow {
background-color: rgba(0,0,0,.5);
}
.overhead-closed {
cursor:pointer;
}
.popup-close-button {
position: absolute;
top: 0;
right: 10px;
font-size: 1.5em;
cursor:pointer;
}
.popup-close-button:hover {
color:red;
}

.red { color:red; }
.b600 { font-weight:600; }
.w-21 { width:21px; }
.w-24 { width:24px; }
.w-25 { width:25px; }
.w-27 { width:27px; }
.w-29 { width:29px; }
.w-36 { width:36px; }
.w-37 { width:37px; }
.w-41 { width:41px; }
.w-55 { width:55px; }
.w-95 { width:95px; }
.green { color:green; }
.gray { color:gray; }
.s-1 { font-size: x-small; }
.nobr { white-space:nowrap; }
.left { float:left; }
.clear { clear:both; }
.text-center { text-align:center; }
.text-right { text-align:right; }
.hidden { display:none; }
.noborder { border:0; }
.m-t-0 { margin-top:0; }
.h1 { height:1px; }

body.text-cecutient a:hover { color:#990000; }
body.text-cecutient a.menu:hover { color:#fff; }
body.text-cecutient a.menu span { color:#fff; }
body.text-cecutient div.poleznus-bottom-twitter { margin-top: 0px; }
body.text-cecutient div.poleznus-bottom-facebook { position: relative; top: -5px; }
body.text-cecutient td.bg1-gen { background-size: cover; }
body.text-cecutient div.fieldset-date > div { width: 95px; }
body.text-cecutient div.fieldset-date { top: -15px; }


@media screen and (max-width: 1375px) {

td.bg1-gen { background-size: cover; }

}

/* 1440 - 1599 */
@media screen and (max-width: 1599px) {



}

/* 1366 - 1439 */
@media screen and (max-width: 1439px) {

body.text-cecutient div.menu-contact { font-size: 90%; margin-top: 2px; }
div.terminus-yet { padding-left:10px; }

}

/* 1280 - 1365 */
@media screen and (max-width: 1365px) {

div.qr-kontakti { margin-left: 0; }
div.qr-kontakti img { width: 150px; height:auto; }
body.text-cecutient div.menu-contact span.menu-contact-city { display:none;  }
body.text-cecutient div.menu-contact { font-size: 100%; margin-top: initial; }
div.polezno-category { max-width: 480px; }
div.wrapper-404 { font-size: 190%; }
div.server-konsul input.kontakti { width:390px; }

}

/* 1024 - 1279 */
@media screen and (max-width: 1279px) {

div.news div.fieldset { width: 100%; }
div.fieldset:first-child { float: initial; margin-bottom: 20px; }
div.fieldset:last-child { float: initial; }
div.terminus-table { margin-right:45px; }
div.terminus-cloud { width:260px; }
div.certificate-img img { margin-bottom:15px; }
td.certificate-coll-img img { max-width:680px; }
td.certificate-coll-list { max-width:280px; }
table.uslugi-full-table { width:70%; }
div.article-yet-server { max-width: 100%; float: initial; clear: both; margin: 10px 15px; width: initial; border: 1px dotted Silver; text-align: center; }
div.article-yet-server ul { list-style-type:none; padding-left:0; }
td.bg1 div { width: 417px; border-top-color:#131313; top: 944px; }
div.polezno-category { width:415px; }
span.menu-contact-city { display:none; }
div.menu-contact { width: 280px; text-align: center; margin-right: 10px; }
div.poleznus-list { width: 48%; }
div.poleznus-list-box { clear: initial; padding-top: initial; }
div.poleznus-list:last-child { margin-right: 2%; }
div.main-menu a, div.main-menu span { padding:15px 12px; }
body.text-cecutient div.menu-contact { width: 100%; margin-top: 15px; }
div.polezno-form { max-width: 550px; }
div.polezno-category { margin-top: 10px; }
nav.nav-fixed div.main-menu a, nav.nav-fixed div.main-menu span { padding: 5px 12px; }
div.server-konsul input.kontakti { width:270px; }

}

/* 980 - 1023 */
@media screen and (max-width: 1023px) {

div.article-yet { max-width: 315px; }
div.terminus-table { max-width: 550px; margin-right:100px; }
div.article-yet-server { max-width: 100%; }
div.polezno-category { width:385px; }
td.bg1 div { max-width: 394px; }
div.poleznus-all-btn a:last-child { margin-top: 25px; width: 70px; }
div.menu-contact a { margin:0; }
div.menu-contact { width: 245px; font-size: 14px; margin-top: 2px; margin-right:0; }
td.main-content { width: 55%; }

}

/* 768 - 979 */
@media screen and (max-width: 979px) {

div.menu-contact { float:initial; margin: 12px auto 0; clear: both; padding-top: 10px; }
div.article-yet { max-width: 100%; clear: both; margin: 0 15px; border: 1px dotted Silver; text-align: center; float:none; width:initial; min-height:initial; }
div.article-post { margin: 65px 0 25px; }
div.article-post-opros { margin-right: 145px; }
div.article-text { max-width:100%; }
td.bg1 { width: 45%; }
td.bg1 div { max-width: 230px; }
td.bg1-gen { background-size: cover; }
td.main-content { width: 70%; }
div.terminus-table { max-width: 480px; margin-right: 30px; }
div.terminus-cloud { width: 250px; }
div.terminus-ads { margin:40px; }
div.polezno-form { float:initial; }
input.but_search_poleznus { width:50px; }
td.certificate-coll-list { display:none; }
td.certificate-coll-img img { max-width:100%; }
table.uslugi-full-table { width:80%; }
div.article-yet-server { max-width: 100%; }
div.poleznus-list { margin-right: 1%; width: 49%; }
div.poleznus-all-btn a { padding: 5px 6px; }
div.polezno-category { width: 98%; max-width: 100%; float: initial; margin-left: 15px; }
div.main-menu { float:left; text-align:center; }
nav { padding: 7px 0; }
div.main-menu a, div.main-menu span { padding: 7px 15px; }
div.qr-kontakti { margin-left: 31px; }
div.qr-kontakti img { width:initial; }
div.menu-search-box a.menu-search { padding: 7px 15px; }
a.menu-search-active { padding: 7px 17px !important; }
div.form-search { top: 35px; }
div.search-result-block { width: 100%; text-align: center; margin-right: 0; }
div.search-result-block-filtered { margin-left:0; }
body.text-cecutient div.main-menu a, div.main-menu span { padding: 7px; font-size: 92%; }
body.text-cecutient td.bg1 { width: 0; display: none; }
body.text-cecutient div.news { box-sizing: border-box; }
body.text-cecutient nav.nav-fixed div.main-menu a, nav.nav-fixed div.main-menu span { padding: 5px 7px; }
nav.nav-fixed div.main-menu a, nav.nav-fixed div.main-menu span { padding: 5px 15px; }
div.wrapper-404 { font-size: 170%; }

}

/* 640 - 767 */
@media screen and (max-width: 767px) {

div.article-text img { max-width:95%; height:auto !important; }
div.article-server img { max-width:initial; width:150px; }
div.article-text { word-break: break-word; }
iframe { max-width:100%; }
div.article-post-opros-instruktion { margin-right: 72px; }
td.bg1 { width: 0; display:none; }
td.main-content { width: 100%; }
div.terminus-table { max-width: 100%; margin-right: 0; margin-bottom:20px; }
div.terminus-table h4 { padding-top:20px; }
div.terminus-cloud { width: 90%; margin: 0 auto; float: initial; clear: both; }
div.polezno-form { max-width: 100%; padding-right: 15px; }
div.uslugi-table-cell { display: block; width: 100%; padding: 13px; box-sizing: border-box; }
table.uslugi-full-table { width:100%; }
div.poleznus-all-btn a:last-child { margin-top: initial; display: initial; width: initial; }
div.polezno-category { max-width: 95%; }
div.server-service { width: 400px; margin: 0 auto; }
div.server-service > div { padding-right: 0; float: left; text-align: center; width: 200px; margin-bottom: 10px; }
div.server-service img { width: 95px; }
a.menu, div.main-menu span { line-height: 2em; }
div.menu-mini { display:block; }
div.main-menu { display:none; margin-bottom:15px; width:100%; }
div.menu-contact { float: right; width:initial; margin:0; text-align:right; margin-right:15px; padding: 5px 0; clear:none; }
div.menu-contact a { display:block; }
nav { background-color: black; border-color:black; padding: 0; }
nav, nav * { color: #fff !important; }
nav.nav-fixed { position:initial; }
nav.nav-fixed div.menu-up { display:block; }
body.nav-fixed-body { margin-top:0; }
div.menu-up-back { display:block; }
div.main-menu a, div.main-menu span { font-size:0.9em; }
div.news { box-sizing:border-box; }
div.news div.fieldset { width: 44%; }
div.fieldset:first-child { float: left; margin-bottom: 0; }
div.fieldset:last-child { float: right; }
div.qr-kontakti img { width:150px; }
div.menu-search-box a.menu-search { padding: 5px 15px 22px; }
div.menu-search-box a.menu-search:hover { background-color:transparent; }
div.menu-search-box a.menu-search-active { background-color:#344e61; }
div.menu-search-box a.menu-search-active:hover { background-color:#344e61; }
div.menu-search-box a.menu-search img { top:11px; }
div.menu-cecutient a.menu-cecutient img { top:11px; }
div.menu-cecutient a.menu-cecutient:hover { background-color: transparent; }
div.form-search { top: 47px; }
a.menu-search-active { padding: 14px 18px !important; }
a.menu-search-active span { line-height: 3em; }
nav.search-active div.main-menu { display:none !important; }
body.text-cecutient div.menu-contact { width: initial; margin-top: initial; font-size: 71%; }
body.text-cecutient div.menu-search-box a.menu-search img { top: 5px; }
body.text-cecutient div.menu-cecutient a.menu-cecutient img { top: 5px; }
body.text-cecutient a.menu-search-active span { line-height: 2.4em; }
body.text-cecutient div.menu-up a { line-height: 40px; }
body.text-cecutient div.menu-cecutient a.menu-cecutient { padding: 6px 15px 15px; }
body.text-cecutient a.menu-search-active { padding: 10px 17px !important; }
body.text-cecutient div.news div.fieldset { width: 94%; float: initial; }
body.text-cecutient div.fieldset:first-child { margin-bottom: 20px; }

}

/* 480 - 639 */
@media screen and (max-width: 639px) { 

ul, ol { padding-left:30px; }
div.article-post { width: 95%; }
div.article-post-opros { margin-right:20px; float:initial; }
div.article-post-vk { margin-right:0; float:initial; }
p.space2 { line-height: 1.5em; }
table.terminus-header-table h3 { margin-bottom:0; }
div.terminus-cloud { line-height:2em; }
div.terminus-table li a { line-height:1.7em; }
div.poleznus-list { float: initial; width: initial; margin-right: initial; }
div.certificate-img img { float:initial; }
div.certificate-row { text-align:center; }
p.certificate-all-link { text-align:center; }
div.uslugi-table-cell a { line-height:24px; }
div.poleznus-all-btn a { font-size:initial; padding: 5px 20px; }
div.poleznus-all-btn a:last-child { margin-top: 25px; width: 70px; }
div.poleznus-all-btn { margin: 10px 15px 40px; }
div.poleznus-list-box { padding-top:0; }
div.poleznus-list-box-bottom div.poleznus-list { padding-bottom: 0; }
div.main-menu a, div.main-menu span { padding:5px 15px; display:block; }
div.news div.fieldset { width: 94%; }
div.fieldset:first-child { float: initial; margin-bottom: 20px; }
div.fieldset:last-child { float: initial; }
div.poleznus-all-btn-servers { width: 100%; text-align: center; margin: 10px 0 40px; }
div.poleznus-all-btn-servers a { margin: 0 auto; display: block; width:150px; }
div.poleznus-all-btn-servers a:last-child { margin-top: 0; display: block; width: 150px; }
div.qr-kontakti { display:none; }
div.article-server table td:first-child { width:initial; padding-right: 0; }
div.article-server table td { display:block; width:initial; }
div.article-server h2 { text-align:center; }
div.article-yet-server-certificate p { padding-left: 0; }
div.server-konsul input.kontakti { width:260px; }
div.console, div.console-like, div.editor { box-sizing:border-box; }

}

/* 320 - 479 */
@media screen and (max-width: 479px) {

textarea.polezno, input.polezno { width: 260px; }
ul, ol { padding-left:20px; }
p.space2 { line-height: 2em; }
div.poleznus-list { padding-right:10px; }
textarea.kontakti { width: 284px; }
input.kontakti { width: 284px; }
div.certificate-img img { margin-right:0; }
div.service-cost { font-size:20px; }
div.article-server img { width:85px; }
.okno { padding: 5px; }
.no-left-320 { float:initial; }
div.right-calc { margin-left:initial; }
input.form-el-classed { width: 250px; margin-top: 2px; }
input.calc-servers { margin-top: 5px; }
#answer { margin-bottom: 15px; }
div.server-service { width: 200px; }
div.poleznus-all-btn { width: 100%; text-align: center; margin: 10px 0 40px; }
div.poleznus-all-btn a { margin: 0 auto; display: block; width:150px; }
div.poleznus-all-btn a:last-child { margin-top: 0; display: block; width: 150px; }
div.poleznus-bottom { float:initial; margin-bottom: 10px; }
div.poleznus-list-bottom-box { max-width: 104px; }
div.news div.fieldset { width: 90%; }
div.wrapper-404 { font-size: 115%; margin-top: 25px; }
table#converter tr, table#converter td { display:block; width:285px; }
div.article-post-photo { display:none; }
div.server-konsul { text-align:center; }
div.server-konsul input.but_kontakti { margin-top:3px; }
div.obo-mne { text-align:center; }
div.server-konsul { height: 70px; }
div.article-text { padding: 10px; }
#vk_community_messages { height: 60px !important; right: 10px !important; }
div.article-yet { margin: 0 10px; }
td.terminus-text { width:150px; }
/*div.article-text-kontakti p.space { margin-left: 0; margin-top: 0; }*/

}