/* logo */

.logo a, .logo a:hover, .logo a:focus {
	background: none;
}
.logo-img {
	padding-top: 2px;
	animation-duration: 0s;
    animation-delay: 0s;
    visibility: visible !important;
    animation-name: none;
}

/* row feature for Home page */

.row-feature {
	font-size: 15px;
}
.row-feature h1 {
	font-size: 30px;
	margin: 100px 0 10px 0;
}
.row-feature h2 {
	font-size: 25px;
	padding: 50px 0 10px 0;
}
.row-feature-primary a {
	color: #d35500;
}
.row-feature-primary img {
	margin-bottom: 20px;
}
.row-feature.row-feature-alt, .row-feature:nth-child(even) {
    background: #fff;
}

/* Category Blog */

.items-leading h2 {
	padding: 0;
}

/* search form */

#searchForm .form-limit .counter {
	color: inherit;
}

/* search results */

.search-results .result-title {
	font-size: 30px;
    font-weight: normal;
    margin-top: 100px;	
}

/* breadcrumbs */

ol.breadcrumb {
	margin: 0 auto !important;
	display: table;
}

/* additional menu at the bottom */

.nav-stacked {
	margin: 0 auto;
	display: table;
}
.nav-stacked li {
	float: left;
}
.nav-stacked > li + li {
	margin-top: 0;
}

/* main menu MEGAMENU */

.t3-megamenu {
	font-family: Scada;
}
.t3-megamenu .level1 {
	font-family: Open Sans Condensed;
}
.dropdown-menu {
	font-size: 17px;
}
.t3-megamenu .mega-nav > li a, .t3-megamenu .dropdown-menu .mega-nav > li a {
    padding: 2px;
}
.t3-megamenu .mega-inner {
    padding: 4px 0;
}

/* footer */

.t3-copyright {
	font-size: 12px;
	text-align: center;
	padding: 30px 0 0 0;
}

/* off-canvas sidebar */

.t3-off-canvas-header-title {
	padding: 0;
}

/* animate.css */

.animated {
	visibility: visible;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	animation-delay: .1s;
}

/* more adopted styles */

.unresponsive {
	width: initial !important;
	height: initial !important;
/*	float: initial !important;*/
	display: initial !important;
}

.thumbnail {
    text-align: center;
}

/* embed responsivly */

.embed-container {
	position: relative; 
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%;
} 
.embed-container iframe, .embed-container object, .embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* some button */

.courses-btn-wrap {
	position: relative;
	z-index: 999;
}

/* for the NEW and something like that */

.red-box {
	color: white;
    font-weight: bold;
    background-color: red;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

/* common styles */

h1, .h1 {
	font-size: 40px;
	padding-bottom: 30px;
}
h2, .h2 {
	font-size: 35px;
	padding: 100px 0 30px 0;
}
h3, .h3 {
	font-size: 28px;
	padding: 20px 0 20px 0;
}
ul {
	list-style-image: url('/images/list_dash.png');
}
p {
	line-height: 1.6;
}
article img, .article-intro img {
	display: inline;
}

blockquote {
	border-left: 5px solid #bbb;
}
@media (max-width: 990px) {
	blockquote p {
		font-size: 13px;
		line-height: 1.2;
	}
}

/**********************/
/* from cleverics.css */

.special-offer {
    font-size: 28px;
    color: #f00;
    padding: 15px;
    border: 1px #f00 dashed;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 20px;
    margin-bottom: 15px;
    font-weight: normal;
}
.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.align-right {
    text-align: right;
}

/* show_webinars plugin */

.js-webinar-wrapper {
    padding-bottom: 70px;
}

/* show_courses_timetable plugin */

.sctt-row {
	background: #eee;
    padding: 50px;
	border: 1px solid #bbb;
}

/* chronoforms styles */

.ccms_form_element label {
    font-weight: normal !important;
	margin: 10px 0 0 0;
}
.ccms_form_element input, textarea, select, input[type="file"] {
    border-color: #ff7a00 !important;
/*    width: auto;*/
}
.ccms_form_element input[type="submit"] {
    padding: 10px 20px 10px 20px !important;
	margin: 20px 0;
}

/* nearest events */

.events {
    padding: 10px 0 70px 0;
	font-family: Scada;
}
.events p {
    padding-top: 20px;
    padding-bottom: 20px;
}
.events a {
  color: #ff7a20;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.events a:hover, .events a:focus {
  color: #d35500;
  text-decoration: underline;
}
.events-header {
	font-family: Ubuntu;
	font-size: 30px;
	text-align: center;
	font-weight: normal;
}
.button-wrapper {
    margin: 10px;
}
.event-wrapper {
    width: 100%;
    float: left;
    padding-bottom: 10px;
}
.event-date {
    border: 2px solid #ff7a00;
    border-top: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    font-weight: bold !important;
    background-color: #fff;
    line-height: 1.2em;
    overflow: hidden;
    text-align: center;
/*    text-shadow: 0 1px 0 #fff;*/
    width: 4em;
    margin: 0 10px 10px 0;
}
.event-month {
    background: #ff7a00;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    color: #fff;
    font-size: 0.8em;
    letter-spacing: 0.2em;
    padding: 0 0.2em;
    text-transform: uppercase;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.event-day {
    font-size: 1.5em;
    padding: 0.35em 0 0.22em;
    position: relative;
    color: #454545;
}
.event-title {
    border: 1px solid #ff7a00;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
/*    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.08);*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    line-height: 1.3em;
    overflow: hidden;
    text-align: left;
    padding: 5px;
}
.event-category {
    font-size: 85%;
}

/* floating boxes */

body .inset-left {
    margin: 0 30px 30px 0 !important;
    float: left;
}
body .inset-right {
    margin: 0 0 30px 30px !important;
    float: right;
}

/* width */

.width15 { width: 14.999%; }
.width18 { width: 18.333%; }
.width20 { width: 19.999%; }
.width23 { width: 22.999%; }
.width25 { width: 24.999%; }
.width33 { width: 33.333%; }
.width35 { width: 34.999%; }
.width40 { width: 39.999%; }
.width45 { width: 44.999%; }
.width50 { width: 49.999%; }
.width54 { width: 53.999%; }
.width65 { width: 64.999%; }
.width75 { width: 74.999%; }
.width100 { width: 100%; }

/* padding */

.pad20 {	padding: 20px; }
.pad50 {	padding: 50px; }
.pad100 { padding: 100px; }

/* highlighted div and span tags */

span.note,
span.note-orange,
span.info,
span.alert,
span.download,
span.tip,
span.smile,
span.request,
span.insert {
	display: block;
}

div.info, span.info,
div.alert, span.alert,
div.download, span.download,
div.smile, span.smile,
div.tip, span.tip {
	border-top: 1px dotted #ffc864;
	border-bottom: 1px dotted #ffc864;
	margin: 30px 0px 30px 0px;
	padding: 10px 20px 10px 50px;
}
div.info, span.info {
	background: #fffdeb url(../images/box_info.png) 3px 5px no-repeat;
}
div.alert, span.alert {
	background: #fff5eb url(../images/box_alert.png) 3px 5px no-repeat;
}
div.download, span.download {
	background: #fffdeb url(../images/box_download.png) 3px 5px no-repeat;
}
div.smile, span.smile {
	background: #fffdeb url(../images/box_smile.png) 3px 5px no-repeat;
}
div.tip, span.tip {
	background: #fffdeb url(../images/box_tip.png) 3px 5px no-repeat;
}
div.note, span.note {
	margin: 10px 0px 10px 0px;
	padding: 40px;
	background: #ebebeb;
	border: 1px dotted #676366;
	text-align:left;
}
div.note-orange, span.note-orange {
	background: #ff7a20;
    color: #ffffff;
	padding: 0 50px 50px 50px;
	margin-left: -15px;
    margin-right: -15px;
}
div.request, span.request {
	margin: 10px 0px 10px 0px;
	padding: 5px 10px 5px 10px;
	background: #fff5eb;
	border: 1px dotted #ffb4a0;
	text-align: center;
}
div.insert, span.insert {
	border-top: 3px solid #ff7a00;
	border-bottom: 3px solid #ff7a00;
	margin: 5px 0px 5px 5px;
	padding: 10px 0px 10px 0px;
	float: right;
	width: 49.999%;
	color: #ff7a00;
	font-size: 150%;
  letter-spacing: 1px;
}

/* MailChimp Form Embed Code - Classic - 08/17/2011 */

#mc_embed_signup form {display:block; position:relative; text-align:left; padding:10px 0 10px 3%}
#mc_embed_signup h2 {font-weight:bold; padding:0; margin:15px 0; font-size:1.4em;}
#mc_embed_signup input {border:1px solid #999; -webkit-appearance:none;}
#mc_embed_signup input[type=checkbox]{-webkit-appearance:checkbox;}
#mc_embed_signup input[type=radio]{-webkit-appearance:radio;}
#mc_embed_signup input:focus {border-color:#333;}
#mc_embed_signup .button {clear:both; background-color: #aaa; border: 0 none; border-radius:4px; color: #FFFFFF; cursor: pointer; display: inline-block; font-size:15px; font-weight: bold; height: 32px; line-height: 32px; margin: 0 5px 10px 0; padding: 0 22px; text-align: center; text-decoration: none; vertical-align: top; white-space: nowrap; width: auto;}
#mc_embed_signup .button:hover {background-color:#777;}
#mc_embed_signup .small-meta {font-size: 11px;}
#mc_embed_signup .nowrap {white-space:nowrap;}

#mc_embed_signup .mc-field-group {clear:left; position:relative; width:96%; padding-bottom:3%; min-height:50px;}
#mc_embed_signup .size1of2 {clear:none; float:left; display:inline-block; width:46%; margin-right:4%;}
* html #mc_embed_signup .size1of2 {margin-right:2%; /* Fix for IE6 double margins. */}
#mc_embed_signup .mc-field-group label {display:block; margin-bottom:3px;}
#mc_embed_signup .mc-field-group input {display:block; width:100%; padding:8px 0; text-indent:2%;}
#mc_embed_signup .mc-field-group select {display:inline-block; width:99%; padding:5px 0; margin-bottom:2px;}

#mc_embed_signup .datefield, #mc_embed_signup .phonefield-us{padding:5px 0;}
#mc_embed_signup .datefield input, #mc_embed_signup .phonefield-us input{display:inline; width:60px; margin:0 2px; letter-spacing:1px; text-align:center; padding:5px 0 2px 0;}
#mc_embed_signup .phonefield-us .phonearea input, #mc_embed_signup .phonefield-us .phonedetail1 input{width:40px;}
#mc_embed_signup .datefield .monthfield input, #mc_embed_signup .datefield .dayfield input{width:30px;}
#mc_embed_signup .datefield label, #mc_embed_signup .phonefield-us label{display:none;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px; margin-right:4%;}
#mc_embed_signup .asterisk {color:#c60; font-size:200%;}
#mc_embed_signup .mc-field-group .asterisk {position:absolute; top:25px; right:10px;}        
#mc_embed_signup .clear {clear:both;}

#mc_embed_signup .mc-field-group.input-group ul {margin:0; padding:5px 0; list-style:none;}
#mc_embed_signup .mc-field-group.input-group ul li {display:block; padding:3px 0; margin:0;}
#mc_embed_signup .mc-field-group.input-group label {display:inline;}
#mc_embed_signup .mc-field-group.input-group input {display:inline; width:auto; border:none;}

#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0em .5em 0em .5em; overflow:hidden; width:90%;margin: 0 5%; clear: both;}
#mc_embed_signup div.response {margin:1em 0; padding:1em .5em .5em 0; font-weight:bold; float:left; top:-1.5em; z-index:1; width:80%;}
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}

#mc-embedded-subscribe {clear:both; width:auto; display:block; margin:1em 0 1em 5%;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

