
#playitcontainer{width:100%;background-color:#e0ffe0;border:1px solid #d4d4d4;margin:auto;}
#enlargecssprop{font-weight:bold;color:#000;}
#demoDIV{margin-left:10px;margin-top:3px;background-color:#fff;border:1px solid #d4d4d4;height:280px;width:430px;}
#styleDIV{margin-left:10px;background-color:#fff;border:1px solid #d4d4d4;width:424px;padding:3px;color:#222;}
div.demoHeader{margin-top:5px;margin-left:5px;margin-bottom:2px;color:#666;}
div.playitFooter{color:#666;padding:10px;}
#footer{margin:15px;}
body{margin:0px;min-height:100%;position:relative;float:left;min-width:100%;}
*{font-size:13px;font-family:verdana, helvetica, arial, sans-serif;}
code{font-family:"Courier New", Courier, monospace;font-size:16px;color:#666;}
#logo{margin:0px;background:url(../images/puzzleweb/header.png) no-repeat;height:145px;width:960px;position:relative;}
#logo1{margin-bottom:20px;background:url(images/puzzleweb/header.png) no-repeat top left;height:146px;width:960px;position:relative;}
h1{font-size:23px;color:#00b800;margin:0px;display:inline-block;border-bottom:1px solid #00b800;padding:0 20px 10px 20px;}
h2{font-size:18px;color:#507550;}
h3{font-size:16px;color:#507550;}
h4{font-size:14px;color:#739173;}
a{color:#33801a;}
a:hover{color:#ff1919;}
#pages{text-align:center;}
p{padding-left:15px;padding-right:10px;}
span.prim{color:#507550;font-size:16px;margin-left:-15px;margin-bottom:-10px;display:block;}
#wrapper{margin-left:auto;margin-right:auto;width:960px;}
#menunav{width:928px;border:1px solid #b2b2b2;height:30px;background-color:#d8d8d8;padding:0 0 0 30px;border-radius:5px;margin-bottom:20px;}
#menunav a{display:block;float:left;width:115px;text-align:center;text-decoration:none;font-weight:bolder;padding:7px 10px 7px 10px;color:#ffffff;border-right:1px solid #fff;text-shadow:1px 1px #737373;}
#menunav a:hover{color:#fff;background-color:#66a923;text-decoration:underline;}
#content{border:1px solid #f0f0f0;background-color:#fafdfb;width:718px;border-radius:10px;margin-left:210px;padding:10px 15px 15px 15px;min-height:715px;}
#down{border-top:1px solid #000;box-shadow:0 9px 15px -7px #000 inset;background-color:#999999;margin-top:20px;clear:both;color:#e8e8e8;}
#down_in{width:960px;margin-right:auto;margin-left:auto;background:url(../images/puzzleweb/logo_grayscale.png) no-repeat right;text-align:center;font-size:11px;padding:12px 0px;text-shadow:1px 1px #595959;}
#down_in a{color:#fff;text-decoration:none;}
#down_in a:hover{text-decoration:underline;}
table, td, th{border:1px solid #b2b2b2;border-collapse:collapse;background-color:#ffffff;padding:4px;}
table{width:100%;}
th{background-color:#006B00;color:#fff;text-align:left;}
#brouse_sup{text-align:center;}
#ie{background:url(../images/compatible/ie.gif) no-repeat center;width:100px;height:50px;}
#ie_s,#ff_s,#gh_s,#op_s,#sf_s,#ed_s{background:url(../images/compatible/yes.jpg) no-repeat center;width:100px;height:25px;}
#ie_n,#ff_n,#gh_n,#op_n,#sf_n,#ed_n{background:url(../images/compatible/no.jpg) no-repeat center;width:100px;height:25px;}
#ff{background:url(../images/compatible/firefox.gif) no-repeat center;width:100px;height:50px;}
#gh{background:url(../images/compatible/chrome.gif) no-repeat center;width:100px;height:50px;}
#op{background:url(../images/compatible/opera.gif) no-repeat center;width:100px;height:50px;}
#sf{background:url(../images/compatible/safari.gif) no-repeat center;width:100px;height:50px;}
#ed{background:url(../images/compatible/edge.gif) no-repeat center;width:100px;height:50px;}
div.example{background-color:#e0ffe0;border:1px solid #d4d4d4;padding:10px 8px 8px 8px;margin-bottom:15px;}
.example2{width:700px;background-color:#e0ffe0;border:1px solid #d4d4d4;padding:10px 8px 8px 8px;margin-bottom:15px;}
div.example_in{background-color:#ffffff;border:1px solid #d4d4d4;padding:6px;}
span.expl{padding-bottom:10px;color:#666666;display:block;}
#list{background-color:#89c150;width:180px;text-align:center;float:left;clear:left;border-radius:7px;margin:20px 0px;padding:2px 5px 10px 5px;}
#list_text{color:#ffffff;font-size:18px;font-weight:normal;}
#list_in{overflow:auto;width:166px;height:450px;background-color:#ffffff;text-align:left;padding:7px;}
#list_in a{text-decoration:none;display:block;color:#000000;}
#list_in a:hover{text-decoration:underline;}
a.sel{background:url(../images/2.jpg) no-repeat left;padding-left:18px;}
a.sel_sel{background:url(../images/2-1.jpg) no-repeat left;padding-left:11px;font-size:11.5px;}
#podmenu{float:left;}
#podmenu a{width:160px;height:18px;color:#004C00;background:url(../images/18_2.png) no-repeat 3px;text-decoration:none;border-bottom:1px solid #e6e6e6;display:block;padding:7px 5px 6px 27px;}
#podmenu a:hover{color:#000;background:#f0fff0 url(../images/18_2.png) no-repeat 3px;}
#main_menu{width:188px;border-left:2px solid #568e1d;float:left;margin:0 20px 0 0;padding-left:0;list-style-type:none;}
#main_menu li{padding:2px;border-bottom:2px solid #568e1d;}
#main_menu a{display:block;text-decoration:none;color:#000;padding:3px 3px 3px 19px;background:url(/images/12_5.png) no-repeat 3px;}
#main_menu a:hover{background:#909090 url(/images/12_6.png) no-repeat 3px;color:white;}
#main_menu .gl{background:#568e1d;color:#fff;font-weight:bolder;margin:0;padding:3px 0;text-align:center;}
#main_menu1{width:188px;border:1px solid #568e1d;background:#eef4e8;float:left;border-radius:7px;margin-right:20px;clear:left;margin:20px 0px;}
#main_menu1 a{display:block;text-decoration:none;color:#000;padding:3px 5px;}
#main_menu1 a:hover{text-decoration:underline;}
#main_menu1 p.gl{background:#568e1d url(/images/j3.png) no-repeat 3px;color:#fff;font-weight:bolder;margin:5px 0px;padding:3px 5px 3px 28px;}
a.tryit{display:block;color:#FFFFFF;background-color:#339933;font-weight:bold;width:120px;padding:3px;border:1px solid #ffffff;outline:1px solid #98bf21;text-decoration:none;margin-left:1px;}
a.tryit:hover{background-color:#246B24;}
a.tryit1{display:block;color:#FFFFFF;background-color:#339933;font-weight:bold;width:90px;padding:3px;border:1px solid #ffffff;outline:1px solid #98bf21;text-decoration:none;margin:10px 0 10px 1px;text-align:center;}
a.tryit1:hover{background-color:#246B24;}
#datatypes{padding-left:20px;margin:0;}
#datatypes a{border-bottom:0;}
#border{border-top:1px solid #e6e6e6;}
dt{font-size:14px;margin:10px 10px 10px 15px;font-weight:bold;color:#E60000;}
caption{font-weight:bold;color:#757575;margin:5px 0;}
.dom{font-weight:bold;color:#00b800;}
.reftag{font-weight:bold;color:#FF7700;}
.listtag a:hover{border-radius:3px;background-color:#FFFFCC;}
.prim{margin:15px 25px;padding:5px 25px;border-top:3px solid #00b800;border-bottom:3px solid #00b800;background-color:#fff;}
.php{font-size:13px;font-family:verdana, helvetica, arial, sans-serif;color:#000;font-weight:normal;}
#left-menu{width:190px;list-style-type:none;padding:0;margin:0;text-align:left;}
#left-menu li{padding:2px 0 2px 2px;border-bottom:1px solid #d9d9d9;font-size:12px;}
#left-menu a{color:black;text-decoration:none;display:inline-block;padding:1px 21px 2px 5px;width:160px;}
#left-menu a.target_item{background:#568e1d;color:#fff;}
#left-menu a.target_item:hover{background:#568e1d;color:#fff;}
#left-menu a:hover{color:#000;text-decoration:underline;}
#left-menu li li{list-style-type:none;margin-left:0px;border-bottom:none;border-top:1px solid #d9d9d9;}
#left-menu li ul{padding-left:15px;margin-top:2px;}
#left-menu li li a{width:159px;padding:1px 5px 2px 5px;}
#left-menu li li a:hover{text-decoration:underline;color:#000;}
#left-menu li li a.target_item{background:#568e1d;color:#fff;}
#left-menu div{cursor:pointer;color:black;text-decoration:none;display:inline-block;padding:1px 21px 2px 5px;width:160px;}
#left-menu .beforeClick{background:url('images/plus3.png') no-repeat 170px center;}
#left-menu .beforeClick:hover{text-decoration:underline;background:url('images/plus3.png') no-repeat 170px center;color:#000;}
#left-menu .afterClick{background:url('images/minus_g2.png') no-repeat 170px center;}
#left-menu .afterClick:hover{text-decoration:underline;background:url('images/minus_g2.png') no-repeat 170px center;color:#000;}
#tlist_leftmenu, #tlist_leftmenu_php{width:190px;text-align:center;float:left;clear:left;margin:20px 0px;padding:2px 0 10px;}
#list_left{display:block;border-top-left-radius:7px;border-top-right-radius:7px;background-color:#568e1d;color:#ffffff;font-size:18px;font-weight:normal;padding-bottom:2px;}
#tlist_leftmenu_php{margin-top:0;}
#tlist_leftmenu_php ul:first-child , #tlist_leftmenu ul:first-child{border-top:2px solid #568e1d;}
#left-menu > li:last-child , #left-menu > li:last-child{border-bottom:2px solid #568e1d;}
#smotr_tema{margin:20px 40px;border-left:3px solid green;padding:10px 10px 15px;background:#fff;}
#smotr_tema p{color:green;font-size:16px;margin:0;}
#smotr_tema ul{margin:5px 0 0 20px;}