[Desktop Entry]
Encoding=UTF-8
Name=Ссылка на SSL Server Test: nextcloud.server.ua (Powered by Qualys SSL Labs)
Type=Link
URL=https://www.ssllabs.com/ssltest/analyze.html?d=nextcloud.server.ua&latest
Icon=text-html
