

/* Start:/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.section.list/round/style.css?13657583781432*/
.selected-faq-item {font-weight:bold}
.unselected-faq-item {}

.selected-arrow-faq{background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.section.list/round/images/selected_faq.gif) no-repeat; height:13px; width:17px; dislay:block; float:left;}
.unselected-arrow-faq{background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.section.list/round/images/unselected_faq.gif) no-repeat; height:13px; width:17px; dislay:block; float:left;}


/* gray table */
/* table */
table.border-gray {empty-cells: show; //border-collapse: collapse}

/* rounds */
table.border-gray td.border-gray-round-tl, td.border-gray-round-tr, td.border-gray-round-bl, td.border-gray-round-rb
{
	width:5px;
	height:5px;
}
table.border-gray td.border-gray-round-tl {background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.section.list/round/images/tl_round.gif) left top no-repeat;}
table.border-gray td.border-gray-round-tr {background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.section.list/round/images/tr_round.gif) right top no-repeat;}
table.border-gray td.border-gray-round-bl {background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.section.list/round/images/bl_round.gif) left bottom no-repeat;}
table.border-gray td.border-gray-round-rb {background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.section.list/round/images/rb_round.gif) right bottom no-repeat;}

/* body */
table.border-gray td.border-gray-body
{
	padding: 5px;
}

/* lines */
table.border-gray tr.border-gray-head td.border-gray-t-line {border-top: 1px solid #aaaaaa;} 
table.border-gray tr td.border-gray-l-line {border-left: 1px solid #aaaaaa;}
table.border-gray tr td.border-gray-r-line {border-right: 1px solid #aaaaaa;}
table.border-gray tr.border-gray-foot td.border-gray-b-line {border-bottom: 1px solid #aaaaaa;}
/* end gray table */
/* End */


/* Start:/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.element.list/round/style.css?13668123212743*/
.point-faq{list-style:square inside; padding: 1px 0 1px 10px;}

table.quote-table {width:100%; margin: 3px 0 3px 10px;}
table.quote-table td {border:1px solid #bfbfbf; background: #f5f5f5!important; padding:4px; display:block !important;margin-right: 30px !important;}
table.quote-table tr {display:inline !important;}

/* blue gray table */
/* table */
table.border-bluegray {empty-cells: show; //border-collapse: collapse}

/* head */
table.border-bluegray tr.border-bluegray-head
{
	background: #dae1e9;
	font-weight: bold;
}

/* delimiter */
table.border-bluegray tr td.border-bluegray-vdelimiter {border-right: 1px solid #bfbfbf;}
table.border-bluegray tr td.border-bluegray-hdelimiter {border-top: 1px solid #bfbfbf;}

/* rounds */
table.border-bluegray td.border-bluegray-round-tl, td.border-bluegray-round-tr, td.border-bluegray-round-bl, td.border-bluegray-round-br, table.border-bluegray td.border-bluegray-round-tl-mono, table.border-bluegray td.border-bluegray-round-bl
{
	width:5px;
	height:5px;
	font-size:1px!important;
}

table.border-bluegray td.border-bluegray-round-tl {background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.element.list/round/images/tl_color_round.gif) left top no-repeat;}
table.border-bluegray td.border-bluegray-round-tr {background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.element.list/round/images/tr_color_round.gif) right top no-repeat;}
table.border-bluegray td.border-bluegray-round-br {background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.element.list/round/images/br_round.gif) right bottom no-repeat;}
table.border-bluegray td.border-bluegray-round-bl {background: url(/bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.element.list/round/images/bl_round.gif) left bottom  no-repeat;}

/* lines */
table.border-bluegray tr.border-bluegray-head td.border-bluegray-t-line {border-top: 1px solid #bfbfbf; font-size:1px!important;}
table.border-bluegray tr.border-bluegray-head-mono td.border-bluegray-t-line {border-top: 1px solid #bfbfbf;}
table.border-bluegray tr td.border-bluegray-l-line {border-left: 1px solid #bfbfbf;}
table.border-bluegray tr td.border-bluegray-r-line {border-right: 1px solid #bfbfbf;}
table.border-bluegray tr.border-bluegray-foot td.border-bluegray-b-line {border-bottom: 1px solid #bfbfbf; font-size:1px!important;}

/* paddings */
table.border-bluegray td.border-bluegray-pall {padding: 9px;}
table.border-bluegray td.border-bluegray-prb {padding: 4px 9px 9px 4px;}
table.border-bluegray td.border-bluegray-plrb {padding: 4px 9px 9px 9px;}
table.border-bluegray td.border-bluegray-plb {padding: 4px 4px 9px 9px;}
table.border-bluegray td.border-bluegray-prtb {padding: 9px 9px 9px 4px;}
table.border-bluegray td.border-bluegray-pltb {padding: 9px 4px 9px 9px;}
table.border-bluegray td.border-bluegray-plt {padding: 9px 4px 4px 9px;}
table.border-bluegray td.border-bluegray-plrt {padding: 9px 9px 4px 9px;}
table.border-bluegray td.border-bluegray-prt {padding: 9px 9px 4px 4px;}
/* end blue gray table */
/* End */
/* /bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.section.list/round/style.css?13657583781432 */
/* /bitrix/templates/dev.1c-bitrix-new/components/bitrix/support.faq/round/bitrix/support.faq.element.list/round/style.css?13668123212743 */
