/* <meta http-equiv="Content-Type" content="text/html; charset=Windows-1251"> */



BODY {
	color: #000000;
	background-color: #FFFFFF;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;	
}	
td, th, body {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
}
input, select, textarea {
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.input.25 {width: 25px;}
td {
	vertical-align: top;
	white-space: normal;
}
p {
	margin: 0px;
	white-space: normal;
}
form {
	margin:0px;
	padding:0px;
}
center {
	margin: 0px;
	padding: 0px;
}

img {
	border: 0px;
}
small {
	font-weight: normal;
	color: #666666;
	font-size:11px;
}
blockquote {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 32px;
}
.nowrap {
	white-space: nowrap;
}

.top_banner { 
	text-align: right;
	padding: 3px;
}
.shadow {
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#696969,direction=145,strength=6);
}
.pad {
	padding:4px;
}
.pad8 {
	padding: 8px;
}

.attention {
	font-weight: bold;
	color: #CC0000;
}
.actionstoolbar td { 
	padding: 2px 10px;
	font-size: 10px;
}
.actionstoolbar a, .actionstoolbar select {
	font-size: 10px;
}

.grey {
	color: #999999;
}
.lgtgrey {
	color: #666666;
}

.hiddenitem {
	display: none;
}
.visibleitem {
	display: inherit;
}
.dropdownitem {
	position: absolute;
	visibility: visible;
	display: inline;	
}

.dropdownitem_smiles {
  position: absolute;
  visibility: visible;
  display: inline;    
  margin-top: -30 px;
}

.infoBoxContents, .infoBoxContents a, .infoBoxContents td {
}
.replymargin {
	width: 40px;
}
ul {
	margin: 0px 0px 0px 12px;
	padding: 3px;
}
li {
	list-style-type: circle;
	margin-left: 6px;
}

.aprilfun {
	background-color: #FEF079;
	padding: 4px;
	border: 1px solid #C43700;
	margin: 4px;
	width: 98%;
}

a.informer_dropdown, a.informer_dropdown:HOVER, a.informer_dropdown:ACTIVE, a.informer_dropdown:VISITED {
	background-image: url(../images/informer_dropdown.gif);
	background-repeat: no-repeat;
	background-position: right center;
	padding: 0px 16px 1px 1px;
	border: 1px solid #666666;
	text-decoration:none;
	color:#000000;
	width: 76px;
	display:block;
}
.sub {
	font-weight: bold;
	margin-top: 8px;
}
.nobr {
	white-space: nowrap;
}
dfn {
	cursor: help;
	border-bottom: dotted 1px;	
}
.skinselector_iframe { border: 3px solid #EEEEEE }
.skinselector_iframe_m { border: 3px solid #666666 }
.signature {
	font-size:85%;
	padding:5px;
	border-top:1px dotted #BCBCBC;
	margin-top:5px;
}
.disabled, .disabled * {
	color:#797979 !important;
}




.ggtabs {
	height:26px;
	background: url(../images/gtab_bg.gif) repeat-x bottom;
}
.ggtab {
	background:url(../images/gtab_left.gif) no-repeat top left;
	margin:0;
	padding:0;
	border-bottom: 1px solid #929499;
	height:26px;	
}
.ggtab div {
  display:block;
  background:url(../images/gtab_right.gif) no-repeat top right;
  text-decoration:none;
  color:#000000;
  padding:0;
  
}
.ggtab div div, .ggtab_s div div {
	padding:5px 11px;
	vertical-align:middle;
	text-align:center;
}
.ggtab div div a {
	color:#000000;
	text-decoration:none;
	white-space:nowrap;
}
.ggtab div div a:HOVER {
	color:#CC0000;
	text-decoration:underline;
}
.ggtab_s {
	background:url(../images/gtab_s_left.gif) no-repeat top left;
	margin:0;
	padding:0;
	height:26px;	
}
.ggtab_s div {
  display:block;
  background:url(../images/gtab_s_right.gif) no-repeat top right;
  text-decoration:none;
  color:#000000;
  padding:0;
}
.ggtab_s div div a, .ggtab_s div div a:HOVER {
	color:#464646;
	text-decoration:none;
	white-space:nowrap;
}
.gtab_content {
	border-bottom: 1px solid #929499;
	border-left: 1px solid #929499;
	border-right: 1px solid #929499;
	background-color:#FFFFFF;
}

.pad4 {
	padding:4px;
}
.nobr {
	white-space:nowrap;
	overflow:hidden;
}
.vmid {
	vertical-align: middle !important;
}

.top_cell_profile_userpic {
	border: 1px solid #212121;
	width: 98px;
	height: 98px;
	background-color: #565656;
}
.top_cell_profile_userpic div {
	text-align: center !important;
	overflow: hidden;
	width: 98px;
	height: 98px;
}


.floatright {
	float: right;
}
.floatleft {
	float: left;
}
.cleaner {
	clear: both;
}

.tagcloud1 { font-size: 10px; }
.tagcloud2 { font-size: 12px; }
.tagcloud3 { font-size: 14px; }
.tagcloud4 { font-size: 16px; font-weight: bold; }
.tagcloud5 { font-size: 18px; font-weight: bold; }
.tagcloud6 { font-size: 22px; font-weight: bold; }


/*** SUPERFISH MENU ***/
.superfish, .superfish * {
	margin:0;
	padding:0;
	list-style:none;
}
.superfish {
	line-height:1.0;
}
.superfish ul {
	position:absolute;
	top:-999em;
	width:9.45em;
}
.superfish li ul li {
	width: 100%;
}
.superfish li {
	float:left;
	position:relative;
	z-index:99;
}
.superfish li:hover ul,
ul.superfish li.sfHover ul {
	top:24px;
}
.superfish li:hover li ul,
.superfish li.sfHover li ul {
	top:-999em;
}
.superfish li li:hover ul,
ul.superfish li li.sfHover ul {
	left:9.45em;
	top:-1px;
}
.superfish li:hover ul,
.superfish li li:hover ul {
	top: -999em;
}
#superfish_box {
  height: 23px;
  padding: 0 4px;
  display: block;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}	
.superfish {
	float:left;
	margin-bottom:22px;
}
.superfish a {
	display: block;
	white-space: nowrap;
	margin-left: 1px;	
	border-style: solid;
	padding: 0px 5px;
	font-size: 11px;
	font-weight: bold;
	line-height: 22px;
}
.superfish li a {
	border-width: 1px;
	border-bottom-width: 0 !important;
}

.superfish li ul li a {
	border-top-width: 0 !important;
	border-bottom-width: 1px !important;
}

.popup_card_holder {
	white-space: nowrap;
}
.popup_card {
	position: absolute;
	width: 24em;
	z-index: 9999;
	display: none;
	font-size: 11px;
}

/* TipTip CSS - Version 1.2 */

#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}

#tiptip_holder.tip_top {
	padding-bottom: 6px;
}

#tiptip_holder.tip_bottom {
	padding-top: 6px;
}

#tiptip_holder.tip_right {
	padding-left: 6px;
}

#tiptip_holder.tip_left {
	padding-right: 6px;
}

#tiptip_content {
	font-size: 12px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	background-color: #222;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}

#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255,255,255,0.35);
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25,25,25,0.92);
}

#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25,25,25,0.92);
}

/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {	
	#tiptip_content {
		padding: 4px 8px 5px 8px;
	}
}
