/* <meta http-equiv="Content-Type" content="text/html; charset=Windows-1251"> */ 


body {
	scrollbar-base-color: #D3EAFF;
	scrollbar-track-color: #CDE4FD;
	scrollbar-face-color: #29B429;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-3dlight-color: #3C4838;
	scrollbar-darkshadow-color: #3C4838;
	scrollbar-shadow-color: #47D646;
	scrollbar-arrow-color: #FFFFFF;
}
 
a:link {
	color: #076CD7;
	text-decoration: none;
}
a:visited {
	color: #6E97C2;
	text-decoration: none;
}
a:hover {
	color: #29B429;
	text-decoration: underline;
}
a:active {
	color: #FF0000;
	text-decoration: underline;
}
hr {
	color: #DDDDDD;
	background-color: #DDDDDD;
	text-align: center;
	vertical-align: middle;
	height: 1px;
}
.ueberschrift, h3 {
	font-family: Helvetica, Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 125%;
	font-weight: bold;
	color: #000;
	margin:4px 0px;
}




.button {
	color: #000000;
	margin: 1px;
	background-color: #EEEEEE;
	background-image: url(https://tt.germany.ru/images/skins/sunny/buttonbg.gif);
	background-repeat: repeat-x;
	background-position: top;
	border: 1px outset #666666;
}



.input_textfill {
	color: #000000;
	background-color: #FFFFFF;
	border: 1px solid #999999;
}
.input_textfill_M {
	color: #000000;
	background-color: #CDE4FD;
	border: 1px solid #000000;
}

.informer_cell {
	background-color: #FFFADE;
	vertical-align: middle;
	text-align:left;
	padding: 2px 3px;
	margin: 0px;
	color: #000000;
	font-size: 11px;
}
.informer_header {
	background-image: url(https://tt.germany.ru/images/skins/sunny/informer_headerbg.gif);
	background-position: top;
	background-repeat: repeat-x;
	height: 30px;
	text-align: center;
}


.top_cell {
	height: 69px;
	border-top: 1px solid #31649B;
	background: #257804 url(https://tt.germany.ru/images/skins/sunny/top_cell_bg.jpg) repeat-x top;
	white-space:nowrap;
	overflow: hidden;
	padding: 0px;
}
.top_cell_profile {
	height: 76px;
	background: #A8CFF8 url(https://tt.germany.ru/images/skins/sunny/top_cell_bg.jpg) repeat-x top;
	white-space:nowrap;
	overflow: hidden;
	padding: 0px;
}
.top_cell_profile_breadcrumbs {
	padding: 4px 0 0 11px;
}
.top_cell_profile_breadcrumbs, .top_cell_profile_breadcrumbs * {
	color: #ffffff !important;
	font-size: 11px;
}

.footer_narrow_cell {
	height: 9px;
	border-top: 1px solid #31649B;
	background-color: #007E05;
	text-align: center;
	background-image: url(https://tt.germany.ru/images/skins/sunny/germany_ru_topnav_bg.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	padding: 0px;
}


.top_cell, .top_cell a {
	color:#000000;
}


.topnav_cell, .topnav_cell_popup {
	background-color: #007E05;
	text-align: center;
	background-image: url(https://tt.germany.ru/images/skins/sunny/germany_ru_topnav_bg.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
	height:24px;
	padding:0px;

	margin: 0 auto !important;
	width: 99%;
	white-space: nowrap;
	overflow: hidden;
}
/* debugging! vlad */
.topnav_cell table {
	margin: 0 auto !important;
	width: 99%;
	white-space: nowrap;
	overflow: hidden;
}




.top_logotype_block {
	float: left;
	display: inline;
	height: 69px;
	cursor: pointer;
	cursor: hand;
}
#top_emblema { 
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_emblema.jpg) no-repeat left top;
	width: 83px;
}
#top_type_ru {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_type_ru.jpg) no-repeat left top;
	width: 215px;
}
#top_type_de {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_type_de.jpg) no-repeat left top;
	width: 215px;
} 
#top_logo_chat {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_chat.gif) no-repeat left top;
	width: 64px;
}
#top_logo_club {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_club.gif) no-repeat left top;
	width: 62px;
}
#top_logo_events {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_events.gif) no-repeat left top;
	width: 96px;
}
#top_logo_forum {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_forum.gif) no-repeat left top;
	width: 86px;
}
#top_logo_foto {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_foto.gif) no-repeat left top;
	width: 61px;
}
#top_logo_games {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_games.gif) no-repeat left top;
	width: 94px;
}
#top_logo_gbs {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_gbs.gif) no-repeat left top;
	width: 55px;
}
#top_logo_groups {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_groups.gif) no-repeat left top;
	width: 98px;
}
#top_logo_handy {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_handy.gif) no-repeat left top;
	width: 88px;
}
#top_logo_horo {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_horo.gif) no-repeat left top;
	width: 69px;
}
#top_logo_love {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_love.gif) no-repeat left top;
	width: 64px;
}
#top_logo_my {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_my.gif) no-repeat left top;
	width: 49px;
}
#top_logo_news {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_news.gif) no-repeat left top;
	width: 78px;
}
#top_logo_office {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_office.gif) no-repeat left top;
	width: 82px;
}
#top_logo_recht {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_recht.gif) no-repeat left top;
	width: 76px;
}
#top_logo_blogs {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_blogs.gif) no-repeat left top;
	width: 76px;
}
#top_logo_shop {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_shop.gif) no-repeat left top;
	width: 71px;
}
#top_logo_sms {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_sms.gif) no-repeat left top;
	width: 61px;
}
#top_logo_strana {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_strana.gif) no-repeat left top;
	width: 91px;
}
#top_logo_top {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_top.gif) no-repeat left top;
	width: 52px;
}
#top_logo_travel {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_travel.gif) no-repeat left top;
	width: 85px;
}
#top_logo_tv {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_tv.gif) no-repeat left top;
	width: 36px;
}
#top_logo_weather {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_weather.gif) no-repeat left top;
	width: 116px;
}
#top_logo_xanthos {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_xanthos.gif) no-repeat left top;
	width: 111px;
}
#top_logo_katalog {
	background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_top_logo_katalog.gif) no-repeat left top;
	width: 105px;
}
.leftnav_cell {
	border: 1px solid #5298E3;
	background-color: #CDE4FD;
	padding: 0px;
}
.leftnav_header {
	font-size: 12px;
	font-weight: bold;
	background: url(https://tt.germany.ru/images/skins/sunny/leftgradient.gif) repeat-x top;
	border-top: 1px solid #5298E3;
	padding: 5px 5px 5px 10px;
	white-space : nowrap;
}
.leftnav_item {
	border-top: 1px solid #FFFFFF;
	display: block;
	text-decoration: none;
}
.leftnav_item a {
	display: block;
	padding: 2px 4px;
}
.leftnav_item a:HOVER {
	background-color: #FFF496;
	color: #000000;
	text-decoration: none;
}
.leftnav_item2 {
	border-top: 1px solid #FFFFFF;
	display: block;
	text-decoration: none;}
.leftnav_header2 {
	font-size: 12px;
	font-weight: bold;
	background: url(https://tt.germany.ru/images/skins/sunny/leftgradient.gif) repeat-x top;
	border-top: 1px solid #5298E3;
	border-bottom: 1px solid #5298E3;
	padding: 5px 5px 5px 10px;
	white-space : nowrap;
}
.leftnav_selected_item {
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 3px;
	font-size:12px;
	background-color: #FDFDFD;
	width: 200px;
}
 
 
  
.rightcolumn_cell {
	border: 1px solid #5298E3;
	background-color: #CDE4FD;
	padding: 0px;
}


.undertab_cell {
	background-color: #FFFFFF;
	padding:1px 6px;
}



.list_cell0 {
	background-color: #FFFFFF;
	padding: 3px;
}
.list_cell1 {
	background-color: #EFF4FA;
	padding: 3px;
}
.list_item { 
	background-image: url(../images/germany_ru_li.gif);
	background-repeat: no-repeat;
	background-position: left top;
	padding-top: 1px;
	padding-right: 1px;
	padding-bottom: 1px;
	padding-left: 14px;
}
.list_table {
	background-color: #DADADA;
	border-style: none;
	border-spacing: 1;
	padding: 3px;
}



.calendar td {
	border-bottom: 1px solid #5298E3;
	border-right: 1px solid #5298E3;
}
.calendar a#today {
	font-weight: bold;
	color: #000000;
	background-color: #FFFFFF;
}
.calendar a {
	text-align: center;
	vertical-align: middle;
	padding: 2px;
	background-color: #CDE4FD;
	display: block;
}
.calendar a:HOVER {
	background-color: #FFF496;
}
.calendarMonth {
	padding: 3px;
	font-weight: bold;
	color: #666666;
}
.listing {
	margin: 6px 2px;
}
.listing a {
	padding: 1px 3px;
	border: 1px solid #FFFFFF;
	margin: 0px;
	text-decoration:none;
}
.listing a:HOVER {
	border: 1px solid #5298E3;
	background-color: #FFF496;
	text-decoration:none;
	color:#000000;
}
.listing #thispage {
	border: 1px solid #CCC;
	color: #000000;
	background-color: #fafafa;
	text-decoration:none;
} 
.block {
	border: 1px solid #5298E3;
	background-color: #fff;
}
.forumblock {
	border-right: 1px solid #CCCCCC;
}
.blockheader {
	color: #333333;
	background: url(https://tt.germany.ru/images/skins/sunny/leftgradient.gif) repeat-x top;
	padding: 3px;
}
.blockheader a, .blockheader strong {
	color: #000000;
}
.blockcontent {
	padding: 5px 12px;
	background-color: #fff;
}
 
.quotation {
	color:#797A7F;
}
.forumquotation {
	background-color: #E4E4E4;
	border: dashed 1px #BBBBBB;
	padding: 6px;
	margin-left: 12px;
	color: #666666;
}
.forumquotation_double {
	background-color: #E4E4E4;
	border: double 3px #BBBBBB;
	padding: 6px;
	margin-left: 12px;
	color: #666666;
}
 /*       ( ) */
 .mouseoveritem {
	background-color: #FFF496;
	cursor: pointer;
	cursor: hand;
}
.error {
	background-color: #FFDDDD;
	border: dashed 1px #CC0000;
	padding: 6px;
	margin-left: 12px;
	color: #CC0000;
	font-weight: bold;
}
.information {
	background: #eaeaea url(https://tt.germany.ru/images/information_bg.gif) no-repeat top left;
	border: dashed 1px #a1a1a1;
	padding: 6px 6px 6px 26px;
	color: #676767;
	font-weight: bold;
}
.success {
	background-image: url(../images/success_bg.gif);
	background-position: top left;
	background-repeat: no-repeat;
	background-color: #DEFFD0;
	border: dashed 1px #1FA700;
	padding: 6px 6px 6px 26px;
	margin-left: 12px;
	color: #156203;
	font-weight: bold;
}
.signature {
	font-size:85%;
	padding:5px;
	border-top:1px dotted #BCBCBC;
	margin-top:5px;
}




/* NEW TABS!! WOO HOO! */


#topnav_tabs {
  font-size:13px;
  line-height:normal;
  height:24px;
  text-align:center;
  background: url(https://tt.germany.ru/images/skins/sunny/germany_ru_topnav_bg.jpg) repeat-x bottom;

	margin: 0 auto !important;
	width: 99%;
	white-space: nowrap;
	overflow: hidden;
  }
#topnav_tabs * {
  vertical-align:middle !important;
  color: #ADFFAD;
}
#topnav_tabs div.topnav_tab {
  float:left;
  background:url(https://tt.germany.ru/images/skins/sunny/germany_ru_tab_left.gif) no-repeat left top;
  margin:0;
  padding:0 0 0 2px;
  }
#topnav_tabs div.topnav_tab a {
  float:left;
  display:block;
  background:url(https://tt.germany.ru/images/skins/sunny/germany_ru_tab_right.gif) no-repeat right top;
  padding:4px 9px 3px 6px;
  text-decoration:none;
  color:#ADFFAD;
  }
/* IE5-Mac \*/
#topnav_tabs div.topnav_tab a {float:none;}
/* End IE5-Mac hack */
#topnav_tabs div.topnav_tab a:hover {
  color:#FFFFFF;
  }
#topnav_tabs div.topnav_tab#current {
  background:url(https://tt.germany.ru/images/skins/sunny/germany_ru_tab_s_left.gif) no-repeat left top;
  }
#topnav_tabs div.topnav_tab#current a {
  background:url(https://tt.germany.ru/images/skins/sunny/germany_ru_tab_s_right.gif) no-repeat right top;
  color:#000000;
  padding-bottom:4px;
  }
#topnav_tabs div.topnav_tab_tv {
  float:right;
  background:url(https://tt.germany.ru/images/tab_tv.gif) no-repeat left top;
  margin:0 0 0 2px;
  padding:0;
  width:152px;
  height:20px;
  }
#topnav_tabs div.topnav_tab_tv a {
  display:block;
  text-align:center;
  padding:4px 9px;
  text-decoration:none;
  line-height:12px;
  color:#000000;
  }
.iconized {
	background-position: 6px 6px !important;
	background-repeat: no-repeat !important;
	border: dashed 1px #AAAAAA !important;
	padding: 6px 6px 6px 32px !important;
	margin: 0 0 6px 0 !important;
	font-weight:normal !important;
}
.vip {
	background-color: #f9e7b8;
	border: 2px dotted #f4b200;
	margin: 2px 0;
	padding: 4px; 
}
.vip_with_icon {
	background: #f9e7b8 url(https://tt.germany.ru/images/icon_vip.gif) no-repeat left center;
	border: 2px dotted #f4b200;
	margin: 2px 0;
	padding: 4px 4px 4px 24px; 
}

/*** SUPERFISH MENU ***/
#superfish_box {
  border-bottom-color: #143810;
  background: #257804 url(https://tt.germany.ru/images/skins/sunny/germany_ru_topnav_bg.jpg) repeat-x 0 top;
  
}
.superfish a {
	border-color: #143810;
	color: #b2ffc0;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration:none;
	background: #257804 url(https://tt.germany.ru/images/skins/sunny/superfish_bg.gif) repeat-x 0 top;
}
.superfish a:HOVER, .superfish li a.selected {
	background: #fff url(https://tt.germany.ru/images/skins/sunny/superfish_bg_s.gif) repeat-x 0 top;
	color: #000;
}
