/*@media only screen and (min-width: 1440px) {}*/

@media screen and (min-width: 767px) {
    /* flex */
    /*    #site_columns { display: flex; flex-flow: row wrap; }
        #main { order: 1; width: calc(100% - 410px); }
        #sidebar_right_primary { order: 2; width: 200px; height: 100px; flex-grow: 1;  }
        #sidebar_right_second { order: 2; width: 210px; height: 100px; flex-grow: 1; }*/

    /* float */
    /*    #main { width: calc(100% - 210px); float: left; }
        #site_columns:after { content: ''; display: block; clear: both; }
        #sidebar_right_primary, #sidebar-right-second { width: 200px; float: right; }
        #sidebar_right_primary { height: 400px; }
        #sidebar_right_second { height: 100px; }*/
}
@media screen and (min-width: 1024px) {
    #wrapper { margin: auto; width: 1000px; }
}
@media screen and (min-width: 1440px) {
    #wrapper { margin: auto 150px; }
}

/*@media screen and (min-width: 320px) and (max-width: 767px) {}*/
