.slick-blue-arrows .slick-prev { left: 4px; }
.slick-blue-arrows .slick-next { right: 4px; }
.slick-blue-arrows .slick-list { z-index: 1; }
.slick-blue-arrows .slick-arrow { z-index: 2; }
.slick-blue-arrows .slick-arrow { background-color: #000; opacity: 0.65; width: 30px; height: 30px; margin-top: -15px; }
.slick-blue-arrows .slick-arrow.slick-disabled { opacity: 0; }
.slick-blue-arrows .slick-prev:before, .slick-blue-arrows .slick-next:before { color: #3478e3; font-family: Arial, sans-serif; font-size: 22px; }
.slick-blue-arrows .slick-next:before { content: "»"; }
.slick-blue-arrows .slick-prev:before { content: "«"; }

.slick-blue-dots .slick-dots { bottom: -26px; }
.slick-blue-dots .slick-dots li[aria-hidden="true"] button:focus:before { opacity: 0.25; }
.slick-blue-dots .slick-dots li button:before { font-size: 9px; color: #3478e3; }
.slick-blue-dots .slick-dots li.slick-active button:before { color: #3478e3; }


.ads .banners { margin-bottom: 20px; }

.banners.aliexpress img { height: 200px; max-width: 240px; margin: 0 auto; }
.banners.aliexpress .text-wrap { text-align: center; }
.banners.aliexpress .text-wrap .price { font-weight: 600; }

.banners.sawius img { height: 200px; max-width: 240px; margin: 0 auto; }
.banners.sawius .text-wrap { text-align: center; }
.banners.sawius .text-wrap .price { font-weight: 600; }