/* @todo: Загрузка шрифта on demand (после полной загрузки контента) */
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:600|Open+Sans:400);
/*<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:600|Open+Sans:400' rel='stylesheet' type='text/css'>*/
/*
Source+Code+Pro:600 = 12kb
Open+Sans:400 = 25kb
При общей загрузке = 22kb
*/

body { font-family: 'Open Sans'; }
article.single .content, .articles article .content { font-family: 'Source Code Pro', 'Open Sans'; }

body { color: #3a4145 }
a, a:visited, a:active { color: #3478e3; text-decoration: none; }
a:hover { border-bottom: 1px solid #3478e3; }

#main article footer, #main article header .meta { opacity: 0.7; padding: 4px 0; }

#sidebar .categories-menu ul li a .count { background: #78A5ED; color: #fff; }
#sidebar .categories-menu li.current a .name { color: #FF8686 }
#sidebar .categories-menu li.current a .name:before { color: #FF8686; }