.hide { display: none !important; }

#wrapper { margin: 0 10px; }

#main { width: calc(100% - 254px); float: left;  }
#columns:after { content: ''; display: block; clear: both; }
#sidebar { width: 240px; float: right; /*border: 1px solid #eee;*/ }

article.single { overflow-x: hidden }

#breadcrumbs ol { list-style: none; margin: 0px; padding: 0; }
#breadcrumbs ol li { display: inline-block; }

#footer { margin: 20px 0; }
