#nav a, #subMenusContainer a{text-decoration:none;display:block;}
#nav a{margin:0;float:left;background:none;padding:14px 16px 13px 16px;text-transform:uppercase;color:#FFFFFF;font-weight:bold;font-size:12px;}
#nav li a:hover,
#nav li a:focus,
#nav a.mainMenuParentBtnFocused{color:#FFFFFF;background:url(../images/nav-hover.png) left top repeat-x;text-decoration:none;-moz-border-radius:5px 5px 0 0;-khtml-border-radius:5px 5px 0 0;-webkit-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;border-top:1px solid #00DBFF;border-left:1px solid #00DBFF;border-right:1px solid #00DBFF;padding:13px 15px 13px 15px;}
#subMenusContainer a, #nav li li a{color:#fff;font-size:12px;text-align:left;background-color:#30ACC1;padding:11px 26px;}
#subMenusContainer a:hover,
#subMenusContainer a:focus,
#subMenusContainer a.subMenuParentBtnFocused{background:url(../images/submenus-hover.png) left top repeat-x;color:#fff;}
.subMenuParentBtn{background:url(../img/arrow_right.gif) right center no-repeat;}
.subMenuParentBtnFocused{background:url(../img/arrow_right_over.gif) right center no-repeat;}
.mainMenuParentBtn{}
.mainMenuParentBtnFocused{}
.smOW{display:none;position:absolute;overflow:hidden;padding:0 2px;margin:0 0 0 -2px;}
#nav, #nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol{padding:0;margin:0;list-style:none;line-height:1em;}
#nav ol, #nav ul, #subMenusContainer ul, #subMenusContainer ol{background:none;left:0;}
#nav li{background-repeat:no-repeat;background-position:100% 5px;cursor:pointer;float:left;margin:0 2px 0 0;padding:0 0px 0 3px;height:40px;display:inline;}
#nav li:first-child{background:none;}
#subMenusContainer li{list-style:none;}
#nav{width:950px;margin:0 auto;clear:both;overflow:hidden;font-size:12px;display:block;}
#nav .children{display:none;}
#subMenusContainer{display:block;position:absolute;top:0;left:0;width:100%;height:0;overflow:visible;z-index:1000000000;}