/**/
body {
    background: #eee url(i/setka.png);
    font: 12pt arial;
    margin: 10px;
}
/* main */
.main {
    width: 992px;
    background: #fff;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 0 15px #999;
}
/* head */
@keyframes MOVE-BG {
    from {
        background-position: 0 0
    }
    to {
        background-position: 100% 0
    }
}
.head {
    height: 120px;
    background: url(i/head.png) #628ECA 0 0;
    position: relative;
    border-bottom: solid 5px #628ECA;

    animation-name: MOVE-BG;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.head .logo {
    background: url(i/logo.png) no-repeat;
    _background: none;
    position: absolute;
    height: 72px;
    width: 280px;
    top: 21px;
    left: 26px;
}
.head .baner {
    float: right;
    height: 60px;
    width: 468px;
    margin: 10px 10px 0 0;
    border: solid 1px blue;
}
.head .menu {
    position: absolute;
    left: 70px;
    top: 72px;
}
.head .menu li {
    list-style: none;
    float: left;
    margin: 0 0 0 3px;
}
.head .menu a {
    display: block;
    width: auto;
    padding: 0 5px 0 5px;
    white-space: nowrap;
    height: 30px;
    background: url(i/head-b.png) #fff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #204c8d;
    font-weight: bold;
    border: solid 1px #628eca;
    font-size: 11pt;
}
.head .menu a.act,
.head .menu a:hover {
    background: url(i/head-a.png);
    color: #fff;
}
/* body */
.body {
    padding: 20px;
}
.body table {
    margin: 0 0 5px 0;
}
.body .tr {
    background: #eee;
}
.body table.tline {
    background: #ccc;
}
.body .tline tr {
    background: #fff;
}
p.author a {
    color: #fff;
    font-size: 10px;
    text-decoration: none;
    padding: 0 20px 0 0;
}
/* foot */
.foot {
    height: 60px;
    background: url(i/head.png) #628ECA;
    position: relative;
    border-top: solid 5px #628ECA;
}
.foot .menu {
    position: absolute;
    left: 70px;
    top: -16px;
}
.foot .menu li {
    list-style: none;
    float: left;
    margin: 0 0 0 3px;
}
.foot .menu a {
    display: block;
    width: auto;
    padding: 0 5px 0 5px;
    white-space: nowrap;
    height: 30px;
    background: url(i/foot-b.png) #fff;
    text-align: center;
    line-height: 30px;
    text-decoration: none;
    color: #204c8d;
    font-weight: bold;
    border: solid 1px #628eca;
    font-size: 11pt;
}
.foot .menu a.act,
.foot .menu a:hover {
    background: url(i/foot-a.png);
    color: #fff;
}
.foot .copy {
    text-align: center;
    padding: 38px 0 0 0;
}
.foot .copy a {
    color: #fff;
    font-weight: normal;
    font-size: 10pt;
}
