
body >*{
    font-family: "PT Sans",sans-serif;
    color: #393939;
    font-size: 15px;
    margin-top: 6%;
        margin-bottom: -6%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body a:hover{
    text-decoration: none;
    color: #428bca;
}


#scroller{
    position: fixed;    
    /** позиция кнопки scroll to top **/
    top: 20%;
    right: 3%;  
    /** картинка кнопки наверх**/
    width: 40px;
    height: 40px;
    font-size: 165%;
    display: none;
    background-color: #428bca;
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 50%;
    text-align: center;
    /** скрываем кнопку в начале **/ 
    z-index: 10;
}
#scroller:hover{
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
    cursor: pointer;
}

#writeToUsClick{
    position: fixed;
    display: inline-block;
    width: 15%;
    height: auto;
    text-align: center;
    left: 90%;
    top: 50%;
    margin: 0.5%;
    padding: 0.5%;
    z-index: 15;
    transform: rotate(90deg);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    font-size: 125%;
    text-transform: uppercase;
}
/*-----------------------callBackButton---------------------------*/


.callBackButtonUser{
    margin-left: 1%;
    padding: 1%;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);   
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 2%;
    left: 0.5%;
    background-color: #f0ad4e;
    cursor: pointer;
}

.buttonCallOvarlay{
    position: relative;
}

.buttonCallImage{
    font-size: 400%;
    color: #fff;
    left: 32%;
    position: absolute;

}





.mainOtziv{
    background-image: url(/upload/newSite/kremenFile/fon6_1-min-min.jpg);
        background-repeat: round;
    padding: 7% 0;
}

.ratingForm{
    background-color: #556a8c;
    height: 280px;

}
.ratingForm h3{
    text-align: center;
    color: #FFF;
}
.ratingForm div{
    border-bottom: 1px solid #FFD700;
    margin: 5%;
}

.spanFormOtziv{
    width: 45%;
    display: inline-block;
    color: #FFF;
    text-align: left;
    margin: 1%;
    font-size: 130%;
}
.spanFormOtziv2{
    margin: 1%;

}

.buttonSubmit{
    clear: both;
    margin: 1%;
    text-align: center;
}

/*------------------------------------imgBlogHeader---------*/


header nav .container .imgBlogHeader,
header nav .container .SearchBlog,
header nav .container .authForms{
	vertical-align: middle;
}
.imgBlogHeader img{
	width: 100%;
}

.imgBlogHeader{
	display: inline-block;
	width: 7%;
}

.SearchBlog{
	display: inline-block;
	width: 40%;
	margin-left: 40%; 

}



.authForms{
    color: #FFF;
    cursor: pointer;
    padding: 1%;
    display: inline-block;
}
.authForms:hover{

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255,255,255,0.9);  
}

.showwAuthform{
    position: absolute;
    background-color: #FFF;
    right: 4%;
    top: 75%;
    border-radius: 5px;
    display: none;
}






.spanInput{
    width: 50px;
}


#spanInput1{
 	width: 50px;
}

#spanInput2{
    width: 50px;
}

.subscForm{
	padding: 2%;
	padding-bottom: 15%;
	padding-left: 13%;

	background-color: #eee;
}
.clear{
    clear: both;
}
.textBottomFooter{
    margin-top: 5%;
    margin-bottom: 5%;
}
footer{background-color:#222;min-height:100px;color:#FFF;}
footer a{color:#FFF;}