/* slider Css*/
#sw {
	margin:-15px auto -15px;
	position:relative;
	text-align:left;
	width:424px;
	
}
#bg-sw {
	width: 100%;
	padding: 0 0 1px;
}
#slider {
	border-radius: 15px;
}
.graphic, #prevBtn, #nextBtn, #slider1prev, #slider1next{
	margin:0;
	padding:0;
	display:block;
	overflow:hidden;
	text-indent:-8000px;
	}

#slider ul, #slider li,
#slider2 ul, #slider2 li{
	margin:0;
	padding:0;
	list-style:none;
	}
#slider2{margin-top:1em;}
#slider li, #slider2 li{ 
	/* 
		define width and height of list item (slide)
		entire slider area will adjust according to the parameters provided here
	*/ 
	width:424px;
	height:170px;
	overflow:hidden; 
	}	
#prevBtn, #nextBtn,
#slider1next, #slider1prev{ 
	display:block;
	width:30px;
	height:77px;
	position:absolute;
	left:-30px;
	top:71px;
	z-index:1000;
	}	
#nextBtn, #slider1next{ 
	left:696px;
	}														
#prevBtn a, #nextBtn a,
#slider1next a, #slider1prev a{  
	display:block;
	position:relative;
	width:30px;
	height:77px;
	background:url(../images/btn_prev.gif) no-repeat 0 0;	
	}	
#nextBtn a, #slider1next a{ 
	background:url(../images/btn_next.gif) no-repeat 0 0;	
	}	
	
	/* numeric controls */	

ol#controls{
	padding:0;
	height:5px;
	}
ol#controls li{
	margin:0 10px 0 0; 
	padding:0;
	float:left;
	list-style:none;
	height:5px;
	line-height:5px;
	}
ol#controls li a{
	float:left;
	height:5px;
	border:1px solid #ccc;
	border-radius: 5px;
	background:#fff;
	color:#555;
	padding:0 10px;
	text-decoration:none;
	}
ol#controls li:first-child a {
	margin-left:150px;
}
ol#controls li.current a{
	background:#e1e1e1;
	color:#fff;
	}
#slider img {
	display:block;
	margin:0 auto;
}
ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}

/* slider Css*/