

/* Start:/bitrix/templates/learning_new/css/images_with_zoom.css?1489740347531*/
.learn-right-data a img, .courses-right-side a img {
	cursor: zoom-in !important;
}
.popup-link
{
	position: relative;
	display: inline-block;
}
.popup-link:after {
	background-image: url(/images/zoom_in.png);
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
	margin: auto;
	width: 75px;
	height: 75px;
	z-index: 10;
	background-position: center center;
	background-size: 100%;
	cursor: zoom-in;
	opacity: 0;
}

.popup-link:hover:after {
	opacity: 0.6;
	transition: 0.2s ease opacity;
}
/* End */


/* Start:/bitrix/templates/.default/css/learning/common.css?1487337103230*/
.learning-highlight-number
{
	color: #ff3636;
	display: inline-block;
	width: 20px;
	height: 20px;
	border-radius: 20px;
	text-align: center;
	vertical-align: baseline;
	border: 1px solid #ff3636;
	font-style: normal;
}
/* End */


/* Start:/bitrix/templates/.default/css/learning/service_blocks.css?1494839206831*/
.learning-lesson-detail-block
{
	display: inline;
	position: relative;
}

.learning-lesson-detail-word
{
	z-index: 2;
	color: #00a1d9;
	border-bottom: 1px dashed #00a1d9;
	cursor: default;
}

.learning-lesson-detail-body
{
	display: none;
	position: absolute;
	z-index: 210;
	opacity: 0;
	transition: opacity 0.3s ease, transform 0.3s ease;
	transform: translateY(-8px);
	padding-bottom: 5px;
}

.learning-lesson-detail-body.learning-lesson-detail-show
{
	display: block;
}

.learning-lesson-detail-body.learning-lesson-detail-show-animation
{
	transform: translateY(0);
	opacity: 1;
}

.learning-lesson-detail-body-inner
{
	background-color: #fff;
	padding: 10px;
	border-radius: 2px;
	box-shadow: 0 5px 10px -5px #000;
	overflow: hidden;
	border: 1px solid #aeaeae;
	display: block;
}
/* End */


/* Start:/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/style.css?14123396488512*/
div.bx-system-auth-form span.bx-auth-secure {background-color:#FFFAE3; border:1px solid #DEDBC8; padding:2px; display:inline-block; vertical-align:bottom; margin-top:-1px;}
div.bx-system-auth-form div.bx-auth-secure-icon {background-image:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/sec.png); background-repeat:no-repeat; background-position:center; width:19px; height:18px;}
div.bx-system-auth-form div.bx-auth-secure-unlock {background-image:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/sec-unlocked.png);}

#authlogin_menu.hd_loginform_container li a,
.tn_top_lg li ul li a,
.tn_top_nav_cn li a{
	display:block;
	text-decoration:none;
	color:#8fa0a6;
	font-size:13px;
	font-weight:bold;
	padding:8px 15px 9px;
	text-shadow:0 1px 1px #fff;
}
.tn_top_nav_cn li a:hover,
.tn_top_nav_cn li.current a:hover,
.tn_top_nav_cn li.current a{
	color:#505665;
	text-shadow:0 -1px 1px rgba(255,255,255,.7);
	padding:8px 14px 9px;
	background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gn_general_nav_bg_li_hover.png) top;
}
.tn_top_lg:hover,
.tn_top_nav_cn li.current a:hover,
.tn_top_nav_cn li.current a{
	background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gn_general_nav_bg_li_current.png) top;
	background-size:100% 100%;
}
.tn_top_nav_cn li a:hover{
	border:none;
	padding:8px 15px 10px;
	box-shadow:none;
}
.tn_top_lg>li.more,
.tn_top_nav_cn li.more{position:relative}
.tn_top_nav_cn li.more>a{padding-right:5px}

.tn_top_lg>li.more>a span,
.tn_top_nav_cn li.more>a span{
	display:inline-block;
	background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/tn_top_nav_li_more.png) no-repeat top right;
	width:5px;
	height:5px;
	padding-left:10px;
}
.tn_top_lg>li.more>a{position:relative;margin:3px 0}
.tn_top_lg>li.more>a span{
	padding-left:25px;
	position:relative;
	top:-3px;
}
#authlogin_menu.hd_loginform_container li a{padding:5px}
#authlogin_menu.hd_loginform_container,
.tn_top_lg ul,
.tn_top_nav_cn li.more ul{
	position:absolute;
	display:none;
	right:0;
	padding:10px 0 0 0;
	z-index:1800;
	background:none;
	border:none;
	box-shadow:none;
	
}
#authlogin_menu.hd_loginform_container li,
.tn_top_lg ul li,
.tn_top_nav_cn li.more ul li{
	position:relative;
	display:block;
	width:100%;
	background:#fff;
	border:1px solid #d2dfe4;
	border-bottom:none;
	white-space:nowrap;
}
#authlogin_menu.hd_loginform_container li:hover,
#authlogin_menu.hd_loginform_container li:hover a,
.tn_top_lg ul li:hover,
.tn_top_lg ul li:hover a,
.tn_top_nav_cn li.more ul li:hover a{background:#e3ebed}

.tn_top_lg ul li .arrow,
.tn_top_nav_cn li.more ul li .arrow,
.hd_loginform_container .arrow{
	position:absolute;
	display:block;
	width:19px;
	height:10px;
	background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gui2.png) no-repeat 0 0;
	right:20px;
	top:-10px;
}
.tn_top_lg ul li .arrow{right:10px}
#authlogin_menu.hd_loginform_container li:hover .arrow,
.tn_top_lg ul li:hover .arrow,
.tn_top_nav_cn li.more ul li:hover .arrow{background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gui2.png) no-repeat 0 -10px}

#authlogin_menu.hd_loginform_container li:first-child,
.tn_top_lg ul li:first-child,
.tn_top_nav_cn li.more ul li:first-child{border-radius:4px 4px 0 0}

#authlogin_menu.hd_loginform_container li:last-child,
.tn_top_lg ul li:last-child,
.tn_top_nav_cn li.more ul li:last-child{
	border-radius:0 0 4px 4px;
	border:1px solid #d2dfe4;
}
.tn_top_lg{
	position:absolute;
	right:15px;
	top:0;
	display:block;
	margin:0;
	padding:0;
	width:42px;
	height:34px;
}
.tn_top_lg>li{
	list-style:none;
	cursor:pointer;
	padding:8px 5px 10px;
}
.tn_top_lg>li .flag{
	display:inline-block;
	width:6px;
	height:12px;
	position:relative;
	margin-bottom:-1px;
	margin-right:10px;
	padding-right:10px;
}
.tn_top_lg ul{padding-top:15px}
.flag.ru{background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gui2.png) no-repeat 0 -21px}
.flag.ua{background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gui2.png) no-repeat -16px -21px}
.flag.en{background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gui2.png) no-repeat 0 -34px}
.flag.de{background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gui2.png) no-repeat 0 -46px}

#authlogin_menu.hd_loginform_container{	/* left:0;*/top:29px}
#authlogin {position:relative;display: inline-block; float: right}
#authlogin #authlogin_menu{bottom:0; margin: 0;}

/* .hd_loginform_container li{
	position:relative;
	display:block;
	width:115px;
	background:#fff;
	border:1px solid #d2dfe4;
	border-bottom:none;
	white-space:nowrap;
} */

/* .hd_loginform_container li:last-child{border-bottom:1px solid #d2dfe4} */

.hd_loginform_container{
	/* top:25px;*/
/* 
	border-radius:3px;
	border:1px solid #d9e4e7;
	background:#fff;
	box-shadow:0 10px 18px 0 rgba(88,112,118,.35);
	z-index:10;
	margin:0;
	padding:0px;
	display:none;*/
} 

.hd_loginform_container .arrow{
	margin-left:-10px;
}

.wpap_hd_header{background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gn_general_nav_bg.png) repeat-x top}
.hd_header{
	/* width:100%;*/
	max-width:1135px;
	min-width:920px;
	padding:0 15px;
	margin:0 auto;
	height:78px;
}
.hd_header table{
	padding:0;
	margin:0;
	width:100%;
	border-collapse:collapse;
	border:none;
	height:78px;
	clear: both;
}
.hd_header table tr td{
	padding:0;
	margin:0;
	height:78px;
	white-space:nowrap;
}
.hd_logo{
	vertical-align:top;
	width:178px
}
.hd_slogan{width:100%}
.hd_slogan span{
	color:#555c69;
	font-size:13px;
	padding-left:20px;
}
.hd_signin{
	position:relative;
	min-width:128px !important;
	display:inline-block;
	float: right;
	position: relative;
}
.hd_loginform_container{
	position:absolute;
	top:35px;
	left:-110px;
	width:236px;
	border-radius:3px;
	border:1px solid #d9e4e7;
	background:#fff;
	box-shadow:0 10px 18px 0 rgba(88,112,118,.35);
	z-index:10;
}
.hd_loginform_container .arrow{
	left:65%;
	margin-left:-10px;
}
.hd_loginform{
	white-space:normal;
	padding:17px 18px;
	font-size:13px;
	color:#555c69;
}
.hd_loginform form{
	margin: 0;
}
.closemodal,
.hd_loginform_container_close{
	display:block;
	width:35px;
	cursor:pointer;
	height:27px;
	position:absolute;
	left:100%;
	margin-left:-14px;
	top:-13px;
	background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gui2.png) no-repeat 0 -710px !important;
}

.hd_loginform input[type="password"],
.hd_loginform input[type="text"]{
	background:#fff;
	box-shadow:inset 0 1px 2px 1px rgba(228,238,244,.7);
	border-top:1px solid #b7bec5;
	border-right:1px solid #bec5cb;
	border-bottom:1px solid #c6ccd1;
	border-left:1px solid #bec5cb;
	border-radius:3px;
	padding:7px 7px 6px;
	width:185px;
	margin-bottom:15px;
}
.hd_loginform table{
	width:100%;
	padding:0;
	height:20px;
	margin:0;
	border-collapse:collapse;
}
.hd_loginform table tr td{
	padding:0;
	height:20px;
}
.hd_loginform table tr td:last-child{text-align:right}
.hd_loginform table tr td a{font-size:13px}

.hd_cart{min-width:102px !important}
.hd_signin span,
.icon_cart{
	display:inline-block;
	width:16px;
	height:16px;
	bottom:-2px;
	position:relative;
	background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gui2.png) no-repeat;
}
.hd_signin span	{background-position:0 -58px}
.icon_cart{background-position:0 -75px}
.hd_signin a,
.hd_cart a{
	/* color:#1a77c8;*/
	font-size:13px;
}
.hd_signin>div>a,
.hd_cart>a{padding-left:10px}
.hd_cart a span{
	display:inline-block;
	background:#e0e8ec;
	border-radius:8px;
	padding:1px 6px;
	box-shadow:0 1px 1px 0 #fff, inset 0 1px 1px 1px #b1b8c0;
	color:#78898f;
	text-shadow:0 1px 1px #fff;
	font-size:13px;
	margin-right:20px;
}
.hd_signin #auth-logout-forma{
	color:#555c69;
	font-size:13px;
}
.hd_search_box{
	background:#fff;
	box-shadow:inset 0 1px 2px 1px rgba(228,238,244,.7);
	border-top:1px solid #a4b7bf;
	border-right:1px solid #b1c1cb;
	border-bottom:1px solid #bbcad4;
	border-left:1px solid #b1c1cb;
	border-radius:3px;
	width:220px;
}
.hd_search_box input[type="text"]{
	width:187px;
	height:28px;
	padding-left:10px;
	background:none;
	border:none;
}
.hd_search_box input[type="submit"]{
	width:19px;
	height:16px;
	border:none;
	position:relative;
	bottom:-2px;
	background:url(/bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/images/gui2.png) no-repeat 0 -92px;
	cursor:pointer;
}
.hd_top_menu_search{
	right:0;
	position:relative;
}

.bt_green 
{
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: linear-gradient(to bottom, #a2d43b 0%, #689a01 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-color: #88c900 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-radius: 3px;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    box-shadow: 0 2px 0 -1px rgba(255, 255, 255, 0.5) inset, 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: #fff !important;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    margin-right: 5px;
    padding: 8px 17px !important;
    text-decoration: none;
    text-shadow: 0 0 1px rgba(52, 100, 119, 0.05), 0 1px 1px rgba(0, 0, 0, 0.2);
}
/* End */


/* Start:/bitrix/templates/.default/components/bitrix/learning.course.list/course_dropdown_list/style.css?14888043704556*/
#courses_list_container.dark
{
	background: linear-gradient(to top, rgba(170,170,170,0.5), rgba(240,240,240,1));
    border: medium none;
    border-radius: 2px;
	color: #222;
    display: inline-block;
    line-height: 19px;
	padding: 5px 10px;
    position: relative;
    float: left;
	margin-right: 50px;
	font-size: 12px;
	transition-duration: 0.3s;
	transition-property: box-shadow;
}

#courses_list_container.dark:hover
{
	box-shadow: 0 0 6px 2px #efefef;
}

#courses_list_container.dark:hover
{
	cursor: default;
}
	
	#courses_list_container.dark:hover .courses_list
	{
		visibility: visible;
		height: auto;
		opacity: 1;
	}

	#courses_list_container.dark .courses_list
	{
		position: absolute;
		top: 100%;
		left: -10px;
		background-color: #343434;
		z-index: 200;
		margin-top: -1px;
		padding: 0;
		max-height: 700px;
		overflow: auto;
		border-radius: 4px;
		line-height: 20px;
		height: 0px;
		opacity: 0;
		transition-duration: 0.3s;
		transition-property: opacity;
		box-shadow: 0 0 4px #343434;
		visibility: hidden;
	}
	
	#courses_list_container.dark .courses_list:hover
	{
		visibility: visible;
	}
	
		#courses_list_container.dark .courses_list LI
		{
			margin: 0;
			list-style: none;
			white-space: nowrap;
			padding: 0;
			transition-property: background-color;
			transition-duration: 0.1s;
			border-bottom: 1px solid rgba(250, 250, 250, 0);
			border-top: 1px solid rgba(250, 250, 250, 0);
		}
		
			#courses_list_container.dark .courses_list LI:nth-child(1)
			{
				margin-top: 0;
			}
			
			#courses_list_container.dark .courses_list LI:hover:nth-child(1)
			{
				border-top: 1px solid rgba(250, 250, 250, 0);
			}
			
			#courses_list_container.dark .courses_list LI:hover:nth-last-child(1)
			{
				border-bottom: 1px solid rgba(250, 250, 250, 0);
			}
		
			#courses_list_container.dark .courses_list LI A
			{
				display: block;
				text-decoration: none;
				font-size: 14px;
				color: #dedede;
				word-wrap: normal;
				padding: 0 20px 0 11px;
				line-height: 20px;
			}
			
			#courses_list_container.dark .courses_list LI:hover
			{
				background-color: #615858;
				border-bottom: 1px solid rgba(250, 250, 250, 0.2);
				border-top: 1px solid rgba(250, 250, 250, 0.2);
			}
			
#courses_list_container.light
{
	background-color: #fff;
    border: 1px solid #ccc;
	color: #555;
    display: inline-block;
    line-height: 19px;
	padding: 5px 10px;
    position: relative;
    float: left;
	margin-right: 50px;
	font-size: 12px;
	height: 20px;
	transition-duration: 0.3s;
	transition-property: box-shadow;
	z-index: 150;
}

#courses_list_container.light:hover
{
	box-shadow: 0 0 4px #333;
}

#courses_list_container.light:hover
{
	cursor: default;
}
	
	#courses_list_container.light:hover .courses_list
	{
		visibility: visible;
		height: auto;
		opacity: 1;
	}

	#courses_list_container.light .courses_list
	{
		position: absolute;
		top: 100%;
		left: -10px;
		background-color: #dde1e5;
		z-index: 20;
		margin-top: -1px;
		padding: 0;
		overflow: auto;
		line-height: 20px;
		height: 0;
		visibility: hidden;
		opacity: 0;
		transition-duration: 0.3s;
		transition-property: opacity;
		border: 1px solid #ccc;
	}
	
	#courses_list_container.light .courses_list:hover
	{
		visibility: visible;
	}
	
		#courses_list_container.light .courses_list LI
		{
			margin: 0;
			list-style: none;
			white-space: nowrap;
			padding: 0;
			transition-property: background-color;
			transition-duration: 0.1s;
			border-bottom: 1px solid rgba(250, 250, 250, 0);
			border-top: 1px solid rgba(250, 250, 250, 0);
		}
		
			#courses_list_container.light .courses_list LI:nth-child(1)
			{
				margin-top: 0;
			}
			
			#courses_list_container.light .courses_list LI:hover:nth-child(1)
			{
				border-top: 1px solid rgba(250, 250, 250, 0);
			}
			
			#courses_list_container.light .courses_list LI:hover:nth-last-child(1)
			{
				border-bottom: 1px solid rgba(250, 250, 250, 0);
			}
		
			#courses_list_container.light .courses_list LI A
			{
				display: block;
				text-decoration: none;
				font-size: 14px;
				color: #343434;
				word-wrap: normal;
				padding: 0 20px 0 11px;
				line-height: 22px;
				
			}
			
			#courses_list_container.light .courses_list LI:hover
			{
				background-color: #b8bcc0;
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				border-top: 1px solid rgba(0, 0, 0, 0.2);
			}
/* End */


/* Start:/bitrix/components/bx/learning.course.comment.button/templates/.default/style.css?1482412094784*/
.learning-comment-btn-cnr
{
	bottom: 50px;
	height: auto;
	position: fixed;
	right: 50px;
	width: auto;
	z-index: 100;
	display: none;
}

.learning-comment-btn-cnr.learning-comment-btn-cnr-show
{
	display: block;
}

.learning-comment-btn
{
	position: relative;
	z-index: 101;
	background: rgba(0, 0, 0, 0) url("/bitrix/components/bx/learning.course.comment.button/templates/.default/img/learning_comment_btn_sprite.png") no-repeat scroll 0 -108px;
	width: 39px;
	height: 39px;
	cursor: pointer;
	border-radius: 50px;
}

.learning-comment-btn.light-btn
{
	background: rgba(0, 0, 0, 0) url("/bitrix/components/bx/learning.course.comment.button/templates/.default/img/learning_comment_btn_sprite.png") no-repeat scroll 0 -54px;
}

.learning-comment-btn.dark-btn
{
	background: rgba(0, 0, 0, 0) url("/bitrix/components/bx/learning.course.comment.button/templates/.default/img/learning_comment_btn_sprite.png") no-repeat scroll 0 -108px;
}

.learning-comment-btn:hover
{
	box-shadow: 0 0 12px -5px #000;
}
/* End */


/* Start:/bitrix/templates/learning_new_2014/template_styles.css?149483920626160*/
.playdoc div.video_learning
{
	display: inline-block;
	z-index: 140;
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat 100px;
	content: '';
	height: 31px;
	top: 20px;
	left: 15px;
	position: absolute;
	width: 31px;
	background-position: 0 -945px;
}

.play div.video_learning
{
	display: inline-block;
	z-index: 140;
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat 100px;
	content: '';
	height: 31px;
	top: -9px;
	left: -6px;
	position: absolute;
	width: 31px;
	background-position: 0 -912px;
}

.video_learning:hover
{
	cursor: pointer;
}

.video_learning .hide_video
{
	display: none;
}

#learning_video_container
{
	background-color: rgba(0, 0, 0, 0.6);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1005;
}

#learning_video_container .video_wrapper
{
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	border-radius: 10px;
}

#learning_video_container .video_wrapper #close_video_button
{
	background: url("/bitrix/templates/learning_new_2014/images/controls-sprite.png") no-repeat scroll 0 -283px rgba(0, 0, 0, 0);
	cursor: pointer;
	height: 13px;
	margin-right: -4px;
	outline: medium none;
	position: absolute;
	right: 10px;
	top: 4px;
	width: 13px;
	border-radius: 50px;
}

#learning_video_container .video_wrapper #close_video_button:hover
{
	background: url("/bitrix/templates/learning_new_2014/images/controls-sprite.png") no-repeat scroll -17px -283px rgba(0, 0, 0, 0);
}

#learning_video_container iframe, .hide_video iframe
{
	border: 3px solid #747474;
	border-radius: 3px;
}

@media (max-width: 970px)
{
	.courses-pre-header-container select
	{
		display: none !important;
	}
}

.courses-pre-header-container select option.block_start
{
	margin-top: 15px;
}

.courses-pre-header-container select option
{
	padding-left: 5px;
}

.learn-rating
{
	padding-top: 20px;
}

h1, h2, h3, h4
{
	margin-bottom: .4em;
	margin-top: 2em;
	font-weight: bold;
}

h1
{
	font-size: 140%;
}

h2
{
	font-size: 120%;
	line-height: 100%;
}

h3
{
	margin-left: 0;
	font-size: 115%;
}

h4
{
	font-size: 100%;
}

* html pre.syntax
{
	height: expression( this.scrollHeight > 159 ? "160px" : "auto" ); /* sets max-height for IE */
}

pre.syntax
{
	font-family: Courier New;
	background-color: #eee;
	padding: 1em 1em 1em 1em;
	border: 1px solid #ddd;
	width: 750px;
	/*height: 80px;*/
	max-height: 160px;
	overflow: auto;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

code
{
	font-family: Courier New, Verdana, Arial;
	font-size: 13px;
	font-weight: bold;
	background-color: #eee;
	padding: 3px 10px;

}

span.path
{
	color: #4682b4;
	font-style: italic;

}

span.link
{
	color: #03c;
}

/* Spoiler */
table.learning-spoiler thead
{
	cursor: pointer;
}

table.learning-spoiler thead div
{
	background-image: url("/bitrix/templates/learning_new/./images/plus.gif");
	background-position: left center;
	background-repeat: no-repeat;
	padding-left: 25px;
}

table.learning-spoiler thead.learning-spoiler-head-open div
{
	background-image: url("/bitrix/templates/learning_new/./images/minus.gif");
}

table.learning-spoiler
{
	background-color: #eee;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 3px;
	table-layout: fixed;
	width: 100%;
}

table.learning-spoiler td
{
	color: black;
	padding: 7px 12px;
	display: block;
	overflow-x: auto;
}

table.learning-spoiler th
{
	color: black;
	font-size: 12px;
	font-weight: bold;
	text-align: left;
}

table.learning-spoiler td table td
{
	padding: 3px;
	margin: 0;
	display: table-cell;
}

table.learning-spoiler td table td p
{
	padding: 0;
	margin: 0;
	font-size: 12px;
}

/* /Spoiler */

/*Error & OK messages*/
.errortext
{
	color: red;
}

.notetext
{
	color: green;
}

/* Used to draw a "star" near reqired field */
.starrequired
{
	color: red;
}

.tree-item-closed ul
{
	display: none;
}

h1
{
	margin-top: 20px;
}

#scrollup
{
	position: fixed;
	width: 64px;
	opacity: 0.5;
	padding: 15px 10px 10px;
	background: #aaa;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	display: none;
	cursor: pointer;
	bottom: 10px;
}

#scrollup-wrapper
{
	width: 64px;
	position: absolute;
	bottom: 0;
	left: 1100px;
}

.courses-main-wrapper
{
	width: 1090px;
	margin: 0 auto;
	background: #fff url(/bitrix/templates/learning_new_2014/images/grey-strip.png) repeat-y 0;
	box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.1);
	border: 1px solid #e2e2e2;
	border-top: none;
	border-bottom: none;
	position: relative;
}

.hd_signin li
{
	margin: 0;
	padding: 0;
}

#panel
{
	height: 0;
	padding: 0;
}

#header
{
	padding: 0;
	vertical-align: top;
}

#layout
{
	height: 100%;
	width: 100%;
}

#header-layout
{
	height: 155px;
	width: 100%;
	table-layout: fixed;
}

#logo
{
	background: transparent url(/bitrix/templates/learning_new_2014/images/sidebar.png) repeat-y 0 0;
	width: 286px;
	color: #000;
	text-align: center;
	font-size: 18px;
	padding: 0;
}

.courses-main-wrapper .syntax
{
	width: 90%;
	white-space: pre-wrap;
}

.bx-ilike-text
{
	color: #7e7575;
}

#logo-box
{
	height: 100%;
	background: transparent url(/bitrix/templates/learning_new_2014/images/logo.gif) no-repeat;
	position: relative;
}

#logo-text
{
	position: absolute;
	left: 105px;
	top: 27px;
	font: normal 19px/normal Arial, Helvetica, sans-serif;
	color: #000;
}

#toolbar
{
	position: absolute;
	left: 24px;
	top: 113px;
	height: 32px;
}

.toolbar-item, .toolbar-icon
{
	display: inline-block;
	width: 32px;
	height: 32px;
	cursor: pointer;
}

.toolbar-item
{
	background: url(/bitrix/templates/learning_new_2014/images/toolbar-icons.gif) no-repeat 0 -32px;
}

.toolbar-item:hover
{
	background: url(/bitrix/templates/learning_new_2014/images/toolbar-icons.gif) no-repeat -32px -32px;
}

.toolbar-icon-tests
{
	background: url(/bitrix/templates/learning_new_2014/images/toolbar-icons.gif) no-repeat -96px 0;
}

.toolbar-icon-gradebook
{
	background: url(/bitrix/templates/learning_new_2014/images/toolbar-icons.gif) no-repeat -32px 0;
}

.toolbar-icon-contents
{
	background: url(/bitrix/templates/learning_new_2014/images/toolbar-icons.gif) no-repeat 0 0;
}

.toolbar-icon-printer
{
	background: url(/bitrix/templates/learning_new_2014/images/toolbar-icons.gif) no-repeat -65px 0;
}

#title
{
	padding: 0;
	vertical-align: top;
}

#title-layout
{
	width: 100%;
	height: 155px;
	table-layout: fixed;
}

#course-title-box
{
	position: relative;
}

#course-title
{
	padding: 0 0 0 40px;
	vertical-align: middle;
	height: 67px;
	background: #eff2f4 url(/bitrix/templates/learning_new_2014/images/course-title-bg.gif) repeat-x;
	font: normal 23px/normal Arial, Helvetica, sans-serif;
}

#course-title-text
{
	margin-right: 261px;
}

#page-title
{
	padding: 0;
	vertical-align: bottom;
}

#page-title-box
{
	margin: 10px 46px 0 27px;
	position: relative;
	zoom: 1;
}

#page-title-numbers
{
	position: absolute;
	top: 10px;
	right: 10px;
	font: normal 17px/normal Arial, Helvetica, sans-serif;
	color: #a19b7d;
}

#page-title-box .r0, #page-title-box .r1
{
	border-left: 1px solid #fffae1;
	border-right: 1px solid #fffae1;
	background: #fff6c6;
}

#page-title-text
{
	padding: 5px 68px 5px 13px;
	font: normal 20px/normal Arial, Helvetica, sans-serif;
	background: #fff6c6;
}

#course
{
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 0;
}

/*Work area container*/
#workarea
{
	height: 100%;
	padding: 0;
	vertical-align: top;
}

/*Work area table*/
#workarea table.learn-work-table
{
	height: 100%;
	width: 100%;
	background: transparent url(/bitrix/templates/learning_new_2014/images/sidebar.png) repeat-y 0 0;
}

/*Left data cell*/
#workarea table.learn-work-table td.learn-left-data
{
	vertical-align: top;
	width: 254px;
	padding: 12px 8px 12px 19px;
}

/*Right data cell*/
#workarea table.learn-work-table td.learn-right-data
{
	vertical-align: top;
	padding: 12px 52px 35px 40px;
}

/*Min-width for left cell*/
div.learn-course-tree
{
	width: 254px;
}

#footer
{
	background: url(/bitrix/templates/learning_new_2014/images/sidebar.png) repeat-y;
	height: 45px;
	padding: 0 0 0 325px;
	vertical-align: top;
}

#footer-inner
{
	border-top: 1px solid #f0e9e5;
	padding-top: 13px;
}

#footer-text
{
	color: #999;
	cursor: pointer;
	vertical-align: top;
}

#footer-text-arrow
{
	display: inline-block;
	background: url(/bitrix/templates/learning_new_2014/images/toolbar-icons.gif) no-repeat -186px -2px;
	width: 10px;
	height: 9px;
	vertical-align: top;
	font-size: 1px;
}

div.learn-course-back, div.learn-course-next
{
	background-position: 0 4px;
	height: 15px;
}

a
{
	color: #1952d3;
}

.errortext
{
	color: red;
	font-weight: bold;
	background: none repeat scroll 0 0 #f8f8f8;
	display: block;
	padding: 15px;
}

/* Round Corners*/
.r0, .r1, .r2, .r3, .r4
{
	overflow: hidden;
	font-size: 1px;
	display: block;
	height: 1px;
}

.r4
{
	margin: 0 4px;
}

.r3
{
	margin: 0 3px;
}

.r2
{
	margin: 0 2px;
}

.r1
{
	margin: 0 1px;
}

.courses-post img
{
	max-width: 100%;
	height: auto
}

body
{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	margin: 0;
	padding: 0;
	background: #f8f8f8;
	position: relative;
}

a
{
	color: #1f67b0;
}

a:hover
{
	color: #4ca5ff;
}

ul
{
	list-style: none;
	padding: 0 0 0 5px;
}

ol
{
	padding: 0 0 0 5px;
}

ul li, ul ul ul ul li, ul ul ul ul ul ul ul li
{
	list-style: disc outside;
	margin: 3px 0 3px 16px;
	padding-left: 8px;
}

ol li
{
	margin: 3px 0 3px 16px;
	padding-left: 8px;
}

ul ul li, ul ul ul ul ul li, ul ul ul ul ul ul ul ul li
{
	list-style: square outside;
}

ul ul ul li, ul ul ul ul ul ul li
{
	list-style: circle outside;
}

p
{
	margin: 24px 0;
	line-height: 19px;
}

.courses-pre-header
{
	background: #4a4a4a;
	border-bottom: 1px solid #3d3d3d;
	color: #e3e3e3;
	/*ovh*/
}

.courses-pre-header-container
{
	/*width: 990px;*/
	margin: 0 auto;
	position: relative;
	padding: 20px 30px;
	min-width: 680px;
}

.courses-pre-header input.header-link
{
	background: none;
	border: none;
	outline: none;
	padding: 0;
	text-decoration: underline;
	margin: 0;
}

.courses-pre-header .header-link
{
	color: #fff;
	display: inline-block;
	margin: 0 12px 0 14px;
	font-size: 13px;
	position: relative;
	line-height: 30px;
}

.favorite_containter
{
	display: inline-block;
	text-align: right;
	float: right;
	line-height: 30px;
}

.add_new_favorite
{
	background: url("/bitrix/templates/learning_new_2014/images/favorit.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: inline-block;
	height: 12px;
	position: relative;
	width: 11px;
}

.current_page
{
	background-color: #e2ebff;
}

.already_favorite
{
	background: url("/bitrix/templates/learning_new_2014/images/already_favorit.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	display: inline-block;
	height: 12px;
	position: relative;
	width: 11px;
}

.loading_favorite
{
	background: url("/bitrix/templates/learning_new_2014/images/loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
	bottom: -5px;
	display: inline-block;
	height: 16px;
	left: 3px;
	position: relative;
	width: 16px;
}

.add_new_favorite:hover, .courses-pre-header input.header-link:hover
{
	cursor: pointer;
}

.courses-header-container
{
	/*width: 990px;*/
	margin: 0 auto;
	position: relative;
	line-height: 46px;
	padding: 0 30px;
}

.courses-header
{
	background: #423939;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #423939), color-stop(100%, #7e7575));
	background: -webkit-linear-gradient(top, #423939 0%, #7e7575 100%);
	background: -moz-linear-gradient(top, #423939 0%, #7e7575 100%);
	background: -ms-linear-gradient(top, #423939 0%, #7e7575 100%);
	background: -o-linear-gradient(top, #423939 0%, #7e7575 100%);
	background: linear-gradient(top, #423939 0%, #7e7575 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#423939', endColorstr='#7e7575', GradientType=0);
	border-bottom: 1px solid #cfcfcf;
	height: 49px;
	overflow: hidden;
}

.courses-logo
{
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat 8px -386px;
	color: #dedede;
	display: inline-block;
	font-size: 20px;
	text-decoration: none;
	/*padding: 10px 0 0 50px;*/
	padding: 0 0 0 50px;
	line-height: 50px;
	height: 50px;
}

.courses-logo:hover
{
	color: #dedede;
	text-decoration: none;
}

.pre-header-right-block
{
	float: right;
}

.pre-header-left-block
{
	float: left;
}

.header-right-block
{
	float: right;
	line-height: 45px;
	vertical-align: middle;
}

.header-link
{
	color: #e3e3e3;
	display: inline-block;
	font-size: 13px;
	margin: 0 12px 0 14px;
	position: relative;
	text-shadow: 0 -1px 0 #373737;
}

.header-link:hover
{
	text-decoration: underline;
	color: #fff;
}

.courses-pre-header .header-link span
{
	text-decoration: underline;
	font-weight: 200;
}

.courses-pre-header .header-link:hover span
{
	text-decoration: none;
}

.courses-pre-header .header-link:hover
{
	text-decoration: none;
	color: #fff;
}

.courses-pre-header .header-link strong
{
	display: inline-block;
	border: 1px solid #989898;
	line-height: 21px;
	padding: 0 5px;
	border-radius: 3px;
	margin-left: 4px;
}

.header-link.favorit
{
	position: relative;
}

.courses-pre-header-container select
{
	background-image: -webkit-linear-gradient(#393939 0%, #424242 100%);
	background-image: -o-linear-gradient(#393939 0%, #424242 100%);
	background-image: linear-gradient(#393939 0%, #424242 100%);
	border: 1px solid #575757;
	border-radius: 3px;
	color: #8b8b8b;
	outline: none;
	padding: 2px 4px;
	margin-left: 15px;
	box-shadow: inset 0 1px 1px 0 #343434;
	float: left;
	height: 30px;
	display: inline-block;
	width: 300px;
	margin-right: 30px;
}

.courses-left-side
{
	float: left;
	width: 297px;
}

.left-side-top-bar
{
	border-bottom: 1px solid #fbfbfb;
	-webkit-box-shadow: inset 0 -1px 0 #dfdfdf;
	box-shadow: inset 0 -1px 0 #dfdfdf;
	height: 55px;
	padding-left: 20px;
	position: relative;
	width: 237px;
}

.left-side-top-bar-separator
{
	background: url(/bitrix/templates/learning_new_2014/images/top-separator.png) no-repeat right 0;
	bottom: -1px;
	left: 0;
	height: 2px;
	position: absolute;
	width: 100%;
}

.left-side-link
{
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat 100px;
	display: inline-block;
	margin: 11px 3px 0;
	height: 36px;
	vertical-align: top;
	width: 36px;
}

.certification-link
{
	background-position: center -190px;
}

.all-materials-link
{
	background-position: center -237px;
}

.log-link
{
	background-position: center -286px;
}

.print-link
{
	background-position: center -334px;
}

.certification-link:hover
{
	background-position: center -461px;
}

.all-materials-link:hover
{
	background-position: center -502px;
}

.log-link:hover
{
	background-position: center -544px;
}

.print-link:hover
{
	background-position: center -585px;
}

.courses-main-menu-wrap
{
}

.main-menu
{
	margin: 0;
	padding: 16px 20px 0 13px;
}

.main-menu-item
{
	background: none;
	line-height: normal;
	margin: 0 0 7px;
	list-style: none;
	padding: 0;
}

.main-menu-link
{
	border-radius: 3px;
	display: block;
	min-height: 27px;
	padding-left: 22px;
	position: relative;
	text-decoration: none;
}

.main-menu-no-submenu .main-menu-link
{
	padding-left: 10px;
}

.main-menu-link:hover
{
	background: #e2e2e2;
	background: -moz-linear-gradient(top, #e9e9e9, #dcdcdc);
	background: -webkit-linear-gradient(top, #e9e9e9, #dcdcdc);
	background: -o-linear-gradient(top, #e9e9e9, #dcdcdc);
	background: -ms-linear-gradient(top, #e9e9e9, #dcdcdc);
	background: linear-gradient(to bottom, #e9e9e9, #dcdcdc);
}

.main-menu-item-active > .main-menu-link
{
	background: #e2e2e2;
	background: -moz-linear-gradient(top, #dcdcdc, #e9e9e9);
	background: -webkit-linear-gradient(top, #dcdcdc, #e9e9e9);
	background: -o-linear-gradient(top, #dcdcdc, #e9e9e9);
	background: -ms-linear-gradient(top, #dcdcdc, #e9e9e9);
	background: linear-gradient(to bottom, #dcdcdc, #e9e9e9);
}

.main-menu-arrow
{
	border-radius: 3px 0 0 3px;
	display: inline-block;
	height: 100%;
	left: 0;
	top: 0;
	position: absolute;
	width: 22px;
}

.main-menu-arrow:hover
{
	background: #e2e2e2;
	background: -moz-linear-gradient(top, #e1e1e1, #c9c9c9);
	background: -webkit-linear-gradient(top, #e1e1e1, #c9c9c9);
	background: -o-linear-gradient(top, #e1e1e1, #c9c9c9);
	background: -ms-linear-gradient(top, #e1e1e1, #c9c9c9);
	background: linear-gradient(to bottom, #e1e1e1, #c9c9c9);
}

.main-menu-arrow:hover:before
{
	background-position: 8px -625px;
}

.main-menu-item-active .main-menu-arrow:hover
{
	background: #d4d5d5;
	background: -moz-linear-gradient(top, #c8c8c8, #e1e1e1);
	background: -webkit-linear-gradient(top, #c8c8c8, #e1e1e1);
	background: -o-linear-gradient(top, #c8c8c8, #e1e1e1);
	background: -ms-linear-gradient(top, #c8c8c8, #e1e1e1);
	background: linear-gradient(to bottom, #c8c8c8, #e1e1e1);
}

.main-menu-item-active .main-menu-arrow:hover
{
	background: #d4d5d5;
	background: -moz-linear-gradient(top, #c8c8c8, #e1e1e1);
	background: -webkit-linear-gradient(top, #c8c8c8, #e1e1e1);
	background: -o-linear-gradient(top, #c8c8c8, #e1e1e1);
	background: -ms-linear-gradient(top, #c8c8c8, #e1e1e1);
	background: linear-gradient(to bottom, #c8c8c8, #e1e1e1);
}

.main-menu-arrow:before
{
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat 8px -424px;
	content: "";
	height: 27px;
	left: 0;
	top: 0;
	position: absolute;
	width: 22px;
}

.main-menu-item-open > .main-menu-link > .main-menu-arrow:before
{
	background-position: -14px -424px;
}

.main-menu-item-open > .main-menu-link > .main-menu-arrow:hover:before
{
	background-position: -14px -625px;
}

.main-menu-item-active > .main-menu-link > .main-menu-arrow:before
{
	background-position: 8px -625px;
}

.main-menu-item-active.main-menu-item-open > .main-menu-link > .main-menu-arrow:before
{
	background-position: -14px -625px;
}

.main-menu-no-submenu .main-menu-arrow,
.main-menu-no-submenu .main-menu-arrow:before
{
	background: none;
}

.main-menu-text
{
	color: #000;
	display: inline-block;
	font-size: 13px;
	min-height: 18px;
	padding: 6px 0 3px;
	text-decoration: none;
	vertical-align: top;
	width: 242px;
}

.main-menu-text:hover
{
	color: #000;
}

.main-menu-item-active > .main-menu-link > .main-menu-text
{
	font-weight: bold;
}

.main-submenu .main-menu-text
{
	width: 180px;
}

.main-submenu
{
	margin-top: 7px;
	padding: 0 0 0 23px;
}

.courses-right-side
{
	max-width: 760px;
	overflow: hidden;
	/*padding: 16px 85px 0 35px;*/
	padding: 16px 22px 0;
	/*padding: 16px 0 0 35px;*/
}

.courses-main-title
{
	color: #585858;
	font-weight: normal;
	font-size: 26px;
	margin-bottom: 15px;
	padding: 0;
}

.courses-search-block
{
	display: inline-block;
	width: 300px;
	line-height: 50px;
	vertical-align: middle;
}

.courses-search
{
	background: #fff;
	border: 1px solid;
	border-color: #d9d9d9 #dedede #e3e3e3 #dedede;
	-webkit-box-shadow: inset 1px 1px 1px 0 #f4f4f4;
	box-shadow: inset 1px 1px 1px 0 #f4f4f4;
	border-radius: 2px;
	color: #000;
	display: block;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	height: 29px;
	outline: none;
	padding: 0 14px;
	line-height: 29px;
	/*width: 546px;*/
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.courses-search::-webkit-input-placeholder
{
	color: #bababa;
}

.courses-search:-moz-placeholder
{
	color: #555454;
}

.courses-search::-moz-placeholder
{
	color: #555454;
}

.courses-search:-ms-input-placeholder
{
	color: #bababa;
}

.courses-post-title
{
	margin: 27px 0 25px;
}

.courses-main-wrapper .warning,
.courses-main-wrapper .note,
.courses-main-wrapper .tip,
.courses-main-wrapper .hint,
.courses-main-wrapper .play,
.courses-main-wrapper .playdoc
{
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 6px;
	color: #000;
	font-size: 14px;
	min-height: 38px;
	margin: 24px 0;
	padding: 19px 30px 24px 42px;
	position: relative;
}

.courses-main-wrapper .playdoc
{
	padding: 19px 30px 24px 62px;
}

.courses-main-wrapper .warning
{
	background: #fef2f2;
	border-color: #fcdddd;
}

.courses-main-wrapper .note
{
	background: #f6fbf3;
	border-color: #ceebbd;
}

.courses-main-wrapper .tip
{
	background: #fffcf9;
	border-color: #fcecda;
}

.courses-main-wrapper .hint
{
	background: #f7fafe;
	border-color: #e4eefb;
}

.courses-main-wrapper .play
{
	background: #f2fbfc;
	border-color: #d7ebf0;
}

.courses-main-wrapper .playdoc
{
	background: #f2fbfc;
	border-color: #d7ebf0;
}

.courses-info-title
{
	font-weight: bold;
}

.courses-main-wrapper .warning:before,
.courses-main-wrapper .note:before,
.courses-main-wrapper .tip:before,
.courses-main-wrapper .hint:before
{
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat 100px;
	content: '';
	height: 31px;
	top: -9px;
	left: -6px;
	position: absolute;
	width: 31px;
}

.courses-main-wrapper .warning:before
{
	background-position: 0 -96px;
}

.courses-main-wrapper .note:before
{
	background-position: 0 -49px;
}

.courses-main-wrapper .tip:before
{
	background-position: 0 -144px;
}

.courses-main-wrapper .hint:before
{
	background-position: 0 0;
}

.courses-main-wrapper .syntax
{
	background-color: #f5f5f5;
	border: 1px solid #e3e3e3;
	border-radius: 6px;
	color: #000;
	font-size: 14px;
	min-height: 38px;
	max-height: 200px;
	margin: 24px 0;
	overflow-x: auto;
	padding: 19px 30px 24px 42px;
}

.courses-footer
{
	border-top: 1px solid #e5e5e5;
	/*height: 85px;*/
	padding-bottom: 40px;
	margin-top: 10px;
}

.courses-page-nav
{
	margin-top: 25px;
	text-align: left;
}

.courses-page-nav-back,
.courses-page-nav-forward
{
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat 100px;
	display: inline-block;
	height: 19px;
	vertical-align: middle;
	width: 26px;
}

.courses-page-nav-back
{
	background-position: center -670px;
	margin-right: 10px;
}

.courses-page-nav-back:hover
{
	background-position: center -713px;
}

.courses-page-nav-forward
{
	background-position: center -691px;
	margin-left: 10px;
}

.courses-page-nav-forward:hover
{
	background-position: center -733px;
	margin-left: 10px;
}

.courses-page-link
{
	display: inline-block;
	text-decoration: none;
	font-size: 16px;
	position: relative;
}

.courses-page-link.desc
{
	padding-left: 15px;
	margin-left: 5px;
	position: relative;
}

.courses-page-link.desc:before
{
	position: absolute;
	left: -5px;
	top: 50%;
	content: ' ';
	width: 15px;
	height: 15px;
	margin-top: -8px;
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat 0 -816px;
	margin-bottom: 20px;
}

.courses-page-link.prev,
.courses-page-link.next,
.btn-subscribe
{
	border-radius: 5px;
	font-size: 15px;
	line-height: 36px;
	margin-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: pre;
	max-width: 33%;
}

.courses-page-link.prev
{
	color: #37474f;
	background-image: -webkit-linear-gradient(#eaeef0 0%, #e1e7e9 100%);
	background-image: -o-linear-gradient(#eaeef0 0%, #e1e7e9 100%);
	background-image: linear-gradient(#eaeef0 0%, #e1e7e9 100%);
	padding: 0 15px 0 65px;
}

.courses-page-link.next,
.btn-subscribe
{
	color: #fff;
	background-image: -webkit-linear-gradient(#39ade1 0%, #3088d3 100%);
	background-image: -o-linear-gradient(#39ade1 0%, #3088d3 100%);
	background-image: linear-gradient(#39ade1 0%, #3088d3 100%);
	padding: 0 65px 0 15px;

}

.courses-page-link.prev:hover,
.courses-page-link.next:hover,
.btn-subscribe:hover
{
	opacity: .85;
}

.btn-subscribe
{
	border: none;
	cursor: pointer;
	padding-right: 15px;
	line-height: 30px;
}

.confirm-form,
.setting-form
{
	margin: 20px 0;
}

.courses-page-link.prev span.arrow,
.courses-page-link.next span.arrow
{
	display: inline-block;
	position: absolute;
	font-size: 9px;
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat;
}

.courses-page-link.prev span.arrow
{
	padding-left: 19px;
	margin-right: 10px;
	color: #b7babd;
	background-position: 0 -835px;
	left: 10px;
}

.courses-page-link.next span.arrow
{
	padding-right: 19px;
	margin-left: 10px;
	color: #b8d7f0;
	background-position: right -866px;
	right: 10px;
}

.courses-page-nav i
{
	background-color: #1f67b0;
	display: inline-block;
	height: 13px;
	margin: 0 12px;
	vertical-align: middle;
	width: 1px;
}

/* for Robert */
.leftimg
{
	float: left; /* Выравнивание по левому краю */
	margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.rightimg
{
	float: right; /* Выравнивание по правому краю */
	margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}

/*start button*/
.courses-page-link.start_course
{
	background-image: linear-gradient(#39ade1 0%, #3088d3 100%);
	color: #fff;
	padding: 0 30px 0 15px;
}

.courses-page-link.start_course
{
	border-radius: 5px;
	font-size: 15px;
	line-height: 36px;
	margin-right: 10px;
	max-width: 33%;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: middle;
	white-space: pre;
}

.courses-page-link.start_course:after
{
	content: "";
	display: inline-block;
	position: absolute;
	font-size: 9px;
	background: url(/bitrix/templates/learning_new_2014/images/courses-sprite.png) no-repeat;
	padding-right: 19px;
	margin-left: 10px;
	color: #b8d7f0;
	background-position: right -866px;
	right: 10px;
}

/*for comments*/
div.comments-reply-field div.bxlhe-frame
{
	border: none !important;
}

.lhe-stat-toolbar-cont
{
	border: none;
}

div.comments-reply-field-settings input[type=checkbox]
{
	margin: 0 0 0 5px;
}

.requirements
{
	margin: 0 15px 5px;
	border-radius: 5px;
	background-color: #cccacc;
	padding: 5px 12px;
	font-size: 14px;
	text-align: center;
	width: 50%;
	display: inline-block;
}

.deprecated-error-container
{
	text-align: center;
	position: relative;
	display: none;
}

.deprecated-error-container .close-icon
{
	background: url("/bitrix/templates/learning_new_2014/images/controls-sprite.png") no-repeat scroll -17px -283px rgba(0, 0, 0, 0);
	cursor: pointer;
	height: 13px;
	margin-right: -5px;
	outline: medium none;
	position: absolute;
	right: 25%;
	top: 8px;
	width: 13px;
}

.deprecated-error-container .close-icon:hover
{
	box-shadow: 0 0 4px #fff;
}

.education-courses .courses-post-title
{
	width: 70%;
}

/*START useful links in course*/
.useful-links
{
	position: absolute;
	right: 20px;
	top: 20px;
}

.useful-links .link
{
	display: block;
	font-size: 0.9em;
	margin-bottom: 10px;
	padding-left: 25px;
}

.useful-links .link.support
{
	background: rgba(0, 0, 0, 0) url("/bitrix/templates/learning_new_2014/icons/support5.gif") no-repeat scroll left center / auto 100%
}

.useful-links .link.forum
{
	background: rgba(0, 0, 0, 0) url("/bitrix/templates/learning_new_2014/icons/forum5.gif") no-repeat scroll left center / auto 100%
}

/*END useful links in course*/

.dev-course-comment-message-cnr
{
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #31708f;
	border: 1px solid rgba(0, 0, 0, 0);
	border-radius: 4px;
	margin-bottom: 20px;
	padding: 15px;
}

.dev-course-navigation-bottom-separator
{
	margin-top: 10px;
	margin-bottom: 7px;
}

.dev-course-developers-info
{
	padding: 7px;
	background-color: #f8f8f8;
	text-align: right;
}

.dev-course-developers-info-link
{
	text-decoration: none;
}
/* End */
/* /bitrix/templates/learning_new/css/images_with_zoom.css?1489740347531 */
/* /bitrix/templates/.default/css/learning/common.css?1487337103230 */
/* /bitrix/templates/.default/css/learning/service_blocks.css?1494839206831 */
/* /bitrix/templates/.default/components/bitrix/system.auth.form/learning_auth/style.css?14123396488512 */
/* /bitrix/templates/.default/components/bitrix/learning.course.list/course_dropdown_list/style.css?14888043704556 */
/* /bitrix/components/bx/learning.course.comment.button/templates/.default/style.css?1482412094784 */
/* /bitrix/templates/learning_new_2014/template_styles.css?149483920626160 */
