* {margin:0; padding:0;}
html,body {height:100%;}

a {	color:#F70; }
a:hover {   color: #00f; }
a:visited {	color: #960; }
a:visited:hover {	color: #00f; }

body {
	background: #fff url(../pic/bg.gif) repeat-x;
   color: 000;
   font-size:16px;
   line-height:140%;
	font: normal Tahoma, Arial, Helvetica, sans-serif;
	min-width:922px;
}

p,ul,ol { padding-bottom: 1.0em; }

dl {margin-top: 10px; margin-bottom: 10px;}
dt { font-weight: bold; }
dd { margin-left: 30px;}

.content h1 {
	color: #00a;
	font-size: 140%;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: bold;
}
.content h2 {
	color: #008;
	font-size: 130%;
	font-weight: bold;
	margin-top: 25px;
	margin-bottom: 15px; 
}

.content h3 {
   color: #36d;
   font-size: 120%;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px; 
}
.content h4 {
   color: #06C;
   font-size: 110%;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px; 
}
.content p{text-align:left;}

code {
	background: #eee; 
	border: 1px solid #F0F0F0;
	border-left: 5px solid #39F;
	color: #000;
	display: block;
   font-family: 'andale mono','lucida console',monaco,monospace;
   overflow: scroll;
	margin-bottom: 25px;
	padding: 8px 10px;
	white-space: pre-wrap;
}

.note {padding: 10px;
	border: 1px solid black;
	background-color: #d8ffd7;
   margin-bottom: 15px;
	clear: both;
}

.clearer {	clear: both;}

.container {background: url(../pic/topleft.gif) no-repeat; margin-bottom:-45px;min-height:100%;height:auto !important;}

.header {	height:92px;min-width:500px;}

.title {float: left;	padding: 28px 0 0 76px;}
.title a,.title a:hover,.title span {
	color: #FFF;
	font: normal 2em Verdana,sans-serif;
}
.title a { text-decoration: none; }

/* navigation */
.topmenu {
  	height: 92px;
  	min-width:520px;
  	float:right;
   padding: 0 16px;
   list-style:none;
   font-weight:bold;
}

.topmenu li { float:left; margin-left:10px; }
.topmenu a {
   color:#FFF;
   float: left;
	margin-top: 50px;
	padding: 8px 18px;
	text-align: center;
	text-decoration: none;
}
.topmenu a:hover,.topmenu li.active a {
      text-decoration:none;
     	background-color: #4A91C3;
     	color: #FFF;
}

.topmenu a.selected {
      background-color: #4A91C3;
      text-decoration:none;
      color:#FFF;
}

/* main */
.main {
	background: #FFF url(../pic/bgmain.gif) no-repeat;
	display:table;
	padding: 12px 10px 0 52px;
	min-width:860px;
 /*  max-width:1070px; */
}

/* content */
.content {
	display:table-cell;
	min-width:430px;
   max-width:900px;
   padding-right:15px;
}

.content .descr {
	color: #C60;
	margin-bottom: 6px;
}
.content ul li {
	list-style: url(../pic/li.gif);
	margin-left: 18px;
}
.content ol li {	margin-left: 18px;}

/* main left */
.sidenav {
	display:table-cell;
	width: 355px;
}

.sidenav h2 {
	color: #E73;
	font-size: 1.2em;
	height: 20px;
	margin-bottom: 10px;
	margin-left: 18px;
}
.sidenav ul {	margin-bottom: 20px;}
.sidenav li { 
	border-bottom: 1px dashed #EEE;
	list-style: none;
	margin: 0;
}
.sidenav li a {
	color: #777;
	display: block;
	padding: 3px 6px 3px 18px;
	text-decoration: none;
}
.sidenav li.active a {color:#00c;}
.sidenav li a:hover {
	color: #111;
	background: url(../pic/nav_li.gif) no-repeat;
}

.pad {height:45px;}
.footer {
	background: #0094D6 url(../pic/bgfooter.gif) repeat-x;
	color: #C1DEF0;
	height: 45px;
	text-align: center;
}
.footer p {padding:15px 0 0 0;}
.footer a {color: #FFF;	text-decoration: none;}
.footer a:hover {	color: #FFF;text-decoration: underline;}
.footer div {float:right; margin:7px 10px 2px 0px;}

div.ans {
	background-color: #EEEEEE;
	border: 1px solid #000000;
	margin-bottom:20px;
	display: none;
	padding: 10px;
}
p.q a {text-decoration:none; border-bottom:1px dashed;}
.strike {text-decoration:line-through;}
.lg-sq {width:336px;height:280px;margin-left:15px;margin-bottom:15px;}

@media (max-width: 922px) {
	body {min-width:460px;}
	.main {min-width:370px;}
	.sidenav {display:block;}
	.content {display:block; margin-bottom:20px;max-width:900px;}
	.topmenu {min-width:170px; padding:0 10px;}
	ul.topmenu li {display:none;}
	ul.topmenu li.last {display:block;}
}

/*--- end ---*/