/* Custom Menu For SMF - Sys-Admin.kz */
/* Author Yevgeniy Goncharov aka xck */
/* Author site http://sys-admin.kz */
/* Jun 2015 */

/* Menu container */
.custom-menu {
  height: 40px;
  background: #fff;
  border-left: 1px solid #AEAEAE;
  border-right: 1px solid #AEAEAE;
  
}

.cm-wrapper {
  padding: 0px 25px;
  height: 100%;
}

.cm-wrapper-frame{
    width: 100%;
    height: 100%;
    padding-top: 14px;
    border-top: 1px solid #ccc;
    /*background: #ccc;*/
}

/* Right / Left bars */

.cm-left{
    float: left;
}

.cm-right{
    float: right;
}

/* Service */

.cls{
    clear: both;
}

/* Custom left menu */

.cm-right ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.cm-right ul li {
    display: inline;
    margin-right: 10px;
}

#cm-right-1{
  background: url(../img/sys-admin.png) center left no-repeat;
  padding-left: 22px;
  display: inline-block;
}

#cm-right-2{
  background: url(../img/pastebin.png) center left no-repeat;
  padding-left: 22px;
}

#cm-right-3{
  background: url(../img/ups.png) center left no-repeat;
  padding-left: 22px;
}

#cm-right-4{
  background: url(../img/unihost.png) center left no-repeat;
  padding-left: 22px;
}

#cm-right-cybersec{
  background: url(../img/cybersec-ico.png) center left no-repeat;
  padding-left: 22px;
  display: inline-block;
}

#cm-right-defcon{
  background: url(../img/defcon.png) center left no-repeat;
  padding-left: 22px;
  display: inline-block;
}

#cm-right-telegram{
  background: url(../img/telegram.png) center left no-repeat;
  padding-left: 22px;
  display: inline-block;
}

#cm-right-pitch{
  background: url(../img/pitch.png) center left no-repeat;
  padding-left: 22px;
  display: inline-block;
}
