.block_code {position: relative;top: -10px;}
.codePages {color: #777; position: relative;  padding-left: 5px; float: left; width: 30px; height: 1px;} 
.codeContent {position: relative; font-size: x-small; padding-left: 30px; padding-bottom: 10px;}
.block_code pre code
{
	display: block;
	font-family: "dejavu sans mono", "monaco", "lucida console", "courier new", monospace;
	border-top: 2px solid #999;
	border-bottom: 2px solid #999;
	overflow: auto;
	white-space: pre-wrap;
	max-height: 24em;
}