/* -----------------------------------
	Print Styles 
-----------------------------------*/
@media print {
	* { 
		background: transparent !important; 
		font-family: Arial, Helvetica, sans-serif; 
		color: #444 !important; 
		text-shadow: none !important;
	}
	a {
		color: #265d7d !important;
	}
	#top,
	#header, 
	#leftcol-bg, 
	#leftcol,
	#rightcol .widget,
	#breadcrumb, 
	.meta-box, 
	.navigation, 
	#comments, 
	#respond, 
	#footer { 
		display:none; 
	}
	#rightcol {
		width:100%;
	}
	#rightcol.full-width .entry-content {
		width: 100%;
	}
}