/*		Responsive Layout
-----------------------------------*/
@media only screen and (max-width: 1000px) {
	.container {
		width: auto;
		margin: 0 10px;
	}
	.bg-area .bg-left {
		width: 250px;
	}
	#header,
	#leftcol {
		position: absolute;
		float: none;
		padding-right: 20px !important;
	}
	#rightcol,
	#access,
	#footer .container	{
		width: auto;
		padding-left: 280px;
	}
	#access .top-menu,
	#rightcol .articles {
		width: 100%;
	}
	#footer .footer-area	{
		width: 100%;
	}
	#access .top-menu {
		text-align: right;
	}
	#access .top-menu li {
		display: inline-block;
		float: none;
	}
	#content {
		padding-bottom: 80px;
	}
	.articles .hentry {
		width: 49%;
		padding-right: 2% !important;
	}
	.articles .hentry.half {
		padding-right: 0 !important;
	}
	.meta-box .publised {
		width: 40%;
	}
	.meta-box .shared {
		width: 47%;
	}
	.meta-box img.avatar {
		position: absolute;
		top: 5px;
		right: 0;
	}
	#advanced-search div.category select {
		width: 60%;
	}
	#advanced-search div.date {
		float: right;
	}
	#advanced-search div.date div {
		width: 80%;
	}
	#advanced-search div.date input#fromdate {
		margin-right: 0;
		width: 41%;
	}
	#advanced-search div.date input#todate {
		float: right;
		width: 41%;
	}
	hr.comment-line {
		display: none;
	}
	.wp-caption {
		width: auto !important;
		max-width: 100%;
	}
}

@media only screen and (max-width: 808px) {
	#content {
		padding-bottom: 0;
	}
	#footer {
		position: relative;
	}
	#footer .copyright,
	#footer .generator {
		width: 100%;
		text-align: center;
	}
	
	#access {
		float: none;
	}
	#access .menu-select {
		display: block;
	}
	#access .top-menu {
		display: none;
	}
	
	.meta-box .publised,
	.meta-box .shared {
		border: 0 !important;
		padding: 0;
		width: 100%;
	}
	.meta-box .shared {
		margin-top: 5px;
	}
	.meta-box span.print {
		position: absolute;
		bottom: 15px;
		right: 0;
	}

	#respond textarea {
		width: 90%;
	}
	
	.warrior-advanced-search .form-item input#s {
		width: 80%;
	}
	#advanced-search label {
		display: block;
		float: none;
		margin-top: -5px;
	}
	#advanced-search div.category select,
	#advanced-search div.date div	{
		width: 95%;
	}
}

@media only screen and (max-width: 650px) {
	.articles .hentry {
		width: 100%;
		padding-right: 0 !important;
		min-height: 0;
	}
	.articles h4.title {
		min-height: 0;
	}
	ul.warrior_cats li {
		width: 100%;
	}
	.meta-box span.print {
		display: none;
	}
}


@media only screen and (max-width: 600px) {
	#header {
		width: 100%;
		margin-bottom: 30px;
		padding: 0;
	}
	.bg-area {
		display: none;
	}
	.container {
		margin: 0;
		padding: 0 !important;
	}
	#top {
		position: relative;
	}
	#header,
	#access {
		height: auto;
		position: relative;
		padding: 0;
		padding-bottom: 0;
		padding-top: 25px !important;
	}
	#header .logo {
		margin-left: 10px;
		margin-bottom: 5px;
	}
	#access,
	#main-content #leftcol,
	#main-content #rightcol,
	#footer {
		width: 100%;
		padding: 0 4% !important;
		margin: 0;
		left: auto;
		position: relative;
		clear: both;
	}
	#access {
		bottom: 5px;
	}
	#access .menu-select {
		width: 100%;
		height: 15px;
		padding-bottom: 40px;
	}
	#access .menu-select select {
		top: 0;
	}
	#main-content {
		margin-top: 20px;
	}
	#main-content #leftcol {
		padding: 40px 4% !important;
	}
}

@media only screen and (max-width: 360px) {
	#access {
		position: relative;
	}
	#access .menu-select span {
		text-align: left;
		padding-left: 5px;
	}

	.warrior-advanced-search .form-item #searchsubmit {
	}
	.warrior-advanced-search .form-item #searchsubmit em {
		display: none;
		margin: 0;
	}
	#advanced-search div.category,
	#advanced-search div.date {
		float: none;
		width: 100%;
		margin: 0 0 10px 0;
	}
	#advanced-search div.date {
		margin-bottom: 0;
	}

	.meta-box .publised {
		width: 73% !important;
	}
	.meta-box img.avatar {
		max-width: 25%;
	}

	#respond input {
		width: 90%;
	}
	#respond textarea {
		width: 95%;
	}
}

@media only screen and (min-width: 480px) and (max-width: 650px) {
	.warrior-advanced-search .form-item #searchsubmit {
	}
	.warrior-advanced-search .form-item #searchsubmit em {
		display: none;
		margin: 0;
	}
	#advanced-search div.category,
	#advanced-search div.date {
		float: none;
		width: 100%;
		margin: 0 0 10px 0;
	}
	#advanced-search div.date {
		margin-bottom: 0;
	}

	.meta-box .publised {
		width: 73% !important;
	}
	.meta-box img.avatar {
		max-width: 25%;
	}

	#respond input {
		width: 90%;
	}
	#respond textarea {
		width: 95%;
	}
}