/* CUSTOM STYLESHEET
-------------------------------------------------------------------------------------
Instructions: Add your custom styles in this file instead of style.css, so it's 
easier to update the theme. Simply copy an existing style from style.css to this 
file, and modify it as you like.
------------------------------------------------------------------------------------- */



/* GLOBAL STYLES
-------------------------------------------------------------------------------------
Add styles beneath this line that you want to be applied across your entire site */



/* DESKTOP ONLY STYLES
-------------------------------------------------------------------------------------
Add styles inside the media query below that you only want to be applied to the desktop layout of your site */

@media only screen and (min-width: 801px) {



	/* Desktop styles go here */


}
.widget_monarchwidget {
    float: none;
    width: auto;
}

.social_share_widget_totalcount {
    float: left;
    text-align: left;
    width: 100%;
}
.share_totalcount_count {
    font-size: 20px;
    font-weight: 700;
    padding-right: 5px;
}
.et_social_icons_container li { border-radius: 5px;
    float: left;
    margin: 3px;
    width: 48%;}
.et_social_twitter {
    background: #00b6ba none repeat scroll 0 0;
}
.et_social_youtube {
    background: #a8240f none repeat scroll 0 0;
}
.et_social_youtube:hover {
    background: #8f1f0d none repeat scroll 0 0;
}

.et_social_facebook {
    background: #3a579a none repeat scroll 0 0;
}
.et_social_network_label{color: #fff;}
.et_social_google {
    background: #d34836 none repeat scroll 0 0;
}
.et_social_icons_container i {width: 40px; height: 40px; line-height: 40px; border-radius: 50%; background:rgba(0, 0, 0, 0.2); color: #fff; position: relative;}
.et_social_twitter i, .et_social_facebook i, .et_social_google i {
    background-color: rgba(0, 0, 0, 0.1);
}
.et_social_networkname {
    font-size: 15px;
    font-weight: 700;
}
.et_social_icons_container li > a {
    float: left;
    padding: 10px;
    text-align: center;
    width: 100%;
}
/*.et_social_icons_container li:hover i{opacity: 0;}
.et_social_icons_container li:hover i::after {opacity: 9;}*/
.et_social_icons_container li i { overflow: hidden; }
.et_social_icons_container li i::before { position: relative; top: -30px; }
.et_social_icons_container li i::before { transition:.3s; opacity: 0; }
.et_social_icons_container li i::after { display: inline-block; font-family:FontAwesome; text-align: center; width: 100%; position: relative;
    top: -40px; opacity: 1; transition:.3s; }

.et_social_icons_container li:hover i::before { top: 0; opacity: 1; }
.et_social_icons_container li:hover i::after {  top: 40px; opacity: 0; }

.et_social_icons_container li i.fa-twitter::after { content: "\f099"; }
.et_social_icons_container li i.fa-youtube-play::after { content: "\f16a"; }
.et_social_icons_container li i.fa-facebook::after { content: "\f09a"; }
.et_social_icons_container li i.fa-google::after { content: "\f1a0"; }

.et_social_twitter:hover i, .et_social_facebook:hover i, .et_social_google:hover i {
    background-color: rgba(0, 0, 0, 0.1);
}
.et_social_count > span {
    float: left;
    text-align: center;
    width: 100%;
}
#primary {
    float: left;
    margin: 0;
    padding: 0;
    width: 70%;
}
.tb-col-border.wide {
    left:71.5%;
    display:none;
}
#secondary {
    float: right;
    margin: 0;
    padding: 0;
    width: 27%;
}

.popular-posts{
    background: #eeeeee none repeat scroll 0 0;
    padding: 15px;
}
.popular-posts h2{
    color: #30394f;
}
.popular-posts .widget-title ,.recent-posts-widget-with-thumbnails .widget-title {
    border-bottom: 2px solid #12b7d5;
    padding-bottom: 10px;
     font-size: 22px;
    margin-bottom: 20px;
    background: none;
}
.popular-posts  a,.recent-posts-widget-with-thumbnails a{
    color:#000000;
    font-weight: 700;
      line-height: 20px;

}
.popular-posts  a {
     display: block;
     font-size:1.2em;

}

.recent-posts-widget-with-thumbnails span.rpwwt-post-title {
    display: block;
    font-size: 1.2em;
    padding-top: 20px;
    
}
#rpwwt-recent-posts-widget-with-thumbnails-2 img{
    width:100px;
}
.popular-posts img{
     width:100px;
}
.tb-related-posts.boxed{
    background: none;
    border:none;
}
.single .entry-meta{
    background: none;margin-bottom: 10px;
}
.single .share-icons{
       
     padding-top: 0px;
    background: url(images/dotted-line.png) bottom left repeat-x;
    
    padding-bottom: 15px;
}
#comments form{
      width:86%;
      float:left;

}

#commentform textarea{
    width:100%!important;
}

p.comment-form-author{
    width:48.5%;float:left;
}
p.comment-form-email{
    float: left;
    width: 48.5%;
    margin-left: 20px;
}
p.comment-form-comment{
    margin-bottom:10px;
}
body .fl.newsdesc h2 a{
     color:#777 !important;
    font-size:18px!important;

}
body .fl.newsdesc h2{
    line-height: 16px!important;
    margin-bottom:10px;
}
body .fl.newsdesc p.post_date{
     display:none;
}
.footer-widgets-right .widget {
    margin-bottom: 25px;
}
.footer-widgets-right #text-19 .textwidget{
    margin:50px 0;
}
#footer-widgets{
      padding-top: 0;
}
.site-inner-wrap{
    padding-bottom: 25px;
}
.sidebar-wide-top > .widget{
    margin:0 0 20px;
}
button, input[type="button"], input[type="reset"], input[type="submit"], #next-posts a:hover, a.more-link.button, input.search-submit, #commentform input#submit, #commentform input[type="submit"], .email-form input[type="submit"], .email-form input[type="button"], .email-form button, #footer-widgets button, #footer-widgets input[type="button"], #footer-widgets input[type="reset"], #footer-widgets input[type="submit"], #footer-widgets .email-form input[type="submit"], #footer-widgets .email-form input[type="button"], #footer-widgets .email-form button, #footer-widgets input.search-submit{
    background: #12b7d5;
}
.google-ads-content{
    margin:0 auto 30px;
    float:left;
    width:100%;
}
#text-19 form{
     background: #194357 none repeat scroll 0 0;
    border-radius: 11px;
}
form.subscribe-box input.feedsubmit{
    background: rgb(253,217,143)!important;
}

form.subscribe-box{
   
     background: #12b7d5  none repeat scroll 0 0;
}
#footer-widgets h2.widgettitle{ background: #12b7d5!important;
    font-size: 16px !important;
    font-weight: 600 !important;
    text-transform: uppercase;
    margin-bottom: 6px !important;
    text-align: center;
    padding: 10px;
    border-bottom: none; }

@media only screen and (max-width: 800px) {
       #primary,#secondary{
        float:none;
        width:100%;
        margin:0 auto;
       }
       #comments form{
              width:100%;
        }
       p.comment-form-author{
            width:100%;float:left;
        }
        p.comment-form-email{
            float: left;
            width: 100%;
            margin-left: 20px;
}

}