*
*: before;
*:after {
  box-sizing: border-box;
}
html {
  font: 300 12px Arial, "PT Sans", sans-serif;
  color: #333;
}
html,
body {
  padding: 0;
  margin: 0;
}
html,
body,
.sidemenu {
  height: 100%;
}
a {
  color: #6da3bd;
  text-decoration: none;
}
a:hover {
  color: #3d6f87;
  text-decoration: underline;
}
ul {
  margin: 0;
  padding: 0;
}
h4,
p {
  margin: 0 0 6px;
}
h4 {
  font-size: 19.200000000000003px;
  font-weight: 500;
}
#content {
  margin-left: 71px;
  padding: 17.75px;
}
.pull-right {
  float: right;
}
.hide {
  display: none !important;
}
.sidemenu-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,0.37);
  z-index: 99;
}
.sidemenu {
  position: fixed;
  top: 0;
  display: table;
  background-color: #f2f2f2;
  z-index: 100;
}
.sidemenu > li {
  display: table-row;
}
.sidemenu > li:hover,
.sidemenu > li.active {
  background-color: #e8e8e8;
}
.sidemenu > li > a {
  box-shadow: inset 0 -1px 0 #e3e3e3;
}
.sidemenu > li:first-child > a,
.sidemenu > li:last-child > a {
  box-shadow: none;
}
.sidemenu > li.active .sidemenu-sub {
  display: table-cell;
}
.sidemenu > li.active > a {
  box-shadow: inset 3px 0 0 #bababa;
  color: #595959;
}
.sidemenu > li.full-height {
  height: 100%;
}
.sidemenu > li.full-height > a {
  vertical-align: middle;
}
.sidemenu > li > a {
  display: table-cell;
  height: 71px;
  width: 71px;
  color: #ccc;
  text-align: center;
  text-decoration: none;
}
.sidemenu > li > a:hover {
  color: #727272;
}
.sidemenu > li > a > .fa {
  font-size: 28px;
  line-height: 71px;
}
.sidemenu > li.logo {
  background-color: #ffff01;
  text-align: center;
  overflow: hidden;
}
.sidemenu > li.logo > a {
  color: #000;
  overflow: hidden;
}
.sidemenu > li.logo .habra {
  font: 700 48.28px Tahoma;
  line-height: 71px;
  text-shadow: 0px 0px #ffa602 , 1px 1px #F0FD2D , 2px 2px #ffa602 , 3px 3px #ffa602 , 4px 4px #ffa602 , 5px 5px #ffa602 , 6px 6px #ffa602 , 7px 7px #ffa602 , 8px 8px #ffa602 , 9px 9px #ffa602 , 10px 10px #ffa602 , 11px 11px #ffa602 , 12px 12px #ffa602 , 13px 13px #ffa602 , 14px 14px #ffa602 , 15px 15px #ffa602 , 16px 16px #ffa602 , 17px 17px #ffa602 , 18px 18px #ffa602 , 19px 19px #ffa602 , 20px 20px #ffa602 , 21px 21px #ffa602 , 22px 22px #ffa602 , 23px 23px #ffa602 , 24px 24px #ffa602 , 25px 25px #ffa602 , 26px 26px #ffa602 , 27px 27px #ffa602 , 28px 28px #ffa602;
}
.sidemenu > li.has-submenu > a {
  position: relative;
}
.sidemenu > li.has-submenu > a > .marker {
  position: absolute;
  top: 7.2px;
  right: 7.2px;
}
.sidemenu > li.has-submenu .marker {
  font-size: 11px;
  font-weight: 600;
  color: #fff;
  background-color: #fb8a87;
  display: inline-block;
  border-radius: 16px;
  line-height: 16px;
  min-width: 16px;
  text-align: center;
}
.sidemenu > li .sidemenu-sub {
  display: none;
  list-style: none;
  background-color: #ededed;
  width: 177.5px;
  position: absolute;
  top: 0;
  left: 71px;
  bottom: 0;
  border-left: 1px solid #e5e5e5;
  z-index: 101;
}
.sidemenu > li .sidemenu-sub > li.text,
.sidemenu > li .sidemenu-sub > li > a {
  padding: 10.65px 17.75px;
}
.sidemenu > li .sidemenu-sub > li.text > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.sidemenu > li .sidemenu-sub > li.text > p {
  color: #8c8c8c;
}
.sidemenu > li .sidemenu-sub > li.pull-down > a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-top: 0;
  padding-bottom: 0;
  line-height: 71px;
}
.sidemenu > li .sidemenu-sub > li > a {
  display: block;
  font-size: 14.399999999999999px;
  font-weight: 700;
  color: #7f7f7f;
}
.sidemenu > li .sidemenu-sub > li > a:hover {
  color: #424242;
  text-decoration: none;
  background-color: #dbdbdb;
}
.sidemenu > li .sidemenu-sub > li > a > .fa {
  margin-top: 2px;
}
.line {
height: 1px;
width: auto;
background: #e5e3e3;
}
.text-title {
color: #1f2336;
font-size: 19px;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
section {
max-width: 1440px;
margin: 0 auto 0;
}