/*   ==index==   */

html {height: 100%;}

body {
	min-height:100%;
	height: 100%;
	font-size: 13px;
	font-family:Verdana, sans-serif;
}
a {color: #ff6600;}
h1 {font-size:23px; margin:10px 0 10px 0; font-weight:bold; display:block;}
h2 {font-size:17px; margin:10px 0 5px 0; font-weight:bold; display:block;}
h3 {font-size:14px; margin:10px 0 3px 0; font-weight:bold; display:block;}

em {font-style:italic}

#index {
	/*margin:0 auto 0;*/
	width:865px;
	margin: auto;

	/*----------------------- 100% высоты контейнера относительно клиентской области и контента для IE, FF, Opera */
	height: auto !important;
	min-height:100%;
	height: 100%;
	/*-----------------------*/
	
	background-color:#fff;
}

#content {}

#top {}
#logo {background-image:url(../images/logo2.gif); background-repeat:no-repeat; padding:0; width:400px; height:50px;}
#slogan {font-family:Arial; font-size:16px; color:#e46723; margin:-16px 0 0 280px; display: inline-block; float:left;}
#login {display: inline-block; float:right; margin:-14px 0 0 0; font-size:12px;}

.hide {display: none;}

#top5_on_inner {margin:40px 4px 0 4px; padding:6px; background-color:#EFEFEF;}
#top5_on_inner ul {margin:0 0 0 16px;}
#top5_on_inner li {padding:4px;}

#middle-menu {height:30px; margin:2px 0 0 0; background-color:#616164;}
#middle-menu ul {list-style:none; padding:6px 0 10px 4px;}
#middle-menu ul li {display:inline; padding:0 5px;}
#middle-menu ul li a {color:#FFF; font-size:14px;}

#topic_head {margin:20px 0 0 30px; text-align:left; vertical-align:top;}
#topic_img img {max-width:250px; margin:20px 20px 0 0;}

#main-text {margin:11px 6px 0 6px;}
#main-text p {margin:14px 0 0 0;}

.code {
	margin:10px 0 10px 0 !important; padding:10px; padding-left:40px; background-color:#D9EEFD; font-family:monospace; font-size:11px; background-image:url('../images/code.gif'); background-repeat:no-repeat; border:1px solid #6CB8FD;
}

.cons {
	margin:10px 0 10px 0 !important; padding:10px; padding-left:40px; font-family:monospace; font-size:11px; color:#000000; border:1px solid #CCCCCC; background-color:#EFEFEF; overflow: auto;
}

.comment {
	margin:10px 0 10px 0 !important; padding:10px; padding-left:40px; background-color:#E0EDE4; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:10px; background-image:url('../images/comments.gif'); background-repeat:no-repeat; border:1px solid #3A7E3A;
}
.comm_date { color:#333333;}
.comm_name {font-weight: bold;}
.comm_comment{margin:10px 0 0 0; font-size:12px;}

div.menu ul { margin:20px 0 0 30px;}
li.dir {background-repeat:no-repeat; padding-left:10px;  list-style-image:url(../images/folder_doc_16x16.png); vertical-align:middle}
li.doc {background-repeat:no-repeat; padding-left:10px; list-style-image:url(../images/doc.png);}

ol {
	list-style:circle; margin-left:50px;
}

ol li {
	margin-bottom: 5px;
}

/* Дополнительные стили для статей */
.blue {color: #0000FF}
.red {color: #FF0000}
.green {color: #006600}
.small_tahoma {
	font-family: Tahoma; font-size: small
}

.spoiler-block{
    margin-top:10px;
}
.spoiler-content{
    display:none;  /**скрываем блок контента спойлера**/
    padding:10px 10px; /**добавляем внутренний отступ**/
    border:1px solid #6CB8FD;
}

/* comments */
#art_comment { background-color:#C7CFE7; margin:5px 4px 5px 4px; padding:5px;}
#art_comment_time {font-size:10px; color:#333333;}
#art_comment_name {font-size:14px; font-weight:bold; color: #333333}
#art_comment_text {font-size:11px; color:#000; margin:5px 10px 0 20px;}

#footer_guarantor {height:184px; clear: both;}

#footer {
	margin: auto;
	margin-top:-130px;
	height:130px;
	clear:both;
	width:865px;
	text-align:center;
}

#footer-text {
	color:#000;
	font-size:12px;
	line-height:1.1;
	padding:0px 0 0 65px;
	position:relative;
}

#counters {
	margin:10px 0 0 0;
}
