.text h1 {
    background: url(i/h1.png) #204C8D;
    margin: 10px 0 10px 0;
    padding: 10px;
    font-size: 18pt;
    font-weight: bold;
    color: #ffffff;
    clear: both;
}
.text h2 {
    background: url(i/h2.png) #ccc;
    margin: 10px 0 10px 0;
    padding: 10px;
    font-size: 14pt;
    font-weight: bold;
    color: #204C8D;
    clear: both;
}
.text h3 {
    margin: 10px 0 10px 0;
    padding: 5px 10px 5px 10px;
    font-size: 12pt;
    font-weight: bold;
    color: #204C8D;
    border-bottom: solid 1px #ccc;
    clear: both;
}
.text pre {
    background: #FFFAE9;
    border: solid 1px #E5E5E5;
    border-left: solid 5px #E5E5E5;
    padding: 5px;
    margin: 3px 0 3px 0;
    font-size: 10pt;
    font-family: "Courier New", "monospace";
    font-weight: bold;
}
.text p {
    margin: 5px 0 5px 0;
}
.text img {
    border: solid 1px #ccc;
    padding: 3px;
    margin: 5px 0 5px 0;
}
.text body {
    font: 11pt arial;
}
.text table {
    font: 11pt arial;
}
.text td,
.text th {
    padding: 5px;
}
.text ul,
.text ol {
    margin: 5px 0 5px 25px;
}
.text b,
.text strong {
    font-weight: bold;
}
.text input,
.text textarea {
    border: solid 1px #ccc;
    background: #fff;
    padding: 1px;
}
.text a {
    color: #00A;
}
.text a.act,
.text a:hover {
    color: #A00;
}
.text a[href^="ftp"],
.text a[href^="http"] {
    background: url(i/http.gif) no-repeat center right;
    padding-right: 13px;
}
.text hr {
    border-color: #ccc;
}
