/* live search styles */
div#live_search_results {
    border: 1px solid #06157D;
    position: absolute;
    left: 41px;
    top: 120px;
    width: 490px;
    overflow: hidden;
    background-color: #D9F0FD;
    text-align:left;
    -moz-opacity: 0.9;
}

#addicted-list {
}

#addicted-list li {
    list-style-image: url(/images/icons/cubes.gif);
    list-style-position: outside;
}
#addicted-list a {
    font-family: Verdana;
    line-height: 1.5;
}

div.addicted_ctx {
    font-family: Georgia, Serif;
    font-size: small;
    line-height: 1.5;
}
div#s_title{
    font-family: Georgia, Sans-Serif;
}