#menu, #navigation, #commentform, #credit, #postcomment, #comments,  #commentlist, #comments_rss_link {
  display: none;
}
.new_img, #header img {
  display: none;
}
h1 {
  font-size: 13pt;
}

div.printonly {
  display: block;
}
body {
  background: white;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 12pt;
  font-family : serif;
  line-height: 16pt;
}

#rap {
  width: auto;
  margin: 0px;
  padding: 0px;
  border: 0px;
}
#content {
  width: auto;
  margin: 0px;
  padding: 0px;
  border: 0px;
  color: black;
  background: transparent;
  float:none;
}
.paragraph {
  margin: 1em 0 0.5em 0;
}

.http_block, .code_block, .directive_block {
  white-space: pre;
  font-family : 'Courier New',monospace;
  font-size : 75%;
  line-height: 6pt;
}
div.pic {
  margin: 10pt 0 10pt 0;
  text-align: center;
}
a:link, a:visited {
  color: #520;
  background: transparent;
  font-weight: bold;
  text-decoration: underline;
}

.command_line, .option, .file, .path, .directive, .url, .glos_item, .http {
  font-style: italic;
}
.module{
  font-weight:bold;
}


