@charset "windows-1251";

body {
	background-color: #EEE;
	text-align: justify;
}


#min_site_width {
min-width : 700px;	
}
#main_menu {
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	border-width:thin;
	border-collapse:collapse;
	background-color:#94A08E;
	color: #DBECD2;
	font-weight: bold;
	text-align: center;
	padding: 0px; 
}

/*	все ссылки в главном меню - блочные:		*/

TD#main_menu > A {
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
} 

TD#main_menu_selected > A {
	width: 100%;
	height: 100%;
	display: block;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
} 

#main_menu_text {
	text-decoration: none;
}
#main_menu_text_selected {
	text-decoration: none;
}


A#main_menu_text:visited {
	color: #330;
}
A#main_menu_text:link {
	color: #FFFFFF;
}

A#main_menu_text_selected:visited {
	color: #330;
} 
A#main_menu_text_selected:link {
	color: #330;
}


#left_menu {
	border: thin solid #009;
	border-collapse:collapse;
	background-color: #BDDEAB;
	color: #29391D;
	text-align: left;
	padding: 5px;

}


/*	все ссылки в левом меню - блочные:		*/
TD#left_menu > A {
	width: 100%;
	height: 100%;
	display: block;
} 

TD#left_menu_selected > A {
	width: 100%;
	height: 100%;
	display: block;
} 

#left_menu_text {
	text-decoration: none;
}
#left_menu_text_selected {
	text-decoration: none;
}

A#left_menu_text:visited {
	color: #330;
}
A#left_menu_text:link {
	color: #060;
}

A#left_menu_text_selected:visited {
	color: #330;  
} 
A#left_menu_text_selected:link {
	color: #330;    
}



#main_menu_selected {
	background-color: #CAD1C1;
	/*	border-top-width: 0px;
	border-right-width: 0px; 
	border-bottom-width: 0px;  
	border-left-width: 0px; 
*/	
/*	border-top-color:  #F00;
	border-right-color: #F00;
	border-bottom-color: #CFF;
	border-left-color: #CFF;
*/
/*    border: thin solid #CFF; */
	border-right :thin  solid #000;
	border-left: thin  solid #000;
	border-bottom: thin solid #CAD1C1;
	border-top: thin  solid #000;
	padding: 10px;
	color: #29391D;
	font-weight: bolder;
	padding: 0px;
}
#main_menu_selected_area {
	background-color: #CAD1C1;
	/*	border-top-width: 0px;
	border-right-width: 0px; 
	border-bottom-width: 0px;  
	border-left-width: 0px; 
*/	
/*	border-top-color:  #F00;
	border-right-color: #F00;
	border-bottom-color: #CFF;
	border-left-color: #CFF;
*/
/*    border: thin solid #CFF;*/
	border-top:thin  solid #CAD1C1;
	border-left:thin  solid #000;
	border-right:thin  solid #000;
	border-bottom:thin  solid #000;
	padding: 10px;
	vertical-align: top;
}

#left_menu_selected {
	border: thin solid #FFC;
	background-color:  #DBECD2;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;/*	color: #FFF; */
	color: #29391D;
	padding: 5px;
	
}

#main_text_block {
	/*	border: thin solid #FFC;  */
	background-color:#DBECD2;
	/*	border-top-width: 0px;
	border-right-width: 0px; 
	border-bottom-width: 0px;
	border-left-width: 0px; 
*/	
    border:none;
	padding: 5px;
	color: #322155;
}
.tables_in_text {
	border: thin solid #000;
	border-collapse: collapse;
	margin: 0px;
	padding: 5px;
}


h1 {
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: center;
}
h4 {
	text-align: center;
}

textarea {
	width: 100%;
	resize: both;
	overflow: auto;
}

li {
        padding-top: 10px;
}
