
/* Special styles for forum header */

body{border:0;outline:0;margin:0;padding:0;}
table{border-collapse:collapse;}
img{border:0;}
.noheight{font-size:0;}
td{font-family:Arial,Tahoma,Helvetica,Sans-Serif;font-size:9pt;}
.clearleft{clear:left;height:0;}
.inl{display:inline;}
.context{overflow:hidden;}
.horisontal-stack{margin:0;padding:0;list-style:none;}
.horisontal-stack li{display:inline-block;*display:inline;zoom:1;vertical-align:top;}
a.dashed{border-bottom:1px dashed;}

#page-wrapper{background:#BBE9FA url(img/body-bg.png) 0 159px repeat-x;min-height:100%;}
#page-wrapper tbody{border:0;}
a{color:#4c8db6;text-decoration:none;}
a.dash{border-bottom:1px dashed #4c8db6;}
a.inh{color:inherit;}

.pagetbl{border:0;border-collapse:collapse;width:100%;}
.pagetbl td{border:0;padding:0;}
.pagetbl .header-left, .pagetbl .header-right{background:#FFF url(img/header-lr-bg.png) bottom left repeat-x;width:49%;}
.pagetbl .header-content{background:#FFF url(img/header-content-bg.png);height:115px;vertical-align:top;width:1008px;}
.pagetbl .menu-left{background:#0D96D6 url(img/menu-l-bg.png) no-repeat right;border-bottom:1px solid #0975A8;}
.pagetbl .menu-content{background:#0D96D6 url(img/menu-content-bg.png) no-repeat;border-bottom:1px solid #0975A8;height:44px;}
.pagetbl .menu-right{background-color:#0D96D6;border-bottom:1px solid #0975A8;}
.pagetbl .headerlogo{vertical-align:top;width:615px;}

img.logo{margin-top:18px;margin-left:20px;}
.pagetbl .headerlogin{vertical-align:top;width:205px;}
.pagetbl .headerphone{vertical-align:top;width:190px;}

.menuline{width:100%;}
.menuline2{text-align:right;}

.menu{margin:0;padding:0;}
.menu .leaf{display:none;}
.menu .expanded{float:left;list-style:none outside none;width:180px;margin:0;padding:0;}
.menu .expanded a{color:#DDF225;font-size:8pt;font-weight:700;}
.menu ul{margin:3px 0 0;padding:0;}
.menu ul .leaf{display:list-item;list-style:none outside none;float:left;position:relative;margin:0 10px 0 0;padding:0;}
.menu .expanded li a{color:#325110;font-weight:400;}
.menu .pos-0{width:275px;}
.menu .pos-0 li{width:120px;}
.menu .pos-1{width:315px;}
.menu .pos-1 li{width:140px;}
.menu .pos-2{width:215px;}
.menu .pos-2 li{width:90px;}
.menu .pos-3{width:130px;}
.menu .pos-3 li{width:120px;}

#block-nice-menus-1 h2 {display:none;}
#block-nice-menus-1 ul.nice-menu {list-style:none;padding:0;margin:0;margin-left:13px;}
#block-nice-menus-1 ul.nice-menu li {background:url(img/mi-sep.png) no-repeat left;float:left;list-style:none;}
#block-nice-menus-1 ul.nice-menu li.first {background:none;}
#block-nice-menus-1 ul.nice-menu li.menu-path-forumfirstvdsru {background:none;padding-left:40px;}
#block-nice-menus-1 ul.nice-menu li ul li.menu-path-forumfirstvdsru {padding-left:0;}

#block-nice-menus-1 table.mi {margin:0px 5px 0px 7px;}
#block-nice-menus-1 table.mi tbody {border:0;}
#block-nice-menus-1 table.mi td.mil {height:30px;width:11px;}
#block-nice-menus-1 table.mi td.mic {font-family:Arial, Tahoma, Helvetica, Sans-Serif;font-size:10pt;font-weight:bold;}
#block-nice-menus-1 table.mi td.mic a {color:#FFF;text-decoration:none;text-shadow:none;}
#block-nice-menus-1 table.mi td.mir {height:30px;width:11px;}

/* Active element PRIMARY */
#block-nice-menus-1 .active-trail table.mi td.mil {background:url(img/mi-active-l.png);}
#block-nice-menus-1 .active-trail table.mi td.mic {background:url(img/mi-active-c.png);}
#block-nice-menus-1 .active-trail table.mi td.mic a {color:#0976AC;text-shadow:#FFF 1px 1px 1px;}
#block-nice-menus-1 .active-trail table.mi td.mir {background:url(img/mi-active-r.png);}