/*
    name:   cloudyDay.css
    author: Pat Heard (fullahead.org)
    date:   2005/04/30
    ported to Textpattern by Stuart (thebombsite.com)
*/



/* -- Site container definition -- */

* {
  padding: 0;
  margin: 0;
}

body {
  font: 0.8em arial, sans-serif;
  color: #444444;
  background-color: #FFFFFF;
  margin: 20px 40px 20px 40px;
}

#accessibility {
  position: absolute;
  top: -10000px;
}

#container {
  width: 99%;
}


/* -- Header definitions -- */

#headerBox {
  float: left;
  width: 100%;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  /*background: url(/static/blog/images/hdr_bg.gif) repeat-x left bottom;*/
  background: url(/static/blog/images/news_bg.gif) repeat left bottom;
  border-bottom: 1px solid #444444;
  border-top: 1px solid #444444;
}

#headerLeft {
  float: left;
  width: 39%;
  height: 50px;
  padding-top: 5px;
  /*background: url(/static/blog/images/hdr_left.gif) no-repeat left bottom;*/
}

#headerLeft h1.title, #headerLeft a {
  font-size: 1.7em;
  text-decoration: none;
  color: #999999;
  padding-left: 50px;
  font-family: Times;
  background: none;
}

#headerRight {
  float: right;
  width: 59%;
  height: 50px;
  text-align: right;
  padding-right: 20px;
  padding-top: 12px;
  /*background: url(/static/blog/images/hdr_right.gif) no-repeat right bottom;*/
  }


/* -- Header link bar definitions -- */

#headerRight a {
  padding-left: 20px;
  text-decoration: none;
  color: #999999;
}

#headerRight a:hover {
  color: #444444;
}

#headerRight a.home:hover, #headerRight a.activehome {
  color: #444444;
  background: url(/static/blog/images/icn_home.gif) no-repeat left center;
}

#headerRight a.gallery:hover, #headerRight a.activegallery {
  color: #444444;
  background: url(/static/blog/images/icn_gallery.gif) no-repeat left center;
}

#headerRight a.about:hover, #headerRight a.activeabout {
  color: #444444;
  background: url(/static/blog/images/icn_about.gif) no-repeat left center;
}

#headerRight a.links:hover, #headerRight a.activelinks {
  color: #444444;
  background: url(/static/blog/images/icn_links.gif) no-repeat left center;
}

#headerRight a.contact:hover, #headerRight a.activecontact {
  color: #444444;
  background: url(/static/blog/images/icn_email.gif) no-repeat left center;
}


/* -- Content column & layout definitions -- */

#contentBox {
  width: 100%;
  clear: both;
}

#sidebar {
  float: left;
  width: 28%;
  padding: 0.8em 5px 1em 0;
}

#sidebar h3 {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  padding-left: 5px;
}

.sidebarBox {
  margin-bottom: 1.4em;
  margin-top: 0.5em;
  padding-top: 1em;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  background: url(/static/blog/images/news_bg.gif) repeat top left;
}

.sidebarBox form {
  padding-left: 5px;
}

#sidebar a {
  text-decoration: none;
  color: #999999;
}

#sidebar a:hover {
  color: #111111;
}

#content {
  float: right;
  width: 70%;
}

#content_body {
  width: 90%;
  margin-left: 5%;
}

#content p a {
  text-decoration: underline;
  color: #999999;
}

#content ul a {
  text-decoration: none;
  color: #999999;
}

#content li {
  margin-top: -1em;
  margin-bottom: 1em;
}

#content p a:hover, #content ul a:hover {
  color: #111111;
  background: #CCCCCC url(/static/blog/images/a_hover.gif) repeat-x left bottom;
}

.post ol {
  list-style-position: inside;
  margin-left: 0.75em;
}

#content h2.posttitle {
  clear: both;
  margin-top: 1.0em;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  background: url(/static/blog/images/news_bg.gif) repeat left bottom;
}

#content h2.posttitle a {
  font-size: 1.2em;
  text-decoration: none;
  color: #999999;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  font-family: Times;
  background: none;
}

#content h2.posttitle a:hover {
  text-decoration: none;
  color: #444444;
}

#content h2.singleposttitle {
  clear: both;
  color: #999999;
  font-size: 2em;
  margin-top: 0.7em;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 5px;
  font-family: Times;
  text-align: center;
  background: url(/static/blog/images/news_bg.gif) repeat left bottom;
}

.categorytitle, .searchtitle, .searchcount {
  font-size: 1.5em;
}

hr.clearing {
  clear: both;
  display: none;
  height: 1px;
}


/* -- Footer definitions -- */

#footerBox {
  clear: both;
  width: 100%;
  height: 25px;
  font-size: 0.8em !important;
  font-size: 1em;
  color: #999999;
  border-top: 1px solid #D1D1D1;
  margin-top: 1em;
}

#footerLeft {
  float: left;
  width: 49%;
  text-align: left;
}

#footerRight {
  float: right;
  width: 49%;
  text-align: right;
}

#footerBox a {
  text-decoration: none;
  color: #999999;
}

#footerBox a:hover {
  text-decoration: underline;
  color: #111111;
}


/* -- Layout class definitions -- */

.subHeading {
  display: block;
  clear: both;
  font-size: 0.85em;
  font-weight: bold;
}

.noDisplay  {
  display: none;
}

.bigRightChar, .bigLeftChar {
  font-size: 5.0em;
}

.bigRightChar {
  float: right;
  width: 11%;
  text-align: left;
}

.bigLeftChar {
  float: left;
  width: 10%;
  text-align: right;
}

.center {
  text-align: center;
}

#righttext a, #righttext p {
  float: left;
  text-decoration: none;
  color: #444444;
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 1em !important;
  margin-bottom: 0;
  border: 1px solid #444444;
  background: url(/static/blog/images/news_bg.gif) repeat left bottom;
  width: 10%;
  text-align: center;
}

#righttext a:hover {
  color: #000000;
  text-decoration: none;
  border: 1px solid #000000;
}

#lefttext a, #lefttext p {
  float: left;
  text-decoration: none;
  color: #444444;
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 1em !important;
  margin-bottom: 0;
  border: 1px solid #444444;
  background: url(/static/blog/images/news_bg.gif) repeat left bottom;
  width: 10%;
  text-align: center;
  margin-left: 10%;
}

#lefttext a:hover {
  color: #000000;
  text-decoration: none;
  border: 1px solid #000000;
}

#centertext p {
  float: left;
  text-decoration: none;
  color: #444444;
  padding: 5px;
  margin-top: 1em;
  margin-bottom: 1em !important;
  margin-bottom: 0;
  border: 1px solid #444444;
  background: url(/static/blog/images/news_bg.gif) repeat left bottom;
  width: 60%;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}


/* -- Element class definitions -- */

acronym {
  cursor: help;
  background-color: #FFFFFF;
  border: 1px solid #D2D2D2;
}

#content ul {
  margin-left: 2.0em;
  padding-left: 2.0em;
  /*list-style-image: url(/static/blog/images/bullet.gif);*/
}

#sidebar ul {
  list-style-position: inside;
  margin-left: 0.75em;
  padding-bottom: 1em;
  list-style-image: url(/static/blog/images/bullet.gif);
}

#sidebar ul li:hover {
  list-style-image: url(/static/blog/images/bullet_on.gif);
}

p {
  margin: 15px 0 15px 0;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #999999;
}

a:hover {
  color: #111111;
  background: #CCCCCC  url(/static/blog/images/a_hover.gif) repeat-x left bottom;
}

dl {
  margin: 15px 0 15px 0;
}

dt {
  margin: 0.5em 0 0 0;
  font-weight: bold;
}
   
dd {
/*  margin: 0 0 15px 0; */
  margin-left: 2em;
  font-style: italic;
}
   
p.posttitle {
  margin: 5px 0 15px 0;
}

pre {
  word-wrap: break-word;
  margin: 15px 0 15px 0;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #eeeeee;
}

code {
  /*background-color: #eeeeee;
  padding-left: 0.5em;
  padding-right: 0.5em;*/
  font: inherit;
  font-style: italic;
}

/* -- Comments -- */

h3#comment {
  clear: both;
  font-size: 1.6em;
  margin-top: 2.0em;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  background: url(/static/blog/images/news_bg.gif) repeat left bottom;
  text-align: center;
}

ol.comments {
  margin: 1.2em 1.2em 1.2em 0;
  list-style-type: none;
}

ol.comments li {
  border-bottom: 1px solid #999999;
  padding: 1px 0 1px 0;
  margin-bottom: 1.5em;
}

h3.commenttitle a {
  font-size: 1.1em;
  text-decoration: none;
  color: #444444;
  border: 0;
}

h3.commenttitle a:hover {
  background: #CCCCCC url(/static/blog/images/a_hover.gif) repeat-x left bottom;
}

.commentmeta {
  font-size: 0.9em;
}

#cpreview p.preview {
  font-size: 1.2em;
  color: #444444;
  text-align: center;
}


/* -- Comment Form -- */

h3#postcomment {
  display: block;
  clear: both;
  margin: 0.6em 0.6em 0 0.6em;
  font-weight: bold;
  font-size: 1.6em;
  color: #444444;
  text-align: center;
  border: 0;
}

form#txpCommentInputForm {
  margin-top: 40px;
  border: 1px solid #444444;
  background: url(/static/blog/images/news_bg.gif) repeat left bottom;
  padding-bottom: 1.2em;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

form#txpCommentInputForm p {
  margin: 0 0 0 1.2em;
  padding: 0;
}

input#forget, input#remember {
  margin-right: 5px;
}

textarea.txpCommentInputMessage {
  height: 250px;
  width: 325px;
  margin-bottom: 10px;
}

p#txpCommentInputForm {
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 10px 0;
  border-top: 1px solid #444444;
  border-bottom: 1px solid #444444;
  background: url(/static/blog/images/news_bg.gif) repeat left bottom;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}


/* -- Image class definitions -- */

.imgBlock {
  float: left;
  width: 75%;
  text-align: center;
  padding-left: 10px;
  margin-bottom: 1.0em;
}

.imgBlock .imgThree {
  padding: 0 2% 0 2%;
}

.imgLeft {
  float: left;
  padding: 5px;
}

.imgRight {
  float: right;
  padding: 5px;
}

.imgText {
  display: block;
  font-size: 0.7em;
}


/* -- Form element class definitions -- */

.inputField {
  font-size: 0.70em;
  border: 1px solid #D2D2D2;
  background-color: #FFFFFF;
}

.inputField:focus {
  color: #444444;
  border: 1px solid #999999;
}


/* Show / hide from bootstrap */
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.collapse.in {
  height: auto;
}

.centered {
  text-align: center;
}

.images-table {
  width: 100%; 
  margin: 15px 0 15px 0;
}

table {
  border-collapse: collapse; 
  margin: 15px 0 15px 0;
}

table.table-bordered {
  /*width: 100%;*/
  border: 1px solid black;
  border-collapse: collapse; 
  margin: 15px 0 15px 0;
}

td, th {
  padding: 0.2em 0.5em 0.2em 0.5em;
}

